html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }

body { line-height: 1; }

ol, ul { list-style: none; }

table { border-collapse: collapse; border-spacing: 0; }

caption, th, td { text-align: left; font-weight: normal; vertical-align: middle; }

q, blockquote { quotes: none; }
q:before, q:after, blockquote:before, blockquote:after { content: ""; content: none; }

a img { border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary { display: block; }

@font-face { font-family: "GreenMudJJRegular"; src: url('../fonts/jj/GreenMudJJ-Regular.otf') format('opentype'); font-weight: normal; font-style: normal; }

/* Typography ---------------------------------------------------------------- */
.serif, .jj { font-family: "GreenMudJJRegular", serif; }

.sans, .susy { font-family: sans-serif; }

.mono, pre, code, tt, .narrator, body { font-family: monospace, sans-serif; }

.allcaps, caption { text-transform: uppercase; }

.smallcaps { font-variant: small-caps; }

/* Layout -------------------------------------------------------------------- */
.full { display: block; float: none; width: auto; }

.half { max-width: 50%; }

.left { display: inline; float: left; margin-right: 1em; margin-bottom: 0.5em; }

.right { display: inline; float: right; margin-left: 1em; margin-bottom: 0.5em; }

.hidden { position: absolute; clip: rect(0 0 0 0); overflow: hidden; margin: -1px; padding: 0; height: 1px; width: 1px; border: 0; }

@-webkit-keyframes fadeIn { 0% { opacity: 0; }
  100% { opacity: 1; } }

@-webkit-keyframes fadeOut { 0% { opacity: 1; }
  100% { opacity: 0; } }

@-webkit-keyframes fadeInUp { 0% { opacity: 0; -webkit-transform: translateY(20px); }
  100% { opacity: 1; -webkit-transform: translateY(0); } }

@-webkit-keyframes fadeOutUp { 0% { opacity: 1; -webkit-transform: translateY(0); }
  100% { opacity: 0; -webkit-transform: translateY(-20px); } }

@-webkit-keyframes fadeInDown { 0% { opacity: 0; -webkit-transform: translateY(-20px); }
  100% { opacity: 1; -webkit-transform: translateY(0); } }

@-webkit-keyframes fadeOutDown { 0% { opacity: 1; -webkit-transform: translateY(0); }
  100% { opacity: 0; -webkit-transform: translateY(20px); } }

@-webkit-keyframes fadeInRight { 0% { opacity: 0; -webkit-transform: translateX(20px); }
  100% { opacity: 1; -webkit-transform: translateX(0); } }

@-webkit-keyframes fadeOutLeft { 0% { opacity: 1; -webkit-transform: translateX(0); }
  100% { opacity: 0; -webkit-transform: translateX(-20px); } }

@-webkit-keyframes fadeInLeft { 0% { opacity: 0; -webkit-transform: translateX(-20px); }
  100% { opacity: 1; -webkit-transform: translateX(0); } }

@-webkit-keyframes fadeOutRight { 0% { opacity: 1; -webkit-transform: translateX(0); }
  100% { opacity: 0; -webkit-transform: translateX(20px); } }

@-webkit-keyframes fadeInUpBig { 0% { opacity: 0; -webkit-transform: translateY(2000px); }
  100% { opacity: 1; -webkit-transform: translateY(0); } }

@-webkit-keyframes fadeOutUpBig { 0% { opacity: 1; -webkit-transform: translateY(0); }
  100% { opacity: 0; -webkit-transform: translateY(-2000px); } }

@-webkit-keyframes fadeInDownBig { 0% { opacity: 0; -webkit-transform: translateY(-2000px); }
  100% { opacity: 1; -webkit-transform: translateY(0); } }

@-webkit-keyframes fadeOutDownBig { 0% { opacity: 1; -webkit-transform: translateY(0); }
  100% { opacity: 0; -webkit-transform: translateY(2000px); } }

@-webkit-keyframes fadeInRightBig { 0% { opacity: 0; -webkit-transform: translateX(2000px); }
  100% { opacity: 1; -webkit-transform: translateX(0); } }

@-webkit-keyframes fadeOutLeftBig { 0% { opacity: 1; -webkit-transform: translateX(0); }
  100% { opacity: 0; -webkit-transform: translateX(-2000px); } }

@-webkit-keyframes fadeInLeftBig { 0% { opacity: 0; -webkit-transform: translateX(-2000px); }
  100% { opacity: 1; -webkit-transform: translateX(0); } }

@-webkit-keyframes fadeOutRightBig { 0% { opacity: 1; -webkit-transform: translateX(0); }
  100% { opacity: 0; -webkit-transform: translateX(2000px); } }

@-webkit-keyframes bounceIn { 0% { opacity: 0; -webkit-transform: scale(0.3); }
  50% { opacity: 1; -webkit-transform: scale(1.05); }
  70% { -webkit-transform: scale(0.9); }
  100% { -webkit-transform: scale(1); } }

@-webkit-keyframes bounceInDown { 0% { opacity: 0; -webkit-transform: translateY(-2000px); }
  60% { opacity: 1; -webkit-transform: translateY(30px); }
  80% { -webkit-transform: translateY(-10px); }
  100% { -webkit-transform: translateY(0); } }

@-webkit-keyframes bounceInUp { 0% { opacity: 0; -webkit-transform: translateY(2000px); }
  60% { opacity: 1; -webkit-transform: translateY(-30px); }
  80% { -webkit-transform: translateY(10px); }
  100% { -webkit-transform: translateY(0); } }

@-webkit-keyframes bounceInRight { 0% { opacity: 0; -webkit-transform: translateX(2000px); }
  60% { opacity: 1; -webkit-transform: translateX(-30px); }
  80% { -webkit-transform: translateX(10px); }
  100% { -webkit-transform: translateX(0); } }

@-webkit-keyframes bounceInLeft { 0% { opacity: 0; -webkit-transform: translateX(-2000px); }
  60% { opacity: 1; -webkit-transform: translateX(30px); }
  80% { -webkit-transform: translateX(-10px); }
  100% { -webkit-transform: translateX(0); } }

@-webkit-keyframes bounceOut { 0% { -webkit-transform: scale(1); }
  25% { -webkit-transform: scale(0.95); }
  50% { opacity: 1; -webkit-transform: scale(1.1); }
  100% { opacity: 0; -webkit-transform: scale(0.3); } }

@-webkit-keyframes bounceOutUp { 0% { -webkit-transform: translateY(0); }
  20% { opacity: 1; -webkit-transform: translateY(20px); }
  100% { opacity: 0; -webkit-transform: translateY(-2000px); } }

@-webkit-keyframes bounceOutDown { 0% { -webkit-transform: translateY(0); }
  20% { opacity: 1; -webkit-transform: translateY(-20px); }
  100% { opacity: 0; -webkit-transform: translateY(2000px); } }

@-webkit-keyframes bounceOutLeft { 0% { -webkit-transform: translateX(0); }
  20% { opacity: 1; -webkit-transform: translateX(20px); }
  100% { opacity: 0; -webkit-transform: translateX(-2000px); } }

@-webkit-keyframes bounceOutRight { 0% { -webkit-transform: translateX(0); }
  20% { opacity: 1; -webkit-transform: translateX(-20px); }
  100% { opacity: 0; -webkit-transform: translateX(2000px); } }

@-webkit-keyframes flash { 0% { opacity: 1; }
  25% { opacity: 0; }
  50% { opacity: 1; }
  75% { opacity: 0; }
  100% { opacity: 1; } }

@-webkit-keyframes bounce { 0% { -webkit-transform: translateY(0); }
  20% { -webkit-transform: translateY(0); }
  40% { -webkit-transform: translateY(-30px); }
  50% { -webkit-transform: translateY(0); }
  60% { -webkit-transform: translateY(-15px); }
  80% { -webkit-transform: translateY(0); }
  100% { -webkit-transform: translateY(0); } }

@-webkit-keyframes shake { 0% { -webkit-transform: translateX(0); }
  10% { -webkit-transform: translateX(-10px); }
  20% { -webkit-transform: translateX(10px); }
  30% { -webkit-transform: translateX(-10px); }
  40% { -webkit-transform: translateX(10px); }
  50% { -webkit-transform: translateX(-10px); }
  60% { -webkit-transform: translateX(10px); }
  70% { -webkit-transform: translateX(-10px); }
  80% { -webkit-transform: translateX(10px); }
  90% { -webkit-transform: translateX(-10px); }
  100% { -webkit-transform: translateX(0); } }

@-webkit-keyframes rotateInDownLeft { 0% { -webkit-transform-origin: left bottom; -webkit-transform: rotate(-90deg); opacity: 0; }
  100% { -webkit-transform-origin: left bottom; -webkit-transform: rotate(0); opacity: 1; } }

@-webkit-keyframes rotateInUpLeft { 0% { -webkit-transform-origin: left bottom; -webkit-transform: rotate(90deg); opacity: 0; }
  100% { -webkit-transform-origin: left bottom; -webkit-transform: rotate(0); opacity: 1; } }

@-webkit-keyframes rotateInUpRight { 0% { -webkit-transform-origin: right bottom; -webkit-transform: rotate(-90deg); opacity: 0; }
  100% { -webkit-transform-origin: right bottom; -webkit-transform: rotate(0); opacity: 1; } }

@-webkit-keyframes rotateInDownRight { 0% { -webkit-transform-origin: right bottom; -webkit-transform: rotate(90deg); opacity: 0; }
  100% { -webkit-transform-origin: right bottom; -webkit-transform: rotate(0); opacity: 1; } }

@-webkit-keyframes rotateOutDownLeft { 0% { -webkit-transform-origin: left bottom; -webkit-transform: rotate(0); opacity: 1; }
  100% { -webkit-transform-origin: left bottom; -webkit-transform: rotate(90deg); opacity: 0; } }

@-webkit-keyframes rotateOutUpLeft { 0% { -webkit-transform-origin: left bottom; -webkit-transform: rotate(0); opacity: 1; }
  100% { -webkit-transform-origin: left bottom; -webkit-transform: rotate(-90deg); opacity: 0; } }

@-webkit-keyframes rotateOutDownRight { 0% { -webkit-transform-origin: right bottom; -webkit-transform: rotate(0); opacity: 1; }
  100% { -webkit-transform-origin: right bottom; -webkit-transform: rotate(-90deg); opacity: 0; } }

@-webkit-keyframes rotateOutUpRight { 0% { -webkit-transform-origin: right bottom; -webkit-transform: rotate(0); opacity: 1; }
  100% { -webkit-transform-origin: right bottom; -webkit-transform: rotate(90deg); opacity: 0; } }

@-webkit-keyframes rotateIn { 0% { -webkit-transform-origin: center center; -webkit-transform: rotate(-200deg); opacity: 0; }
  100% { -webkit-transform-origin: center center; -webkit-transform: rotate(0); opacity: 1; } }

@-webkit-keyframes rotateOut { 0% { -webkit-transform-origin: center center; -webkit-transform: rotate(0); opacity: 1; }
  100% { -webkit-transform-origin: center center; -webkit-transform: rotate(200deg); opacity: 0; } }

@-webkit-keyframes tada { 0% { -webkit-transform: scale(1); }
  10% { -webkit-transform: scale(0.9) rotate(-3deg); }
  20% { -webkit-transform: scale(0.9) rotate(-3deg); }
  30% { -webkit-transform: scale(1.1) rotate(3deg); }
  40% { -webkit-transform: scale(1.1) rotate(-3deg); }
  50% { -webkit-transform: scale(1.1) rotate(3deg); }
  60% { -webkit-transform: scale(1.1) rotate(-3deg); }
  70% { -webkit-transform: scale(1.1) rotate(3deg); }
  80% { -webkit-transform: scale(1.1) rotate(-3deg); }
  90% { -webkit-transform: scale(1.1) rotate(3deg); }
  100% { -webkit-transform: scale(1) rotate(0); } }

@-moz-keyframes fadeIn { 0% { opacity: 0; }
  100% { opacity: 1; } }

@-moz-keyframes fadeOut { 0% { opacity: 1; }
  100% { opacity: 0; } }

@-moz-keyframes fadeInUp { 0% { opacity: 0; -moz-transform: translateY(20px); }
  100% { opacity: 1; -moz-transform: translateY(0); } }

@-moz-keyframes fadeOutUp { 0% { opacity: 1; -moz-transform: translateY(0); }
  100% { opacity: 0; -moz-transform: translateY(-20px); } }

@-moz-keyframes fadeInDown { 0% { opacity: 0; -moz-transform: translateY(-20px); }
  100% { opacity: 1; -moz-transform: translateY(0); } }

@-moz-keyframes fadeOutDown { 0% { opacity: 1; -moz-transform: translateY(0); }
  100% { opacity: 0; -moz-transform: translateY(20px); } }

@-moz-keyframes fadeInRight { 0% { opacity: 0; -moz-transform: translateX(20px); }
  100% { opacity: 1; -moz-transform: translateX(0); } }

@-moz-keyframes fadeOutLeft { 0% { opacity: 1; -moz-transform: translateX(0); }
  100% { opacity: 0; -moz-transform: translateX(-20px); } }

@-moz-keyframes fadeInLeft { 0% { opacity: 0; -moz-transform: translateX(-20px); }
  100% { opacity: 1; -moz-transform: translateX(0); } }

@-moz-keyframes fadeOutRight { 0% { opacity: 1; -moz-transform: translateX(0); }
  100% { opacity: 0; -moz-transform: translateX(20px); } }

@-moz-keyframes fadeInUpBig { 0% { opacity: 0; -moz-transform: translateY(2000px); }
  100% { opacity: 1; -moz-transform: translateY(0); } }

@-moz-keyframes fadeOutUpBig { 0% { opacity: 1; -moz-transform: translateY(0); }
  100% { opacity: 0; -moz-transform: translateY(-2000px); } }

@-moz-keyframes fadeInDownBig { 0% { opacity: 0; -moz-transform: translateY(-2000px); }
  100% { opacity: 1; -moz-transform: translateY(0); } }

@-moz-keyframes fadeOutDownBig { 0% { opacity: 1; -moz-transform: translateY(0); }
  100% { opacity: 0; -moz-transform: translateY(2000px); } }

@-moz-keyframes fadeInRightBig { 0% { opacity: 0; -moz-transform: translateX(2000px); }
  100% { opacity: 1; -moz-transform: translateX(0); } }

@-moz-keyframes fadeOutLeftBig { 0% { opacity: 1; -moz-transform: translateX(0); }
  100% { opacity: 0; -moz-transform: translateX(-2000px); } }

@-moz-keyframes fadeInLeftBig { 0% { opacity: 0; -moz-transform: translateX(-2000px); }
  100% { opacity: 1; -moz-transform: translateX(0); } }

@-moz-keyframes fadeOutRightBig { 0% { opacity: 1; -moz-transform: translateX(0); }
  100% { opacity: 0; -moz-transform: translateX(2000px); } }

@-moz-keyframes bounceIn { 0% { opacity: 0; -moz-transform: scale(0.3); }
  50% { opacity: 1; -moz-transform: scale(1.05); }
  70% { -moz-transform: scale(0.9); }
  100% { -moz-transform: scale(1); } }

@-moz-keyframes bounceInDown { 0% { opacity: 0; -moz-transform: translateY(-2000px); }
  60% { opacity: 1; -moz-transform: translateY(30px); }
  80% { -moz-transform: translateY(-10px); }
  100% { -moz-transform: translateY(0); } }

@-moz-keyframes bounceInUp { 0% { opacity: 0; -moz-transform: translateY(2000px); }
  60% { opacity: 1; -moz-transform: translateY(-30px); }
  80% { -moz-transform: translateY(10px); }
  100% { -moz-transform: translateY(0); } }

@-moz-keyframes bounceInRight { 0% { opacity: 0; -moz-transform: translateX(2000px); }
  60% { opacity: 1; -moz-transform: translateX(-30px); }
  80% { -moz-transform: translateX(10px); }
  100% { -moz-transform: translateX(0); } }

@-moz-keyframes bounceInLeft { 0% { opacity: 0; -moz-transform: translateX(-2000px); }
  60% { opacity: 1; -moz-transform: translateX(30px); }
  80% { -moz-transform: translateX(-10px); }
  100% { -moz-transform: translateX(0); } }

@-moz-keyframes bounceOut { 0% { -moz-transform: scale(1); }
  25% { -moz-transform: scale(0.95); }
  50% { opacity: 1; -moz-transform: scale(1.1); }
  100% { opacity: 0; -moz-transform: scale(0.3); } }

@-moz-keyframes bounceOutUp { 0% { -moz-transform: translateY(0); }
  20% { opacity: 1; -moz-transform: translateY(20px); }
  100% { opacity: 0; -moz-transform: translateY(-2000px); } }

@-moz-keyframes bounceOutDown { 0% { -moz-transform: translateY(0); }
  20% { opacity: 1; -moz-transform: translateY(-20px); }
  100% { opacity: 0; -moz-transform: translateY(2000px); } }

@-moz-keyframes bounceOutLeft { 0% { -moz-transform: translateX(0); }
  20% { opacity: 1; -moz-transform: translateX(20px); }
  100% { opacity: 0; -moz-transform: translateX(-2000px); } }

@-moz-keyframes bounceOutRight { 0% { -moz-transform: translateX(0); }
  20% { opacity: 1; -moz-transform: translateX(-20px); }
  100% { opacity: 0; -moz-transform: translateX(2000px); } }

@-moz-keyframes flash { 0% { opacity: 1; }
  25% { opacity: 0; }
  50% { opacity: 1; }
  75% { opacity: 0; }
  100% { opacity: 1; } }

@-moz-keyframes bounce { 0% { -moz-transform: translateY(0); }
  20% { -moz-transform: translateY(0); }
  40% { -moz-transform: translateY(-30px); }
  50% { -moz-transform: translateY(0); }
  60% { -moz-transform: translateY(-15px); }
  80% { -moz-transform: translateY(0); }
  100% { -moz-transform: translateY(0); } }

@-moz-keyframes shake { 0% { -moz-transform: translateX(0); }
  10% { -moz-transform: translateX(-10px); }
  20% { -moz-transform: translateX(10px); }
  30% { -moz-transform: translateX(-10px); }
  40% { -moz-transform: translateX(10px); }
  50% { -moz-transform: translateX(-10px); }
  60% { -moz-transform: translateX(10px); }
  70% { -moz-transform: translateX(-10px); }
  80% { -moz-transform: translateX(10px); }
  90% { -moz-transform: translateX(-10px); }
  100% { -moz-transform: translateX(0); } }

@-moz-keyframes rotateInDownLeft { 0% { -moz-transform-origin: left bottom; -moz-transform: rotate(-90deg); opacity: 0; }
  100% { -moz-transform-origin: left bottom; -moz-transform: rotate(0); opacity: 1; } }

@-moz-keyframes rotateInUpLeft { 0% { -moz-transform-origin: left bottom; -moz-transform: rotate(90deg); opacity: 0; }
  100% { -moz-transform-origin: left bottom; -moz-transform: rotate(0); opacity: 1; } }

@-moz-keyframes rotateInUpRight { 0% { -moz-transform-origin: right bottom; -moz-transform: rotate(-90deg); opacity: 0; }
  100% { -moz-transform-origin: right bottom; -moz-transform: rotate(0); opacity: 1; } }

@-moz-keyframes rotateInDownRight { 0% { -moz-transform-origin: right bottom; -moz-transform: rotate(90deg); opacity: 0; }
  100% { -moz-transform-origin: right bottom; -moz-transform: rotate(0); opacity: 1; } }

@-moz-keyframes rotateOutDownLeft { 0% { -moz-transform-origin: left bottom; -moz-transform: rotate(0); opacity: 1; }
  100% { -moz-transform-origin: left bottom; -moz-transform: rotate(90deg); opacity: 0; } }

@-moz-keyframes rotateOutUpLeft { 0% { -moz-transform-origin: left bottom; -moz-transform: rotate(0); opacity: 1; }
  100% { -moz-transform-origin: left bottom; -moz-transform: rotate(-90deg); opacity: 0; } }

@-moz-keyframes rotateOutDownRight { 0% { -moz-transform-origin: right bottom; -moz-transform: rotate(0); opacity: 1; }
  100% { -moz-transform-origin: right bottom; -moz-transform: rotate(-90deg); opacity: 0; } }

@-moz-keyframes rotateOutUpRight { 0% { -moz-transform-origin: right bottom; -moz-transform: rotate(0); opacity: 1; }
  100% { -moz-transform-origin: right bottom; -moz-transform: rotate(90deg); opacity: 0; } }

@-moz-keyframes rotateIn { 0% { -moz-transform-origin: center center; -moz-transform: rotate(-200deg); opacity: 0; }
  100% { -moz-transform-origin: center center; -moz-transform: rotate(0); opacity: 1; } }

@-moz-keyframes rotateOut { 0% { -moz-transform-origin: center center; -moz-transform: rotate(0); opacity: 1; }
  100% { -moz-transform-origin: center center; -moz-transform: rotate(200deg); opacity: 0; } }

@-moz-keyframes tada { 0% { -moz-transform: scale(1); }
  10% { -moz-transform: scale(0.9) rotate(-3deg); }
  20% { -moz-transform: scale(0.9) rotate(-3deg); }
  30% { -moz-transform: scale(1.1) rotate(3deg); }
  40% { -moz-transform: scale(1.1) rotate(-3deg); }
  50% { -moz-transform: scale(1.1) rotate(3deg); }
  60% { -moz-transform: scale(1.1) rotate(-3deg); }
  70% { -moz-transform: scale(1.1) rotate(3deg); }
  80% { -moz-transform: scale(1.1) rotate(-3deg); }
  90% { -moz-transform: scale(1.1) rotate(3deg); }
  100% { -moz-transform: scale(1) rotate(0); } }

@-ms-keyframes fadeIn { 0% { opacity: 0; }
  100% { opacity: 1; } }

@-ms-keyframes fadeOut { 0% { opacity: 1; }
  100% { opacity: 0; } }

@-ms-keyframes fadeInUp { 0% { opacity: 0; -ms-transform: translateY(20px); }
  100% { opacity: 1; -ms-transform: translateY(0); } }

@-ms-keyframes fadeOutUp { 0% { opacity: 1; -ms-transform: translateY(0); }
  100% { opacity: 0; -ms-transform: translateY(-20px); } }

@-ms-keyframes fadeInDown { 0% { opacity: 0; -ms-transform: translateY(-20px); }
  100% { opacity: 1; -ms-transform: translateY(0); } }

@-ms-keyframes fadeOutDown { 0% { opacity: 1; -ms-transform: translateY(0); }
  100% { opacity: 0; -ms-transform: translateY(20px); } }

@-ms-keyframes fadeInRight { 0% { opacity: 0; -ms-transform: translateX(20px); }
  100% { opacity: 1; -ms-transform: translateX(0); } }

@-ms-keyframes fadeOutLeft { 0% { opacity: 1; -ms-transform: translateX(0); }
  100% { opacity: 0; -ms-transform: translateX(-20px); } }

@-ms-keyframes fadeInLeft { 0% { opacity: 0; -ms-transform: translateX(-20px); }
  100% { opacity: 1; -ms-transform: translateX(0); } }

@-ms-keyframes fadeOutRight { 0% { opacity: 1; -ms-transform: translateX(0); }
  100% { opacity: 0; -ms-transform: translateX(20px); } }

@-ms-keyframes fadeInUpBig { 0% { opacity: 0; -ms-transform: translateY(2000px); }
  100% { opacity: 1; -ms-transform: translateY(0); } }

@-ms-keyframes fadeOutUpBig { 0% { opacity: 1; -ms-transform: translateY(0); }
  100% { opacity: 0; -ms-transform: translateY(-2000px); } }

@-ms-keyframes fadeInDownBig { 0% { opacity: 0; -ms-transform: translateY(-2000px); }
  100% { opacity: 1; -ms-transform: translateY(0); } }

@-ms-keyframes fadeOutDownBig { 0% { opacity: 1; -ms-transform: translateY(0); }
  100% { opacity: 0; -ms-transform: translateY(2000px); } }

@-ms-keyframes fadeInRightBig { 0% { opacity: 0; -ms-transform: translateX(2000px); }
  100% { opacity: 1; -ms-transform: translateX(0); } }

@-ms-keyframes fadeOutLeftBig { 0% { opacity: 1; -ms-transform: translateX(0); }
  100% { opacity: 0; -ms-transform: translateX(-2000px); } }

@-ms-keyframes fadeInLeftBig { 0% { opacity: 0; -ms-transform: translateX(-2000px); }
  100% { opacity: 1; -ms-transform: translateX(0); } }

@-ms-keyframes fadeOutRightBig { 0% { opacity: 1; -ms-transform: translateX(0); }
  100% { opacity: 0; -ms-transform: translateX(2000px); } }

@-ms-keyframes bounceIn { 0% { opacity: 0; -ms-transform: scale(0.3); }
  50% { opacity: 1; -ms-transform: scale(1.05); }
  70% { -ms-transform: scale(0.9); }
  100% { -ms-transform: scale(1); } }

@-ms-keyframes bounceInDown { 0% { opacity: 0; -ms-transform: translateY(-2000px); }
  60% { opacity: 1; -ms-transform: translateY(30px); }
  80% { -ms-transform: translateY(-10px); }
  100% { -ms-transform: translateY(0); } }

@-ms-keyframes bounceInUp { 0% { opacity: 0; -ms-transform: translateY(2000px); }
  60% { opacity: 1; -ms-transform: translateY(-30px); }
  80% { -ms-transform: translateY(10px); }
  100% { -ms-transform: translateY(0); } }

@-ms-keyframes bounceInRight { 0% { opacity: 0; -ms-transform: translateX(2000px); }
  60% { opacity: 1; -ms-transform: translateX(-30px); }
  80% { -ms-transform: translateX(10px); }
  100% { -ms-transform: translateX(0); } }

@-ms-keyframes bounceInLeft { 0% { opacity: 0; -ms-transform: translateX(-2000px); }
  60% { opacity: 1; -ms-transform: translateX(30px); }
  80% { -ms-transform: translateX(-10px); }
  100% { -ms-transform: translateX(0); } }

@-ms-keyframes bounceOut { 0% { -ms-transform: scale(1); }
  25% { -ms-transform: scale(0.95); }
  50% { opacity: 1; -ms-transform: scale(1.1); }
  100% { opacity: 0; -ms-transform: scale(0.3); } }

@-ms-keyframes bounceOutUp { 0% { -ms-transform: translateY(0); }
  20% { opacity: 1; -ms-transform: translateY(20px); }
  100% { opacity: 0; -ms-transform: translateY(-2000px); } }

@-ms-keyframes bounceOutDown { 0% { -ms-transform: translateY(0); }
  20% { opacity: 1; -ms-transform: translateY(-20px); }
  100% { opacity: 0; -ms-transform: translateY(2000px); } }

@-ms-keyframes bounceOutLeft { 0% { -ms-transform: translateX(0); }
  20% { opacity: 1; -ms-transform: translateX(20px); }
  100% { opacity: 0; -ms-transform: translateX(-2000px); } }

@-ms-keyframes bounceOutRight { 0% { -ms-transform: translateX(0); }
  20% { opacity: 1; -ms-transform: translateX(-20px); }
  100% { opacity: 0; -ms-transform: translateX(2000px); } }

@-ms-keyframes flash { 0% { opacity: 1; }
  25% { opacity: 0; }
  50% { opacity: 1; }
  75% { opacity: 0; }
  100% { opacity: 1; } }

@-ms-keyframes bounce { 0% { -ms-transform: translateY(0); }
  20% { -ms-transform: translateY(0); }
  40% { -ms-transform: translateY(-30px); }
  50% { -ms-transform: translateY(0); }
  60% { -ms-transform: translateY(-15px); }
  80% { -ms-transform: translateY(0); }
  100% { -ms-transform: translateY(0); } }

@-ms-keyframes shake { 0% { -ms-transform: translateX(0); }
  10% { -ms-transform: translateX(-10px); }
  20% { -ms-transform: translateX(10px); }
  30% { -ms-transform: translateX(-10px); }
  40% { -ms-transform: translateX(10px); }
  50% { -ms-transform: translateX(-10px); }
  60% { -ms-transform: translateX(10px); }
  70% { -ms-transform: translateX(-10px); }
  80% { -ms-transform: translateX(10px); }
  90% { -ms-transform: translateX(-10px); }
  100% { -ms-transform: translateX(0); } }

@-ms-keyframes rotateInDownLeft { 0% { -ms-transform-origin: left bottom; -ms-transform: rotate(-90deg); opacity: 0; }
  100% { -ms-transform-origin: left bottom; -ms-transform: rotate(0); opacity: 1; } }

@-ms-keyframes rotateInUpLeft { 0% { -ms-transform-origin: left bottom; -ms-transform: rotate(90deg); opacity: 0; }
  100% { -ms-transform-origin: left bottom; -ms-transform: rotate(0); opacity: 1; } }

@-ms-keyframes rotateInUpRight { 0% { -ms-transform-origin: right bottom; -ms-transform: rotate(-90deg); opacity: 0; }
  100% { -ms-transform-origin: right bottom; -ms-transform: rotate(0); opacity: 1; } }

@-ms-keyframes rotateInDownRight { 0% { -ms-transform-origin: right bottom; -ms-transform: rotate(90deg); opacity: 0; }
  100% { -ms-transform-origin: right bottom; -ms-transform: rotate(0); opacity: 1; } }

@-ms-keyframes rotateOutDownLeft { 0% { -ms-transform-origin: left bottom; -ms-transform: rotate(0); opacity: 1; }
  100% { -ms-transform-origin: left bottom; -ms-transform: rotate(90deg); opacity: 0; } }

@-ms-keyframes rotateOutUpLeft { 0% { -ms-transform-origin: left bottom; -ms-transform: rotate(0); opacity: 1; }
  100% { -ms-transform-origin: left bottom; -ms-transform: rotate(-90deg); opacity: 0; } }

@-ms-keyframes rotateOutDownRight { 0% { -ms-transform-origin: right bottom; -ms-transform: rotate(0); opacity: 1; }
  100% { -ms-transform-origin: right bottom; -ms-transform: rotate(-90deg); opacity: 0; } }

@-ms-keyframes rotateOutUpRight { 0% { -ms-transform-origin: right bottom; -ms-transform: rotate(0); opacity: 1; }
  100% { -ms-transform-origin: right bottom; -ms-transform: rotate(90deg); opacity: 0; } }

@-ms-keyframes rotateIn { 0% { -ms-transform-origin: center center; -ms-transform: rotate(-200deg); opacity: 0; }
  100% { -ms-transform-origin: center center; -ms-transform: rotate(0); opacity: 1; } }

@-ms-keyframes rotateOut { 0% { -ms-transform-origin: center center; -ms-transform: rotate(0); opacity: 1; }
  100% { -ms-transform-origin: center center; -ms-transform: rotate(200deg); opacity: 0; } }

@-ms-keyframes tada { 0% { -ms-transform: scale(1); }
  10% { -ms-transform: scale(0.9) rotate(-3deg); }
  20% { -ms-transform: scale(0.9) rotate(-3deg); }
  30% { -ms-transform: scale(1.1) rotate(3deg); }
  40% { -ms-transform: scale(1.1) rotate(-3deg); }
  50% { -ms-transform: scale(1.1) rotate(3deg); }
  60% { -ms-transform: scale(1.1) rotate(-3deg); }
  70% { -ms-transform: scale(1.1) rotate(3deg); }
  80% { -ms-transform: scale(1.1) rotate(-3deg); }
  90% { -ms-transform: scale(1.1) rotate(3deg); }
  100% { -ms-transform: scale(1) rotate(0); } }

@keyframes fadeIn { 0% { opacity: 0; }
  100% { opacity: 1; } }

@keyframes fadeOut { 0% { opacity: 1; }
  100% { opacity: 0; } }

@keyframes fadeInUp { 0% { opacity: 0; transform: translateY(20px); }
  100% { opacity: 1; transform: translateY(0); } }

@keyframes fadeOutUp { 0% { opacity: 1; transform: translateY(0); }
  100% { opacity: 0; transform: translateY(-20px); } }

@keyframes fadeInDown { 0% { opacity: 0; transform: translateY(-20px); }
  100% { opacity: 1; transform: translateY(0); } }

@keyframes fadeOutDown { 0% { opacity: 1; transform: translateY(0); }
  100% { opacity: 0; transform: translateY(20px); } }

@keyframes fadeInRight { 0% { opacity: 0; transform: translateX(20px); }
  100% { opacity: 1; transform: translateX(0); } }

@keyframes fadeOutLeft { 0% { opacity: 1; transform: translateX(0); }
  100% { opacity: 0; transform: translateX(-20px); } }

@keyframes fadeInLeft { 0% { opacity: 0; transform: translateX(-20px); }
  100% { opacity: 1; transform: translateX(0); } }

@keyframes fadeOutRight { 0% { opacity: 1; transform: translateX(0); }
  100% { opacity: 0; transform: translateX(20px); } }

@keyframes fadeInUpBig { 0% { opacity: 0; transform: translateY(2000px); }
  100% { opacity: 1; transform: translateY(0); } }

@keyframes fadeOutUpBig { 0% { opacity: 1; transform: translateY(0); }
  100% { opacity: 0; transform: translateY(-2000px); } }

@keyframes fadeInDownBig { 0% { opacity: 0; transform: translateY(-2000px); }
  100% { opacity: 1; transform: translateY(0); } }

@keyframes fadeOutDownBig { 0% { opacity: 1; transform: translateY(0); }
  100% { opacity: 0; transform: translateY(2000px); } }

@keyframes fadeInRightBig { 0% { opacity: 0; transform: translateX(2000px); }
  100% { opacity: 1; transform: translateX(0); } }

@keyframes fadeOutLeftBig { 0% { opacity: 1; transform: translateX(0); }
  100% { opacity: 0; transform: translateX(-2000px); } }

@keyframes fadeInLeftBig { 0% { opacity: 0; transform: translateX(-2000px); }
  100% { opacity: 1; transform: translateX(0); } }

@keyframes fadeOutRightBig { 0% { opacity: 1; transform: translateX(0); }
  100% { opacity: 0; transform: translateX(2000px); } }

@keyframes bounceIn { 0% { opacity: 0; transform: scale(0.3); }
  50% { opacity: 1; transform: scale(1.05); }
  70% { transform: scale(0.9); }
  100% { transform: scale(1); } }

@keyframes bounceInDown { 0% { opacity: 0; transform: translateY(-2000px); }
  60% { opacity: 1; transform: translateY(30px); }
  80% { transform: translateY(-10px); }
  100% { transform: translateY(0); } }

@keyframes bounceInUp { 0% { opacity: 0; transform: translateY(2000px); }
  60% { opacity: 1; transform: translateY(-30px); }
  80% { transform: translateY(10px); }
  100% { transform: translateY(0); } }

@keyframes bounceInRight { 0% { opacity: 0; transform: translateX(2000px); }
  60% { opacity: 1; transform: translateX(-30px); }
  80% { transform: translateX(10px); }
  100% { transform: translateX(0); } }

@keyframes bounceInLeft { 0% { opacity: 0; transform: translateX(-2000px); }
  60% { opacity: 1; transform: translateX(30px); }
  80% { transform: translateX(-10px); }
  100% { transform: translateX(0); } }

@keyframes bounceOut { 0% { transform: scale(1); }
  25% { transform: scale(0.95); }
  50% { opacity: 1; transform: scale(1.1); }
  100% { opacity: 0; transform: scale(0.3); } }

@keyframes bounceOutUp { 0% { transform: translateY(0); }
  20% { opacity: 1; transform: translateY(20px); }
  100% { opacity: 0; transform: translateY(-2000px); } }

@keyframes bounceOutDown { 0% { transform: translateY(0); }
  20% { opacity: 1; transform: translateY(-20px); }
  100% { opacity: 0; transform: translateY(2000px); } }

@keyframes bounceOutLeft { 0% { transform: translateX(0); }
  20% { opacity: 1; transform: translateX(20px); }
  100% { opacity: 0; transform: translateX(-2000px); } }

@keyframes bounceOutRight { 0% { transform: translateX(0); }
  20% { opacity: 1; transform: translateX(-20px); }
  100% { opacity: 0; transform: translateX(2000px); } }

@keyframes flash { 0% { opacity: 1; }
  25% { opacity: 0; }
  50% { opacity: 1; }
  75% { opacity: 0; }
  100% { opacity: 1; } }

@keyframes bounce { 0% { transform: translateY(0); }
  20% { transform: translateY(0); }
  40% { transform: translateY(-30px); }
  50% { transform: translateY(0); }
  60% { transform: translateY(-15px); }
  80% { transform: translateY(0); }
  100% { transform: translateY(0); } }

@keyframes shake { 0% { transform: translateX(0); }
  10% { transform: translateX(-10px); }
  20% { transform: translateX(10px); }
  30% { transform: translateX(-10px); }
  40% { transform: translateX(10px); }
  50% { transform: translateX(-10px); }
  60% { transform: translateX(10px); }
  70% { transform: translateX(-10px); }
  80% { transform: translateX(10px); }
  90% { transform: translateX(-10px); }
  100% { transform: translateX(0); } }

@keyframes rotateInDownLeft { 0% { transform-origin: left bottom; transform: rotate(-90deg); opacity: 0; }
  100% { transform-origin: left bottom; transform: rotate(0); opacity: 1; } }

@keyframes rotateInUpLeft { 0% { transform-origin: left bottom; transform: rotate(90deg); opacity: 0; }
  100% { transform-origin: left bottom; transform: rotate(0); opacity: 1; } }

@keyframes rotateInUpRight { 0% { transform-origin: right bottom; transform: rotate(-90deg); opacity: 0; }
  100% { transform-origin: right bottom; transform: rotate(0); opacity: 1; } }

@keyframes rotateInDownRight { 0% { transform-origin: right bottom; transform: rotate(90deg); opacity: 0; }
  100% { transform-origin: right bottom; transform: rotate(0); opacity: 1; } }

@keyframes rotateOutDownLeft { 0% { transform-origin: left bottom; transform: rotate(0); opacity: 1; }
  100% { transform-origin: left bottom; transform: rotate(90deg); opacity: 0; } }

@keyframes rotateOutUpLeft { 0% { transform-origin: left bottom; transform: rotate(0); opacity: 1; }
  100% { transform-origin: left bottom; transform: rotate(-90deg); opacity: 0; } }

@keyframes rotateOutDownRight { 0% { transform-origin: right bottom; transform: rotate(0); opacity: 1; }
  100% { transform-origin: right bottom; transform: rotate(-90deg); opacity: 0; } }

@keyframes rotateOutUpRight { 0% { transform-origin: right bottom; transform: rotate(0); opacity: 1; }
  100% { transform-origin: right bottom; transform: rotate(90deg); opacity: 0; } }

@keyframes rotateIn { 0% { transform-origin: center center; transform: rotate(-200deg); opacity: 0; }
  100% { transform-origin: center center; transform: rotate(0); opacity: 1; } }

@keyframes rotateOut { 0% { transform-origin: center center; transform: rotate(0); opacity: 1; }
  100% { transform-origin: center center; transform: rotate(200deg); opacity: 0; } }

@keyframes tada { 0% { transform: scale(1); }
  10% { transform: scale(0.9) rotate(-3deg); }
  20% { transform: scale(0.9) rotate(-3deg); }
  30% { transform: scale(1.1) rotate(3deg); }
  40% { transform: scale(1.1) rotate(-3deg); }
  50% { transform: scale(1.1) rotate(3deg); }
  60% { transform: scale(1.1) rotate(-3deg); }
  70% { transform: scale(1.1) rotate(3deg); }
  80% { transform: scale(1.1) rotate(-3deg); }
  90% { transform: scale(1.1) rotate(3deg); }
  100% { transform: scale(1) rotate(0); } }

/* Links --------------------------------------------------------------------- */
/* Lists --------------------------------------------------------------------- */
/* Root ---------------------------------------------------------------------- */
body { font-size: 200%; line-height: 1.25em; }

html > body { font-size: 32px; }

html { font-size-adjust: 0.4; font-variant-ligatures: common-ligatures; text-rendering: optimizeLegibility; -webkit-font-smoothing: antialiased; -webkit-text-size-adjust: 40%; -ms-text-size-adjust: 40%; }

body { background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(5%, rgba(204, 204, 204, 0.25)), color-stop(5%, rgba(204, 204, 204, 0))); background-image: -webkit-linear-gradient(bottom, rgba(204, 204, 204, 0.25) 5%, rgba(204, 204, 204, 0) 5%); background-image: -moz-linear-gradient(bottom, rgba(204, 204, 204, 0.25) 5%, rgba(204, 204, 204, 0) 5%); background-image: -o-linear-gradient(bottom, rgba(204, 204, 204, 0.25) 5%, rgba(204, 204, 204, 0) 5%); background-image: -ms-linear-gradient(bottom, rgba(204, 204, 204, 0.25) 5%, rgba(204, 204, 204, 0) 5%); background-image: linear-gradient(bottom, rgba(204, 204, 204, 0.25) 5%, rgba(204, 204, 204, 0) 5%); -moz-background-size: 100% 40px; -webkit-background-size: 100% 40px; -o-background-size: 100% 40px; background-size: 100% 40px; background-position: left top; position: relative; color: black; }

/* Selected Text ------------------------------------------------------------- */
::-webkit-selection { color: black; background: #7979d2; text-shadow: none; }

::-moz-selection { color: black; background: #7979d2; text-shadow: none; }

::selection { color: black; background: #7979d2; text-shadow: none; }

/* Links --------------------------------------------------------------------- */
a:hover, a:active { outline: none; }
a:link, a:visited { color: #7979d2; text-decoration: none; }
a:focus, a:hover, a:active { color: #993333; }

/* Inline -------------------------------------------------------------------- */
cite, em, dfn, address, i { font-style: italic; }

strong, dfn, b { font-weight: 700; }

sup, sub { position: relative; font-size: smaller; line-height: 0; }

sup { top: -0.5em; }

sub { bottom: -0.25em; }

abbr, acronym { border-bottom: 1px dotted; cursor: help; }

ins { text-decoration: underline; }

del { text-decoration: line-through; }

mark { background: #ffff99; background-color: rgba(255, 255, 0, 0.5); text-shadow: none; }

small { font-size: 0.375em; line-height: 3.333em; }

q { font-style: italic; }
q em { font-style: normal; }

/* Block --------------------------------------------------------------------- */
p { margin-bottom: 1.25em; }

pre { white-space: pre; }

blockquote { font-style: italic; }

/* Interactive --------------------------------------------------------------- */
details { margin-bottom: 1.25em; }

summary { display: inline; cursor: pointer; }
summary:focus { outline: thin dotted #993333; }

.no-details details > * { display: none; }
.no-details details summary { display: inline; }

/* Replaced ------------------------------------------------------------------ */
img, object, embed { vertical-align: top; max-width: 100%; }

.ie7 img { -ms-interpolation-mode: bicubic; }

/* Lists --------------------------------------------------------------------- */
ol, ul, dd { margin-left: 1.25em; }

ol { list-style-type: decimal; }

ul { list-style-type: disc; }
nav ul { margin: 0; padding: 0; border: 0; list-style: none; }
nav ul li { list-style-image: none; list-style-type: none; margin-left: 0px; }

dt { margin-top: 1.25em; }

/* Tables -------------------------------------------------------------------- */
table { margin-bottom: 1.25em; width: 100%; border-collapse: separate; border-spacing: 0; }

table, td, th { vertical-align: top; }

th, thead th { font-weight: bold; }

th, td, caption { padding: 0.625em; text-align: left; font-weight: normal; }

table, th { border-bottom-style: solid; border-bottom-width: 0.031em; padding-bottom: 0.594em; }

tfoot { font-size: 0.438em; line-height: 2.857em; }

#toggle:link, #toggle:visited { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=13); opacity: 0.125; -moz-transition: opacity 300ms; -webkit-transition: opacity 300ms; -o-transition: opacity 300ms; transition: opacity 300ms; text-indent: -119988px; overflow: hidden; text-align: left; background-image: url('../images/ui/bookmark.png?1319924701'); background-repeat: no-repeat; background-position: 50% 50%; position: fixed; top: 0; right: 0; width: 1.25em; height: 1.25em; background-color: rgba(0, 0, 0, 0.9); z-index: 900; }
#toggle.active { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100); opacity: 1; }

.controls { font-size: 0.512em; line-height: 2.441em; position: absolute; left: 0; right: 0; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); opacity: 0; -moz-transition: opacity 300ms; -webkit-transition: opacity 300ms; -o-transition: opacity 300ms; transition: opacity 300ms; overflow: hidden; *zoom: 1; position: fixed; padding: 0 0.61em; background-color: rgba(0, 0, 0, 0.9); color: #f2f2f2; z-index: -1; }
.controls.before { top: 0; padding-right: 2.441em; }
.controls.after { bottom: 0; }
.controls.active { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100); opacity: 1; z-index: 800; }
.controls a:link, .controls a:visited { color: #cccccc; }
.controls a:focus, .controls a:hover, .controls a:active { color: #b3b3e6; }

.pagenav { display: inline; float: right; }
.pagenav ul { margin: 0; padding: 0; border: 0; list-style: none; }
.pagenav ul li { list-style-image: none; list-style-type: none; margin-left: 0px; }
.pagenav li { display: inline; float: left; }
.pagenav a { -moz-transition: opacity 300ms; -webkit-transition: opacity 300ms; -o-transition: opacity 300ms; transition: opacity 300ms; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=25); opacity: 0.25; display: block; width: 2.441em; height: 2.441em; }
.pagenav a:link, .pagenav a:visited { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=75); opacity: 0.75; }
.pagenav a[href]:focus, .pagenav a[href]:hover, .pagenav a[href]:active { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100); opacity: 1; }
.pagenav a.active { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=75); opacity: 0.75; }
.pagenav a.active:focus, .pagenav a.active:hover, .pagenav a.active:active { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100); opacity: 1; cursor: pointer; }

.prev span, .prev a { text-indent: -119988px; overflow: hidden; text-align: left; background-image: url('../images/ui/arrow_left.png?1319924665'); background-repeat: no-repeat; background-position: 50% 50%; }

.next a:link, .next a:visited { text-indent: -119988px; overflow: hidden; text-align: left; background-image: url('../images/ui/arrow_right.png?1319924680'); background-repeat: no-repeat; background-position: 50% 50%; }

#location { position: absolute; top: 0; bottom: 0; left: 0.61em; right: 7.324em; }

h1, .breadcrumb { display: -moz-inline-box; -moz-box-orient: vertical; display: inline-block; vertical-align: middle; *vertical-align: auto; margin: 0; padding: 0; }
h1, .breadcrumb { *display: inline; }

.breadcrumb { margin: 0; padding: 0; border: 0; overflow: hidden; *zoom: 1; }
.breadcrumb li { list-style-image: none; list-style-type: none; margin-left: 0px; display: -moz-inline-box; -moz-box-orient: vertical; display: inline-block; vertical-align: middle; *vertical-align: auto; white-space: nowrap; }
.breadcrumb li { *display: inline; }
.breadcrumb .crumb::before { content: " » "; }

.page { position: absolute; top: 0; bottom: 0; left: 0; right: 0; display: none; padding: 2.5em 0; background: white; overflow-y: auto; }
.page:nth-child(100) { z-index: 1; }
.page:nth-child(99) { z-index: 2; }
.page:nth-child(98) { z-index: 3; }
.page:nth-child(97) { z-index: 4; }
.page:nth-child(96) { z-index: 5; }
.page:nth-child(95) { z-index: 6; }
.page:nth-child(94) { z-index: 7; }
.page:nth-child(93) { z-index: 8; }
.page:nth-child(92) { z-index: 9; }
.page:nth-child(91) { z-index: 10; }
.page:nth-child(90) { z-index: 11; }
.page:nth-child(89) { z-index: 12; }
.page:nth-child(88) { z-index: 13; }
.page:nth-child(87) { z-index: 14; }
.page:nth-child(86) { z-index: 15; }
.page:nth-child(85) { z-index: 16; }
.page:nth-child(84) { z-index: 17; }
.page:nth-child(83) { z-index: 18; }
.page:nth-child(82) { z-index: 19; }
.page:nth-child(81) { z-index: 20; }
.page:nth-child(80) { z-index: 21; }
.page:nth-child(79) { z-index: 22; }
.page:nth-child(78) { z-index: 23; }
.page:nth-child(77) { z-index: 24; }
.page:nth-child(76) { z-index: 25; }
.page:nth-child(75) { z-index: 26; }
.page:nth-child(74) { z-index: 27; }
.page:nth-child(73) { z-index: 28; }
.page:nth-child(72) { z-index: 29; }
.page:nth-child(71) { z-index: 30; }
.page:nth-child(70) { z-index: 31; }
.page:nth-child(69) { z-index: 32; }
.page:nth-child(68) { z-index: 33; }
.page:nth-child(67) { z-index: 34; }
.page:nth-child(66) { z-index: 35; }
.page:nth-child(65) { z-index: 36; }
.page:nth-child(64) { z-index: 37; }
.page:nth-child(63) { z-index: 38; }
.page:nth-child(62) { z-index: 39; }
.page:nth-child(61) { z-index: 40; }
.page:nth-child(60) { z-index: 41; }
.page:nth-child(59) { z-index: 42; }
.page:nth-child(58) { z-index: 43; }
.page:nth-child(57) { z-index: 44; }
.page:nth-child(56) { z-index: 45; }
.page:nth-child(55) { z-index: 46; }
.page:nth-child(54) { z-index: 47; }
.page:nth-child(53) { z-index: 48; }
.page:nth-child(52) { z-index: 49; }
.page:nth-child(51) { z-index: 50; }
.page:nth-child(50) { z-index: 51; }
.page:nth-child(49) { z-index: 52; }
.page:nth-child(48) { z-index: 53; }
.page:nth-child(47) { z-index: 54; }
.page:nth-child(46) { z-index: 55; }
.page:nth-child(45) { z-index: 56; }
.page:nth-child(44) { z-index: 57; }
.page:nth-child(43) { z-index: 58; }
.page:nth-child(42) { z-index: 59; }
.page:nth-child(41) { z-index: 60; }
.page:nth-child(40) { z-index: 61; }
.page:nth-child(39) { z-index: 62; }
.page:nth-child(38) { z-index: 63; }
.page:nth-child(37) { z-index: 64; }
.page:nth-child(36) { z-index: 65; }
.page:nth-child(35) { z-index: 66; }
.page:nth-child(34) { z-index: 67; }
.page:nth-child(33) { z-index: 68; }
.page:nth-child(32) { z-index: 69; }
.page:nth-child(31) { z-index: 70; }
.page:nth-child(30) { z-index: 71; }
.page:nth-child(29) { z-index: 72; }
.page:nth-child(28) { z-index: 73; }
.page:nth-child(27) { z-index: 74; }
.page:nth-child(26) { z-index: 75; }
.page:nth-child(25) { z-index: 76; }
.page:nth-child(24) { z-index: 77; }
.page:nth-child(23) { z-index: 78; }
.page:nth-child(22) { z-index: 79; }
.page:nth-child(21) { z-index: 80; }
.page:nth-child(20) { z-index: 81; }
.page:nth-child(19) { z-index: 82; }
.page:nth-child(18) { z-index: 83; }
.page:nth-child(17) { z-index: 84; }
.page:nth-child(16) { z-index: 85; }
.page:nth-child(15) { z-index: 86; }
.page:nth-child(14) { z-index: 87; }
.page:nth-child(13) { z-index: 88; }
.page:nth-child(12) { z-index: 89; }
.page:nth-child(11) { z-index: 90; }
.page:nth-child(10) { z-index: 91; }
.page:nth-child(9) { z-index: 92; }
.page:nth-child(8) { z-index: 93; }
.page:nth-child(7) { z-index: 94; }
.page:nth-child(6) { z-index: 95; }
.page:nth-child(5) { z-index: 96; }
.page:nth-child(4) { z-index: 97; }
.page:nth-child(3) { z-index: 98; }
.page:nth-child(2) { z-index: 99; }
.page:nth-child(1) { z-index: 100; }

.prev-page, .active-page, .next-page { -moz-transition: all 800ms; -webkit-transition: all 800ms; -o-transition: all 800ms; transition: all 800ms; display: block; }

.prev-page { -moz-transform: translate(-100%, 0); -webkit-transform: translate(-100%, 0); -o-transform: translate(-100%, 0); -ms-transform: translate(-100%, 0); transform: translate(-100%, 0); }
