@charset "UTF-8";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font: inherit; font-size: 100%; vertical-align: baseline; }

html { line-height: 1; }

ol, ul { list-style: none; }

table { border-collapse: collapse; border-spacing: 0; }

caption, th, td { text-align: left; font-weight: normal; vertical-align: middle; }

q, blockquote { quotes: none; }
q:before, q:after, blockquote:before, blockquote:after { content: ""; content: none; }

a img { border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary { display: block; }

/*  Font Awesome the iconic font designed for use with Twitter Bootstrap ------------------------------------------------------- The full suite of pictographic icons, examples, and documentation can be found at: http://fortawesome.github.com/Font-Awesome/
 License ------------------------------------------------------- The Font Awesome webfont, CSS, and LESS files are licensed under CC BY 3.0: http://creativecommons.org/licenses/by/3.0/ A mention of 'Font Awesome - http://fortawesome.github.com/Font-Awesome' in human-readable source code is considered acceptable attribution (most common on the web). If human readable source code is not available to the end user, a mention in an 'About' or 'Credits' screen is considered acceptable (most common in desktop or mobile software).
 Contact ------------------------------------------------------- Email: dave@davegandy.com Twitter: http://twitter.com/fortaweso_me Work: http://lemonwi.se co-founder
 */
@font-face { font-family: "FontAwesome"; src: url('../fonts/font-awesome/fontawesome-webfont.eot'); src: url('../fonts/font-awesome/fontawesome-webfont.eot?#iefix') format('eot'), url('../fonts/font-awesome/fontawesome-webfont.woff') format('woff'), url('../fonts/font-awesome/fontawesome-webfont.ttf') format('truetype'), url('../fonts/font-awesome/fontawesome-webfont.otf') format('opentype'), url('../fonts/font-awesome/fontawesome-webfont.svgz#FontAwesomeRegular') format('svg'), url('../fonts/font-awesome/fontawesome-webfont.svg#FontAwesomeRegular') format('svg'); font-weight: normal; font-style: normal; }

#toggle, [rel="contents"], [rel="prev"], [rel="next"] { text-indent: -9999px; overflow: hidden; display: inline-block; position: relative; min-width: 1em; }
#toggle::before, [rel="contents"]::before, [rel="prev"]::before, [rel="next"]::before { margin-right: 0.4em; position: absolute; left: 0; top: 0; text-indent: 0; font-family: FontAwesome; font-weight: normal; font-style: normal; }

/* ---------------------------------------------------------------------------- fonts */
@font-face { font-family: "GreenMudJJRegular"; src: url('../fonts/jj/greenmudjj-regular-webfont.eot'); src: url('../fonts/jj/greenmudjj-regular-webfont.eot?#iefix') format('eot'), url('../fonts/jj/greenmudjj-regular-webfont.woff') format('woff'), url('../fonts/jj/greenmudjj-regular-webfont.ttf') format('truetype'), url('../fonts/jj/greenmudjj-regular-webfont.svg#GreenMudJJRegular') format('svg'); font-weight: normal; font-style: normal; }

@font-face { font-family: "GreenMudJJRegular"; src: url('../fonts/jj/greenmudjj-italic-webfont.eot'); src: url('../fonts/jj/greenmudjj-italic-webfont.eot?#iefix') format('eot'), url('../fonts/jj/greenmudjj-italic-webfont.woff') format('woff'), url('../fonts/jj/greenmudjj-italic-webfont.ttf') format('truetype'), url('../fonts/jj/greenmudjj-italic-webfont.svg#GreenMudJJItalic') format('svg'); font-weight: normal; font-style: italic; }

/* ---------------------------------------------------------------------------- type */
.jj, .susy, .narrator { font-family: "GreenMudJJRegular", sans-serif; }

.breadcrumb { overflow: hidden; max-height: 1.208em; white-space: nowrap; word-wrap: break-word; -o-text-overflow: ellipsis; text-overflow: ellipsis; }

/* ---------------------------------------------------------------------------- defaults */
.content h1, .content h2, .content h3, .content h4 { font-size: 1.458em; line-height: 1.243em; }
.content p, .content ol, .content ul { margin-bottom: 1.208em; }
.content ol { list-style-type: decimal; }
.content ul { list-style-type: circle; }

/* ---------------------------------------------------------------------------- root */
html { font-size: 150%; line-height: 1.208em; }

html { font-family: "GreenMudJJRegular", sans-serif; color: #606060; }

/* ---------------------------------------------------------------------------- links */
a:link, a:visited { text-decoration: none; color: blue; }
a:hover, a:focus, a:active { color: magenta; }

/* ---------------------------------------------------------------------------- controls */
.controls { font-size: 0.833em; line-height: 1.45em; overflow: hidden; position: absolute; left: 0; right: 0; -webkit-transition: all 200ms; -moz-transition: all 200ms; -ms-transition: all 200ms; -o-transition: all 200ms; transition: all 200ms; -webkit-transform: translateY(-4.35em); -moz-transform: translateY(-4.35em); -ms-transform: translateY(-4.35em); -o-transform: translateY(-4.35em); transform: translateY(-4.35em); padding: 0 1.45em; background: #606060; color: white; z-index: 900; }
.controls a:link, .controls a:visited { color: #dfdfdf; }
.controls a:hover, .controls a:focus, .controls a:active { color: white; }
.controls a:not([href]) { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50); opacity: 0.5; }
.controls.active { -webkit-transform: translateY(0); -moz-transform: translateY(0); -ms-transform: translateY(0); -o-transform: translateY(0); transform: translateY(0); }

#toggle { text-shadow: rgba(96, 96, 96, 0.833) 0 0 1px; position: absolute; top: 0; right: 0; width: 1.25em; color: white; cursor: pointer; z-index: 950; }
#toggle::before { content: "\f013"; }
#toggle::before { right: 0; text-align: right; }
#toggle:hover, #toggle:focus, #toggle:active { color: white; }

.breadcrumb { max-height: 1.45em; margin-right: 2.5em; }

[rel="contents"] { float: left; margin-right: .4em; }
[rel="contents"]::before { content: "\f03a"; }

.crumb-list { list-style-type: none; }
.crumb-list, .crumb-list li { margin: 0px; padding: 0px; display: inline; }
.crumb-list li:after { content: "»"; }
.crumb-list li:last-child:after { content: ""; }
.crumb-list li.last:after { content: ""; }

.pagenav { overflow: hidden; position: absolute; top: 0; right: 1.45em; max-width: 2.5em; }
.pagenav a:link, .pagenav a:visited { display: block; }

.prev { float: left; }

.next { float: right; }

[rel="prev"]::before { content: "\f060"; }

[rel="next"]::before { content: "\f061"; }

/* ---------------------------------------------------------------------------- page */
body { -webkit-transition: all 200ms ease-in-out; -moz-transition: all 200ms ease-in-out; -ms-transition: all 200ms ease-in-out; -o-transition: all 200ms ease-in-out; transition: all 200ms ease-in-out; }
body.swiping-next *, body.swiping-prev * { -webkit-animation-play-state: paused !important; -moz-animation-play-state: paused !important; -ms-animation-play-state: paused !important; -o-animation-play-state: paused !important; animation-play-state: paused !important; }
body.swiping-next { -webkit-transform: translateX(-1em); -moz-transform: translateX(-1em); -ms-transform: translateX(-1em); -o-transform: translateX(-1em); transform: translateX(-1em); }
body.swiping-prev { -webkit-transform: translateX(1em); -moz-transform: translateX(1em); -ms-transform: translateX(1em); -o-transform: translateX(1em); transform: translateX(1em); }

.page { max-width: 13.5em; margin-left: auto; margin-right: auto; padding-left: 0.5em; padding-right: 0.5em; -webkit-background-origin: content; -moz-background-origin: content; -ms-background-origin: content-box; -o-background-origin: content-box; background-origin: content-box; -webkit-background-clip: content-box; -moz-background-clip: content-box; background-clip: content-box; }
.page:after { content: ""; display: table; clear: both; }
@media (min-width: 42.75em) { .page { max-width: 27.5em; } }

.content { padding-top: 2.417em; }
