@import ../helpers/colors

// Colors --------------------------------------------------------------------

$red              : hsla(0,100%,50%,1)
$orange           : hsla(22,100%,50%,1)
$yellow           : hsla(45,100%,50%,1)
$green            : hsla(120,100%,50%,1)
$cyan             : hsla(180,100%,50%,1)
$blue             : hsla(240,100%,50%,1)
$purple           : hsla(290,100%,50%,1)
$pink             : hsla(315,100%,50%,1)
$crimson          : hsla(338,100%,50%,1)

$white            : hsla(0,0%,100%,1)
$black            : hsla(0,0%,0%,1)

$dark-shade       : 25
$darker-shade     : 50
$darkest-shade    : 75
$light-tint       : 45
$lighter-tint     : 60
$lightest-tint    : 75
$hint-tint        : 90
$off              : 60

$mid              : hsl(0,0%,50%)
$dark             : shade($mid,$dark-shade)
$darker           : shade($mid,$darker-shade)
$darkest          : shade($mid,$darkest-shade)
$light            : tint($mid,$light-tint)
$lighter          : tint($mid,$lighter-tint)
$lightest         : tint($mid,$lightest-tint)
$hint             : tint($mid,$hint-tint)

$red-dark         : shade($red,$dark-shade)
$red-darker       : shade($red,$darker-shade)
$red-darkest      : shade($red,$darkest-shade)
$red-light        : tint($red,$light-tint)
$red-lighter      : tint($red,$lighter-tint)
$red-lightest     : tint($red,$lightest-tint)
$red-hint         : tint($red,$hint-tint)

$off-red           : desaturate($red,$off)
$off-red-dark      : shade($off-red,$dark-shade)
$off-red-darker    : shade($off-red,$darker-shade)
$off-red-darkest   : shade($off-red,$darkest-shade)
$off-red-light     : tint($off-red,$light-tint)
$off-red-lighter   : tint($off-red,$lighter-tint)
$off-red-lightest  : tint($off-red,$lightest-tint)
$off-red-hint      : tint($off-red,$hint-tint)

$orange-dark      : shade($orange,$dark-shade)
$orange-darker    : shade($orange,$darker-shade)
$orange-darkest   : shade($orange,$darkest-shade)
$orange-light     : tint($orange,$light-tint)
$orange-lighter   : tint($orange,$lighter-tint)
$orange-lightest  : tint($orange,$lightest-tint)
$orange-hint      : tint($orange,$hint-tint)

$off-orange           : desaturate($orange,$off)
$off-orange-dark      : shade($off-orange,$dark-shade)
$off-orange-darker    : shade($off-orange,$darker-shade)
$off-orange-darkest   : shade($off-orange,$darkest-shade)
$off-orange-light     : tint($off-orange,$light-tint)
$off-orange-lighter   : tint($off-orange,$lighter-tint)
$off-orange-lightest  : tint($off-orange,$lightest-tint)
$off-orange-hint      : tint($off-orange,$hint-tint)

$yellow-dark      : shade($yellow,$dark-shade)
$yellow-darker    : shade($yellow,$darker-shade)
$yellow-darkest   : shade($yellow,$darkest-shade)
$yellow-light     : tint($yellow,$light-tint)
$yellow-lighter   : tint($yellow,$lighter-tint)
$yellow-lightest  : tint($yellow,$lightest-tint)
$yellow-hint      : tint($yellow,$hint-tint)

$off-yellow           : desaturate($yellow,$off)
$off-yellow-dark      : shade($off-yellow,$dark-shade)
$off-yellow-darker    : shade($off-yellow,$darker-shade)
$off-yellow-darkest   : shade($off-yellow,$darkest-shade)
$off-yellow-light     : tint($off-yellow,$light-tint)
$off-yellow-lighter   : tint($off-yellow,$lighter-tint)
$off-yellow-lightest  : tint($off-yellow,$lightest-tint)
$off-yellow-hint      : tint($off-yellow,$hint-tint)

$green-dark       : shade($green,$dark-shade)
$green-darker     : shade($green,$darker-shade)
$green-darkest    : shade($green,$darkest-shade)
$green-light      : tint($green,$light-tint)
$green-lighter    : tint($green,$lighter-tint)
$green-lightest   : tint($green,$lightest-tint)
$green-hint       : tint($green,$hint-tint)

$off-green           : desaturate($green,$off)
$off-green-dark      : shade($off-green,$dark-shade)
$off-green-darker    : shade($off-green,$darker-shade)
$off-green-darkest   : shade($off-green,$darkest-shade)
$off-green-light     : tint($off-green,$light-tint)
$off-green-lighter   : tint($off-green,$lighter-tint)
$off-green-lightest  : tint($off-green,$lightest-tint)
$off-green-hint      : tint($off-green,$hint-tint)

$cyan-dark        : shade($cyan,$dark-shade)
$cyan-darker      : shade($cyan,$darker-shade)
$cyan-darkest     : shade($cyan,$darkest-shade)
$cyan-light       : tint($cyan,$light-tint)
$cyan-lighter     : tint($cyan,$lighter-tint)
$cyan-lightest    : tint($cyan,$lightest-tint)
$cyan-hint        : tint($cyan,$hint-tint)

$off-cyan           : desaturate($cyan,$off)
$off-cyan-dark      : shade($off-cyan,$dark-shade)
$off-cyan-darker    : shade($off-cyan,$darker-shade)
$off-cyan-darkest   : shade($off-cyan,$darkest-shade)
$off-cyan-light     : tint($off-cyan,$light-tint)
$off-cyan-lighter   : tint($off-cyan,$lighter-tint)
$off-cyan-lightest  : tint($off-cyan,$lightest-tint)
$off-cyan-hint      : tint($off-cyan,$hint-tint)

$blue-dark        : shade($blue,$dark-shade)
$blue-darker      : shade($blue,$darker-shade)
$blue-darkest     : shade($blue,$darkest-shade)
$blue-light       : tint($blue,$light-tint)
$blue-lighter     : tint($blue,$lighter-tint)
$blue-lightest    : tint($blue,$lightest-tint)
$blue-hint        : tint($blue,$hint-tint)

$off-blue           : desaturate($blue,$off)
$off-blue-dark      : shade($off-blue,$dark-shade)
$off-blue-darker    : shade($off-blue,$darker-shade)
$off-blue-darkest   : shade($off-blue,$darkest-shade)
$off-blue-light     : tint($off-blue,$light-tint)
$off-blue-lighter   : tint($off-blue,$lighter-tint)
$off-blue-lightest  : tint($off-blue,$lightest-tint)
$off-blue-hint      : tint($off-blue,$hint-tint)

$purple-dark      : shade($purple,$dark-shade)
$purple-darker    : shade($purple,$darker-shade)
$purple-darkest   : shade($purple,$darkest-shade)
$purple-light     : tint($purple,$light-tint)
$purple-lighter   : tint($purple,$lighter-tint)
$purple-lightest  : tint($purple,$lightest-tint)
$purple-hint      : tint($purple,$hint-tint)

$off-purple           : desaturate($purple,$off)
$off-purple-dark      : shade($off-purple,$dark-shade)
$off-purple-darker    : shade($off-purple,$darker-shade)
$off-purple-darkest   : shade($off-purple,$darkest-shade)
$off-purple-light     : tint($off-purple,$light-tint)
$off-purple-lighter   : tint($off-purple,$lighter-tint)
$off-purple-lightest  : tint($off-purple,$lightest-tint)
$off-purple-hint      : tint($off-purple,$hint-tint)

$pink-dark        : shade($pink,$dark-shade)
$pink-darker      : shade($pink,$darker-shade)
$pink-darkest     : shade($pink,$darkest-shade)
$pink-light       : tint($pink,$light-tint)
$pink-lighter     : tint($pink,$lighter-tint)
$pink-lightest    : tint($pink,$lightest-tint)
$pink-hint        : tint($pink,$hint-tint)

$off-pink           : desaturate($pink,$off)
$off-pink-dark      : shade($off-pink,$dark-shade)
$off-pink-darker    : shade($off-pink,$darker-shade)
$off-pink-darkest   : shade($off-pink,$darkest-shade)
$off-pink-light     : tint($off-pink,$light-tint)
$off-pink-lighter   : tint($off-pink,$lighter-tint)
$off-pink-lightest  : tint($off-pink,$lightest-tint)
$off-pink-hint      : tint($off-pink,$hint-tint)

$crimson-dark     : shade($crimson,$dark-shade)
$crimson-darker   : shade($crimson,$darker-shade)
$crimson-darkest  : shade($crimson,$darkest-shade)
$crimson-light    : tint($crimson,$light-tint)
$crimson-lighter  : tint($crimson,$lighter-tint)
$crimson-lightest : tint($crimson,$lightest-tint)
$crimson-hint     : tint($crimson,$hint-tint)

$off-crimson           : desaturate($crimson,$off)
$off-crimson-dark      : shade($off-crimson,$dark-shade)
$off-crimson-darker    : shade($off-crimson,$darker-shade)
$off-crimson-darkest   : shade($off-crimson,$darkest-shade)
$off-crimson-light     : tint($off-crimson,$light-tint)
$off-crimson-lighter   : tint($off-crimson,$lighter-tint)
$off-crimson-lightest  : tint($off-crimson,$lightest-tint)
$off-crimson-hint      : tint($off-crimson,$hint-tint)

$base             : $darkest
$alt              : $pink-dark
$accent           : $green-dark

$colors           : $red $orange $yellow $green $cyan $blue $purple $pink $crimson
