// Imports -------------------------------------------------------------------

@import defaults/defaults

// UI ------------------------------------------------------------------------

$uifontsize : $xxsmallpx

#toggle
  #{$link}
    +opacity(0)
    +stretch-x
    top: 0
    height: rhythm(2)
    z-index: 800

.controls
  +adjust-font-size-to($uifontsize)
  +stretch-x
  +opacity(0)
  +transition(opacity 400ms)
  +clearfix
  position: fixed
  padding: 0 rhythm(.25,$uifontsize)
  background-color: rgba($base,.9)
  color: $lightest
  z-index: 700
  &.before
    top: 0
  &.after
    bottom: 0
  &.active
    +opacity(1)
    z-index: 900

  a
    #{$link}
      color: $lighter
    #{$focus}
      color: $blue-lighter

// navigation ----------------------------------------------------------------

.pagenav
  +float(right)
  ul
    +no-style-list
  li
    +float(left)
  a
    +transition(opacity 300ms)
    +opacity(.25)
    display: block
    width: rhythm(1,$uifontsize)
    height: rhythm(1,$uifontsize)
    #{$link}
      +opacity(.75)
    &[href]
      #{$focus}
        +opacity(1)
    &.active
      +opacity(.75)
      #{$focus}
        +opacity(1)
        cursor: pointer

.prev
  span, a
    +replace-text('ui/arrow_left.png')

.next
  a
    #{$link}
      +replace-text('ui/arrow_right.png')

// breadcrumb ----------------------------------------------------------------

#location
  +stretch(0,rhythm(3,$uifontsize),0,rhythm(.25,$uifontsize))

h1, .breadcrumb
  +inline-block
  margin: 0
  padding: 0

.breadcrumb
  +inline-block-list
  .crumb
    &::before
      content: ' » '

// main ----------------------------------------------------------------------

#main
  +animation(fadeIn 1s .2s both)

// pages ---------------------------------------------------------------------

=pageindex()
  @for $i from 1 through 100
    &:nth-child(#{101 - $i})
      z-index: $i

.page
  +opacity(0)
  +stretch
  +pageindex
  +box-shadow($base 0 0 rhythm())
  display: none
  padding: rhythm(2) 0
  background-color: white
  overflow-x: hidden
  overflow-y: auto

.prev-page, .active-page, .next-page
  +transition(all 800ms)
  display: block

.active-page
  +opacity(1)

.prev-page
  +opacity(1)
  +translate(- 100%,0)
  margin-left: rhythm(-1)
  overflow: hidden
