// Imports -------------------------------------------------------------------

@import defaults/defaults

// UI ------------------------------------------------------------------------

$uifontsize : $xxsmallpx

#toggle
  #{$link}
    +opacity(0)
    +hide-text
    position: fixed
    top: 0
    left: 0
    right: 0
    height: rhythm(1.5)
    z-index: 875

.controls
  +adjust-font-size-to($uifontsize)
  &.before
    +stretch-x
    +opacity(0)
    +transition(opacity 400ms)
    +clearfix
    position: fixed
    top: 0
    padding: 0
    background-color: rgba($base,.9)
    color: $lightest
    z-index: 700
    &.active
      +opacity(1)
      z-index: 900

  a
    #{$link}
      color: $lighter
    #{$focus}
      color: $blue-lighter

// navigation ----------------------------------------------------------------

.pagenav
  +float(right)
  ul
    +no-style-list

  .before &
    a
      +transition(opacity 300ms)
      +opacity(.25)
      display: block
      width: rhythm(1,$uifontsize)
      height: rhythm(1,$uifontsize)
      #{$link}, &.active
        +opacity(.75)
      &[href], &.active
        #{$focus}
          +opacity(1)
          cursor: pointer

    .prev, .next
      +float(left)
    .prev
      span, a
        +replace-text('ui/arrow_left.png')

    .next
      a
        +replace-text('ui/arrow_right.png')

  .after &
    a, span
      +hide-text
      +stretch-y
      display: block
      width: rhythm(1, $uifontsize)
      z-index: 850

      +small
        width: rhythm(.75, $uifontsize)
      +medium
        width: rhythm(1, $uifontsize)

    .prev
      a, span
        left: 0
    .next
      a, span
        right: 0

// breadcrumb ----------------------------------------------------------------

#location
  +stretch(0,rhythm(3,$uifontsize),0,rhythm(1,$uifontsize))

h1, .breadcrumb
  +inline-block
  margin: 0
  padding: 0

.breadcrumb
  +inline-block-list
  .crumb
    &::before
      content: ' » '

// tocnav --------------------------------------------------------------------

.tocnav
  +stretch-y
  width: rhythm(1,$uifontsize)
  h2
    +reset-box-model
    font: inherit
  a
    +replace-text('ui/bookmark.png')
    display: block
    width: 100%

// page ----------------------------------------------------------------------

.page
  overflow-x: hidden

// pagewrap ------------------------------------------------------------------

.pagewrap
  +padding-leader
  +transition(padding 300ms)
  +small(height)
    +padding-leader(1.5)
  +medium(height)
    +padding-leader(2)
  +large(either)
    +padding-leader(3)
