// Imports -------------------------------------------------------------------

@import defaults/defaults

// UI ------------------------------------------------------------------------

$uifontsize : $xxsmallpx
$uigradx    : linear-gradient(left,rgba($white,$xxxsmall),rgba($white,0))
$uigrady    : linear-gradient(top,rgba($white,$xxxsmall),rgba($white,0))

#toggle, .controls
  display: block

#toggle
  .target, .icon
    +opacity(0)
    +transition(opacity 400ms)
    position: fixed
    top: 0
    right: 0
    cursor: pointer
  .target
    +background-image($uigrady)
    left: 0
    height: rhythm(1.5)
    background:
      color: rgba($blue-dark,$xxsmall)
      position: center
      repeat: no-repeat
    border-bottom: 1px solid $white
    z-index: 875
    .showtargets &
      +opacity(.5)
  .icon
    +replace-text('ui/gear.png')
    +opacity(1)
    display: block
    width: rhythm(1)
    height: rhythm(1)
    z-index: 910

.controls
  +adjust-font-size-to($uifontsize)
  &.before
    +stretch-x
    +opacity(0)
    +transition(opacity 400ms)
    +clearfix
    position: fixed
    top: 0
    padding: 0
    background-color: rgba($base,.9)
    color: $lightest
    z-index: 700
    &:hover, &.active
      +opacity(1)
      z-index: 900

  a
    #{$link}
      color: $lighter
    #{$focus}
      color: $blue-lighter

// navigation ----------------------------------------------------------------

.pagenav
  +float(right)
  ul
    +no-style-list

  .before &
    margin-right: rhythm(1.5)
    a
      +transition(opacity 300ms)
      +opacity(.25)
      display: block
      width: rhythm(1,$uifontsize)
      height: rhythm(1,$uifontsize)
      #{$link}, &.active
        +opacity(.75)
      &[href], &.active
        #{$focus}
          +opacity(1)
          cursor: pointer

    .prev, .next
      +float(left)
    .prev
      a
        +replace-text('ui/arrow_left.png')

    .next
      a
        +replace-text('ui/arrow_right.png')

  .after &
    a
      +opacity(0)
      +transition(opacity 400ms)
      +hide-text
      +stretch-y
      display: block
      width: rhythm(1, $uifontsize)
      background:
        color: rgba($base,.25)
        position: center
        repeat: no-repeat
      z-index: 850
      .showtargets &
        +opacity(.5)

      +small
        width: rhythm(.75, $uifontsize)
      +medium
        width: rhythm(1, $uifontsize)

    .prev
      a
        +background-image(image-url('ui/angle_left.png'), $uigradx)
        left: 0
        background-color: rgba($red-dark,$xsmall)
        border-right: 1px solid $white
    .next
      a
        +background-image(image-url('ui/angle_right.png'), $uigradx)
        right: 0
        background-color: rgba($green-dark,$xsmall)
        border-left: 1px solid $white

// breadcrumb ----------------------------------------------------------------

#location
  +stretch(0,rhythm(4,$uifontsize),0,rhythm(.25,$uifontsize))
  overflow: hidden
  white-space: nowrap
  text-overflow: ellipsis

h1, .breadcrumb
  display: inline
  margin: 0
  padding: 0

.crumb-list
  +inline-list
  .crumb
    &::before
      content: ' » '

// tocnav --------------------------------------------------------------------

.tocnav
  +stretch-y
  width: rhythm(1,$uifontsize)
  h2
    +reset-box-model
    font: inherit
  a
    +replace-text('ui/bookmark.png')
    display: block
    width: 100%

// page ----------------------------------------------------------------------

// .enter-prev
//   +animation($enter-prev)
// .exit-prev
//   +animation($exit-prev)
// .enter-next
//   +animation($enter-next)
// .exit-next
//   +animation($exit-next)

.page
  overflow-x: hidden

  .no-fontface &
    .content
      +adjust-font-size-to($smallpx)
      +small(both)
        +adjust-font-size-to($smallpx)
      +medium
        +adjust-font-size-to($smallpx)

// pagewrap ------------------------------------------------------------------

.pagewrap
  +padding-leader(1.5)
  +padding-trailer(1)
  +transition(padding 300ms)
  +medium(height)
    +padding-leader(2)
  +large(height)
    +padding-leader(3)

// Demo ----------------------------------------------------------------------

.demo
  background: $off-yellow-hint

  .pagewrap
    +media-container
  .content
    +media-full
    +small
      +pad(1,1)
    +medium
      +pad(2,2)

  .demo-note
    +clearfix
    +trailer(.5)
    color: $red-dark

  .demo-title
    @extend .allcaps
    +adjust-font-size-to($xsmallpx)

  .demo-image
    +box-sizing(border-box)
    border: 1px solid rgba($off-yellow-dark,$xsmall)

  +small
    .demo-note
      +leading-border(3px,.75)
      border:
        style: dashed
        color: rgba($off-yellow-light,$xxxsmall)
    .demo-title
      +columns(5,10)
      +omega(10)
    .demo-image
      +columns(5,10)

  +medium
    .demo-title
      +columns(6,12)
      +omega(12)
    .demo-image
      +columns(6,12)

  &.narrator
    blockquote
      +trailer(.5)
      font-style: normal
      &::before
        content: "– "
