// ----------------------------------------------------------------------------
// imports

@import "base/base";
@import "compass/reset";
@import "helpers/helpers";
@import "general/root";

// ----------------------------------------------------------------------------
// Layout

$total-columns: 8;

body {
  @include container;
  @include rhythm-padding;
}

$colors: $red $orange $yellow $green $cyan $blue $pink;

li {
  @include rhythm-margins(.5);
  padding: rhythm(1);
  text-align: center;
  @each $color in $colors {
    $i: index($colors, $color);
    &:nth-child(#{$i}) {
      @include background(palette($color));
      @include before("#{nth($rainbow,$i)}");
      color: contrast($color);
    }
  }
}