// Import --------------------------------------------------------------------

@import ../helpers/helpers

// Stuff ---------------------------------------------------------------------

$line           : 'frontmatter/titlepage/line.png'
$strings-left   : 'frontmatter/titlepage/strings_left.png'
$strings-right  : 'frontmatter/titlepage/strings_right.png'
$scribble       : 'frontmatter/titlepage/scribble.png'
$scribble-sm    : 'frontmatter/titlepage/scribble_sm.png'

+keyframes(linetiny)
  0%
    background-position: image-width($line) bottom
  100%
    background-position: 0 bottom

// Pages ---------------------------------------------------------------------

@import frontmatter/home
@import frontmatter/instructions
@import frontmatter/title
@import frontmatter/copyright
@import frontmatter/contents
@import frontmatter/epigraph
@import frontmatter/end
@import frontmatter/about
@import frontmatter/fourohfour
