// ----------------------------------------------------------------------------
// imports

@import "../base/base";
@import "../helpers/helpers";

// ----------------------------------------------------------------------------
// settings

$ch: 'frontmatter/';

/* ----------------------------------------------------------------------------
   general */

$bg             : color($off $green lightest);

html { @include back($bg); }

$page-enter     : fadeIn;
$page-exit      : fadeOutUp;
$page-time      : 1s 400ms;
$page-function  : ease;

@include pageturn;

// ----------------------------------------------------------------------------
// pages

@import "frontmatter/title";
@import "frontmatter/copyright";
@import "frontmatter/dedication";
@import "frontmatter/contents";
@import "frontmatter/thanks";
@import "frontmatter/epigraph";

@import "frontmatter/about";
@import "frontmatter/fourohfour";
