// Import --------------------------------------------------------------------
@import ../defaults/default-mixins

// title page ----------------------------------------------------------------

$noise        : 'frontmatter/titlepage/noise.png'
$line         : 'frontmatter/titlepage/line.png'
$titletree    : 'frontmatter/titlepage/titletree.png'
$scribble     : 'frontmatter/titlepage/scribble.png'
$scribble-sm  : 'frontmatter/titlepage/scribble_sm.png'
$bird         : 'frontmatter/titlepage/bird.png'

$the    : $medpx + 8px
$green1 : $the + 6px
$green2 : $green1 + 6px

+keyframes(linetiny)
  0%
    background-position: image-width($line) bottom
  100%
    background-position: 0 bottom

+keyframes(line)
  0%
    background-position: image-width($line) center
  100%
    background-position: 0 center

+keyframes(titlebg)
  0%
    background-color: $pink-hint
  50%
    background-color: $blue-hint
  100%
    background-color: $pink-hint

#titlepage
  +animation(titlebg 60s infinite both)
  background: $pink-hint image-url($scribble-sm) no-repeat scroll 120% 130%

  .novel-title
    +animation(linetiny 75s infinite both)
    +padding-trailer(2.5)
    background: image-url($line) repeat-x scroll 0 bottom

    .wrap
      +media-container
      text-transform: lowercase

    span
      display: block

  .into
    +adjust-font-size-to($medpx,1)
    +float(left)
    +alpha
    +prefix(2)
    margin-right: .2em
  .the
    +adjust-font-size-to($the,1)
    +float(left)
  .green1
    +adjust-font-size-to($green1,1)
    +full
    +suffix(2)
    text-align: center
  .green2
    +adjust-font-size-to($green2,1)
    +full
    +prefix(3)
  .mud
    +adjust-font-size-to($medpx,1)
    +full
    +prefix(4)

  .byline
    +media-full
    p
      +trailer(0)

  +small(height)
    background-position: 130% 130%

    .novel-title
      +animation(line 75s infinite both)
      +padding-trailer(1)
      background-position: 0 center

    .into
      +full
      +prefix(2)
    .the
      +full
      +prefix(2)
      +float(none)
      margin-left: side-gutter() + gutter()*2
    .green1
      +trailer(2.5,$green1)

    .byline
      +stretch-x
      bottom: rhythm(.5)
      .wrap
        +container

  +medium(height)
    background: none

    .novel-title
      background:
        image: image-url($line), image-url($scribble)
        repeat: repeat-x, no-repeat
        position: 0 center, center

    .green1
      +trailer(floor(image-height($scribble)/$base-line-height),$green1)

  +small
    .green2
      +full
      +prefix(6)
    .mud
      +full
      +prefix(7)

  +medium
    .green2
      +full
      +prefix(7)
    .mud
      +full
      +prefix(8)

// copyright -----------------------------------------------------------------

// #copyright

// contents ------------------------------------------------------------------

#contents
  +small-only
    +adjust-font-size-to($smallpx)

  h4
    @extend .allcaps

  ol
    +adjust-font-size-to($smallpx)
    +trailer(1,$smallpx)

  .pagewrap
    +media-container

  .content
    +media-full
    +pad(1,1)
    +small
      +pad(1,1)
    +medium
      +pad(1,1)

  .contents
    +small
      +columns(4,8)
      &:last-child
        +omega(8)
    +medium
      +columns(5,10)
      &:last-child
        +omega(10)


// epigraph ------------------------------------------------------------------

// #epigraph
