// Import --------------------------------------------------------------------
@import ../defaults/default-mixins

// grid ----------------------------------------------------------------------
$total-cols         : 12
$col-width          : 2.5em
$gutter-width       : .5em
$side-gutter-width  : $gutter-width

// defaults ----------------------------------------------------------------

.pagewrap
  +container

// title page ----------------------------------------------------------------

#titlepage
  h2
    @extend .title

// once-upon-sunday ----------------------------------------------------------

$rain: 'ch01/once-upon-sunday/rain.png'

+keyframes(rain)
  0%
    background-position: 0 (- image-height($rain)), image-height($rain)*.5 (- image-height($rain))
  100%
    background-position: (- image-width($rain)) 0, (- image-width($rain)*1.5) image-height($rain)

#once-upon-sunday
  +animate(rain,45s,$function:linear,$mode:infinite)
  background: image-url($rain) top left, desaturate($yellow-dark,50) image-url($rain) center

  .content
    position: relative

  blockquote
    +prefix(5,12)
    +padding-leader(2)
    +padding-trailer(2)
    position: relative
    &::before
      +replace-text('ch01/once-upon-sunday/raindrop.png')
      +background-size(contain)
      +stretch-y
      content: " "
      display: block
      left: columns(1,12)
      width: columns(4,12)
      z-index: 15

  i
    background: rgba($yellow-lighter,$small)

  .pitpot
    @extend .allcaps
    +adjust-font-size-to($smallpx)
    +rotate(3deg)
    position: absolute
    bottom: rhythm(2)
    background: rgba($red-light,$small)
    margin: 0 rhythm(-100)
    padding: 0 rhythm(50)
    text-align: center

