// Import --------------------------------------------------------------------
@import ../defaults/default-mixins

// grid ----------------------------------------------------------------------
$total-cols         : 12
$col-width          : 5em
$gutter-width       : 1em
$side-gutter-width  : $gutter-width

// defaults ----------------------------------------------------------------

.pagewrap
  +container
