@font-face { font-family: "GreenMudJJRegular"; src: url('../../fonts/jj/GreenMudJJ-Regular.otf') format('opentype'); font-weight: normal; font-style: normal; }

@font-face { font-family: "GreenMudJJRegular"; src: url('../../fonts/jj/GreenMudJJ-Italic.otf') format('opentype'); font-weight: normal; font-style: italic; }

/* Typography ---------------------------------------------------------------- */
.serif, .jj, .susy, .narrator { font-family: "GreenMudJJRegular", serif; }

.sans { font-family: sans-serif; }

.mono { font-family: monospace, sans-serif; }

.caps, .allcaps, .title b, #contents h4 { letter-spacing: 0.05em; }

.allcaps, .title b, #contents h4 { text-transform: uppercase; }

.smallcaps { font-variant: small-caps; }

/* Layout -------------------------------------------------------------------- */
.hidden { position: absolute; clip: rect(0 0 0 0); overflow: hidden; margin: -1px; padding: 0; height: 1px; width: 1px; border: 0; }

/* titlepages ---------------------------------------------------------------- */
.title { clear: both; margin-left: 7.317%; margin-right: 7.317%; font-size: 1.563em; line-height: 1.6em; margin-top: 0em; padding-top: 0.8em; padding-bottom: 0.8em; margin-bottom: 0em; position: relative; text-shadow: rgba(255, 255, 255, 0.64) 0 1px 0; text-align: center; }
@media (min-width: 525px) { .title { clear: both; margin-left: 4.615%; margin-right: 4.615%; } }
@media (min-width: 980px) { .title { clear: both; margin-left: 3.896%; margin-right: 3.896%; } }
.title:before, .title:after { position: absolute; top: 0; bottom: 0; content: " "; left: -300%; right: -300%; background: rgba(153, 153, 255, 0.41); z-index: -1; }
.title:before { -moz-transform: rotate(0.5deg); -webkit-transform: rotate(0.5deg); -o-transform: rotate(0.5deg); -ms-transform: rotate(0.5deg); transform: rotate(0.5deg); }
.title:after { -moz-transform: rotate(-0.5deg); -webkit-transform: rotate(-0.5deg); -o-transform: rotate(-0.5deg); -ms-transform: rotate(-0.5deg); transform: rotate(-0.5deg); }
.title b { font-size: 0.64em; line-height: 1.25em; display: block; }
@media (min-height: 350px) { .title { margin-top: 1.6em; padding-top: 1.6em; padding-bottom: 1.6em; margin-bottom: 1.6em; } }
@media (min-height: 490px) { .title { margin-top: 2.4em; } }

/* Links --------------------------------------------------------------------- */
/* Lists --------------------------------------------------------------------- */
@-webkit-keyframes linetiny { 0% { background-position: 1500px bottom; }
  100% { background-position: 0 bottom; } }

@-moz-keyframes linetiny { 0% { background-position: 1500px bottom; }
  100% { background-position: 0 bottom; } }

@-ms-keyframes linetiny { 0% { background-position: 1500px bottom; }
  100% { background-position: 0 bottom; } }

@keyframes linetiny { 0% { background-position: 1500px bottom; }
  100% { background-position: 0 bottom; } }

@-webkit-keyframes line { 0% { background-position: 1500px center; }
  100% { background-position: 0 center; } }

@-moz-keyframes line { 0% { background-position: 1500px center; }
  100% { background-position: 0 center; } }

@-ms-keyframes line { 0% { background-position: 1500px center; }
  100% { background-position: 0 center; } }

@keyframes line { 0% { background-position: 1500px center; }
  100% { background-position: 0 center; } }

@-webkit-keyframes titlebg { 0% { background-color: #ffe5f8; }
  50% { background-color: #e5e5ff; }
  100% { background-color: #ffe5f8; } }

@-moz-keyframes titlebg { 0% { background-color: #ffe5f8; }
  50% { background-color: #e5e5ff; }
  100% { background-color: #ffe5f8; } }

@-ms-keyframes titlebg { 0% { background-color: #ffe5f8; }
  50% { background-color: #e5e5ff; }
  100% { background-color: #ffe5f8; } }

@keyframes titlebg { 0% { background-color: #ffe5f8; }
  50% { background-color: #e5e5ff; }
  100% { background-color: #ffe5f8; } }

#titlepage { -moz-animation: titlebg 60s infinite both; -webkit-animation: titlebg 60s infinite both; -ms-animation: titlebg 60s infinite both; animation: titlebg 60s infinite both; background: -webkit-gradient(linear, 0% 0%, 100% 100%, color-stop(0%, rgba(255, 229, 248, 0)), color-stop(50%, rgba(255, 229, 248, 0)), color-stop(50%, rgba(153, 255, 153, 0.41)), color-stop(100%, rgba(153, 255, 153, 0.41))); background: -webkit-linear-gradient(top left, rgba(255, 229, 248, 0), rgba(255, 229, 248, 0) 50%, rgba(153, 255, 153, 0.41) 50%, rgba(153, 255, 153, 0.41)); background: -moz-linear-gradient(top left, rgba(255, 229, 248, 0), rgba(255, 229, 248, 0) 50%, rgba(153, 255, 153, 0.41) 50%, rgba(153, 255, 153, 0.41)); background: -o-linear-gradient(top left, rgba(255, 229, 248, 0), rgba(255, 229, 248, 0) 50%, rgba(153, 255, 153, 0.41) 50%, rgba(153, 255, 153, 0.41)); background: -ms-linear-gradient(top left, rgba(255, 229, 248, 0), rgba(255, 229, 248, 0) 50%, rgba(153, 255, 153, 0.41) 50%, rgba(153, 255, 153, 0.41)); background: linear-gradient(top left, rgba(255, 229, 248, 0), rgba(255, 229, 248, 0) 50%, rgba(153, 255, 153, 0.41) 50%, rgba(153, 255, 153, 0.41)); background-color: #ffe5f8; }
#titlepage .content { background: url('../../images/frontmatter/titlepage/strings_left.png?1327305552') no-repeat scroll, url('../../images/frontmatter/titlepage/strings_right.png?1327306277') no-repeat scroll; background-position: -260px, 980px; }
#titlepage .novel-title { -moz-animation: linetiny 75s infinite both; -webkit-animation: linetiny 75s infinite both; -ms-animation: linetiny 75s infinite both; animation: linetiny 75s infinite both; padding-bottom: 3.125em; background: url('../../images/frontmatter/titlepage/line.png?1327284513') repeat-x scroll 0 bottom; }
#titlepage .novel-title .wrap { *zoom: 1; margin: auto; width: 20.5em; max-width: 100%; text-transform: lowercase; }
#titlepage .novel-title .wrap:after { content: ""; display: table; clear: both; }
@media (min-width: 525px) { #titlepage .novel-title .wrap { *zoom: 1; margin: auto; width: 32.5em; max-width: 100%; }
  #titlepage .novel-title .wrap:after { content: ""; display: table; clear: both; } }
@media (min-width: 980px) { #titlepage .novel-title .wrap { *zoom: 1; margin: auto; width: 38.5em; max-width: 100%; }
  #titlepage .novel-title .wrap:after { content: ""; display: table; clear: both; } }
#titlepage .novel-title span { -moz-transition: all 300ms; -webkit-transition: all 300ms; -o-transition: all 300ms; transition: all 300ms; display: block; }
#titlepage .into { -moz-animation: fadeIn 2s 1s ease both; -webkit-animation: fadeIn 2s 1s ease both; -ms-animation: fadeIn 2s 1s ease both; animation: fadeIn 2s 1s ease both; font-size: 1.25em; line-height: 1em; display: inline; float: left; margin-left: 7.317%; padding-left: 29.268%; margin-right: 0.2em; }
#titlepage .the { -moz-animation: fadeIn 2s 2s ease both; -webkit-animation: fadeIn 2s 2s ease both; -ms-animation: fadeIn 2s 2s ease both; animation: fadeIn 2s 2s ease both; font-size: 1.536em; line-height: 0.814em; display: inline; float: left; }
#titlepage .green1 { -moz-animation: fadeIn 2s 3s ease both; -webkit-animation: fadeIn 2s 3s ease both; -ms-animation: fadeIn 2s 3s ease both; animation: fadeIn 2s 3s ease both; font-size: 1.75em; line-height: 0.714em; clear: both; margin-left: 7.317%; margin-right: 7.317%; padding-right: 29.268%; text-align: center; }
#titlepage .green2 { -moz-animation: fadeIn 2s 4s ease both; -webkit-animation: fadeIn 2s 4s ease both; -ms-animation: fadeIn 2s 4s ease both; animation: fadeIn 2s 4s ease both; font-size: 1.964em; line-height: 0.636em; margin-top: -0.318em; clear: both; margin-left: 7.317%; margin-right: 7.317%; padding-left: 43.902%; }
#titlepage .mud { -moz-animation: fadeIn 2s 5s ease both; -webkit-animation: fadeIn 2s 5s ease both; -ms-animation: fadeIn 2s 5s ease both; animation: fadeIn 2s 5s ease both; font-size: 1.25em; line-height: 1em; clear: both; margin-left: 7.317%; margin-right: 7.317%; padding-left: 58.537%; }
#titlepage .byline { -moz-animation: fadeIn 3s 6s ease both; -webkit-animation: fadeIn 3s 6s ease both; -ms-animation: fadeIn 3s 6s ease both; animation: fadeIn 3s 6s ease both; clear: both; margin-left: 7.317%; margin-right: 7.317%; }
@media (min-width: 525px) { #titlepage .byline { clear: both; margin-left: 4.615%; margin-right: 4.615%; } }
@media (min-width: 980px) { #titlepage .byline { clear: both; margin-left: 3.896%; margin-right: 3.896%; } }
#titlepage .byline p { margin-bottom: 0em; }
@media (min-height: 350px) { #titlepage .novel-title { -moz-animation: line 75s infinite both; -webkit-animation: line 75s infinite both; -ms-animation: line 75s infinite both; animation: line 75s infinite both; -moz-background-size: auto, 5em auto; -webkit-background-size: auto, 5em auto; -o-background-size: auto, 5em auto; background-size: auto, 5em auto; padding-bottom: 0em; background-image: url('../../images/frontmatter/titlepage/line.png?1327284513'), url('../../images/frontmatter/titlepage/scribble_sm.png?1327188026'); background-position: 0 center, center; background-repeat: repeat-x, no-repeat; }
  #titlepage .green1 { margin-bottom: 2.857em; }
  #titlepage .green2 { margin-top: 0em; }
  #titlepage .byline { position: absolute; left: 0; right: 0; bottom: 0.625em; }
  #titlepage .byline .wrap { *zoom: 1; margin: auto; width: 20.5em; max-width: 100%; }
  #titlepage .byline .wrap:after { content: ""; display: table; clear: both; } }
@media (min-width: 525px) { #titlepage .into { margin-left: 4.615%; padding-left: 36.923%; }
  #titlepage .green1 { clear: both; margin-left: 4.615%; margin-right: 4.615%; padding-right: 18.462%; }
  #titlepage .green2 { clear: both; margin-left: 4.615%; margin-right: 4.615%; padding-left: 46.154%; }
  #titlepage .mud { clear: both; margin-left: 4.615%; margin-right: 4.615%; padding-left: 55.385%; } }
@media (min-width: 525px) and (min-height: 350px) { #titlepage .content { -moz-transition: background 300ms; -webkit-transition: background 300ms; -o-transition: background 300ms; transition: background 300ms; background: url('../../images/frontmatter/titlepage/strings_left.png?1327305552') no-repeat scroll, url('../../images/frontmatter/titlepage/strings_right.png?1327306277') no-repeat scroll; background-position: -260px, 250%; }
  #titlepage .novel-title { -moz-background-size: auto, 5em auto; -webkit-background-size: auto, 5em auto; -o-background-size: auto, 5em auto; background-size: auto, 5em auto; }
  #titlepage .green1 { margin-bottom: 2.857em; }
  #titlepage .byline { font-size: 0.8em; line-height: 1.562em; } }
@media (min-height: 490px) { #titlepage .novel-title { -moz-background-size: auto, 10em auto; -webkit-background-size: auto, 10em auto; -o-background-size: auto, 10em auto; background-size: auto, 10em auto; background-image: url('../../images/frontmatter/titlepage/line.png?1327284513'), url('../../images/frontmatter/titlepage/scribble.png?1327310829'); }
  #titlepage .into { clear: both; margin-left: 7.317%; margin-right: 7.317%; padding-left: 29.268%; }
  #titlepage .the { clear: both; margin-left: 7.317%; margin-right: 7.317%; padding-left: 29.268%; display: inline; float: none; margin-left: 12.195%; }
  #titlepage .green1 { margin-bottom: 5.714em; } }
@media (min-width: 980px) and (min-height: 490px) { #titlepage .content { background-position: left, 100%; }
  #titlepage .novel-title { background-image: url('../../images/frontmatter/titlepage/line.png?1327284513'), url('../../images/frontmatter/titlepage/scribble.png?1327310829'); background-position: 0 center, center; background-repeat: repeat-x, no-repeat; }
  #titlepage .green2 { clear: both; margin-left: 3.896%; margin-right: 3.896%; padding-left: 54.545%; }
  #titlepage .mud { clear: both; margin-left: 3.896%; margin-right: 3.896%; padding-left: 62.338%; } }

@media (min-width: 525px) and (max-width: 979px) { #contents { font-size: 0.8em; line-height: 1.562em; } }
#contents ol { font-size: 0.8em; line-height: 1.562em; margin-bottom: 1.562em; }
#contents .pagewrap { *zoom: 1; margin: auto; width: 20.5em; max-width: 100%; }
#contents .pagewrap:after { content: ""; display: table; clear: both; }
@media (min-width: 525px) { #contents .pagewrap { *zoom: 1; margin: auto; width: 32.5em; max-width: 100%; }
  #contents .pagewrap:after { content: ""; display: table; clear: both; } }
@media (min-width: 980px) { #contents .pagewrap { *zoom: 1; margin: auto; width: 38.5em; max-width: 100%; }
  #contents .pagewrap:after { content: ""; display: table; clear: both; } }
#contents .content { clear: both; margin-left: 7.317%; margin-right: 7.317%; padding-left: 14.634%; padding-right: 14.634%; }
@media (min-width: 525px) { #contents .content { clear: both; margin-left: 4.615%; margin-right: 4.615%; } }
@media (min-width: 980px) { #contents .content { clear: both; margin-left: 3.896%; margin-right: 3.896%; } }
@media (min-width: 525px) { #contents .content { padding-left: 9.231%; padding-right: 9.231%; } }
@media (min-width: 980px) { #contents .content { padding-left: 7.792%; padding-right: 7.792%; } }
@media (min-width: 525px) { #contents .contents { display: inline; float: left; width: 48.936%; margin-right: 2.128%; }
  #contents .contents:last-child { display: inline; float: right; margin-right: 0; #margin-left: -0.5em; } }
@media (min-width: 980px) { #contents .contents { display: inline; float: left; width: 49.153%; margin-right: 1.695%; }
  #contents .contents:last-child { display: inline; float: right; margin-right: 0; #margin-left: -0.5em; } }