@font-face { font-family: "GreenMudJJRegular"; src: url('../../fonts/jj/GreenMudJJ-Regular.otf') format('opentype'); font-weight: normal; font-style: normal; }

@font-face { font-family: "GreenMudJJRegular"; src: url('../../fonts/jj/GreenMudJJ-Italic.otf') format('opentype'); font-weight: normal; font-style: italic; }

/* Typography ---------------------------------------------------------------- */
.serif, .jj, .susy, .narrator { font-family: "GreenMudJJRegular", serif; }

.sans { font-family: sans-serif; }

.mono { font-family: monospace, sans-serif; }

.caps, .allcaps, .title b, #contents h4 { letter-spacing: 0.05em; }

.allcaps, .title b, #contents h4 { text-transform: uppercase; }

.smallcaps { font-variant: small-caps; }

/* Layout -------------------------------------------------------------------- */
.hidden { position: absolute; clip: rect(0 0 0 0); overflow: hidden; margin: -1px; padding: 0; height: 1px; width: 1px; border: 0; }

/* titlepages ---------------------------------------------------------------- */
.title { clear: both; margin-left: 1.639%; margin-right: 1.639%; font-size: 1.563em; line-height: 1.6em; margin-top: 2.4em; padding-top: 1.6em; padding-bottom: 1.6em; margin-bottom: 0.8em; position: relative; text-shadow: rgba(255, 255, 255, 0.64) 0 1px 0; text-align: center; }
.title:before, .title:after { position: absolute; top: 0; bottom: 0; content: " "; left: -300%; right: -300%; background: rgba(179, 179, 230, 0.41); z-index: -1; }
.title:before { -moz-transform: rotate(0.5deg); -webkit-transform: rotate(0.5deg); -o-transform: rotate(0.5deg); -ms-transform: rotate(0.5deg); transform: rotate(0.5deg); }
.title:after { -moz-transform: rotate(-0.5deg); -webkit-transform: rotate(-0.5deg); -o-transform: rotate(-0.5deg); -ms-transform: rotate(-0.5deg); transform: rotate(-0.5deg); }
.title b::after { content: ": "; }

.epigraph p, #epigraph p { font-size: 1.25em; line-height: 1.5em; }
.epigraph p:last-child, #epigraph p:last-child { font: inherit; font-style: normal; }

/* Links --------------------------------------------------------------------- */
/* Lists --------------------------------------------------------------------- */
.pagewrap { *zoom: 1; margin: auto; width: 36.5em; max-width: 100%; }
.pagewrap:after { content: ""; display: table; clear: both; }

h2, .content { clear: both; margin-left: 1.37%; margin-right: 1.37%; }

#contents .content { clear: both; margin-left: 1.37%; margin-right: 1.37%; padding-left: 8.451%; padding-right: 8.451%; }
#contents .contents { display: inline; float: left; width: 49.153%; margin-right: 1.695%; }
#contents .contents:last-child { display: inline; float: right; margin-right: 0; #margin-left: -0.5em; }
#contents ol { font-size: 0.8em; line-height: 1.562em; }

#epigraph .content { padding-left: 24.658%; }