// Mixin ---------------------------------------------------------------------

+font-face('GreenMudJJRegular', font-files('jj/GreenMudJJ-Regular.otf',opentype), false, normal, normal)
+font-face('GreenMudJJRegular', font-files('jj/GreenMudJJ-Italic.otf',opentype), false, normal, italic)

// Font Stacks ---------------------------------------------------------------

$sans-stack   : sans-serif
$serif-stack  : serif
$mono-stack   : monospace, sans-serif

// Apply Fonts ---------------------------------------------------------------

=sans-family
  font-family: $sans-stack

=serif-family
  font-family: 'GreenMudJJRegular', $serif-stack

=mono-family
  font-family: $mono-stack
