// Mixin ---------------------------------------------------------------------

+font-face('GreenMudJJRegular', font-files('jj/greenmudjj-regular-webfont.woff', woff, 'jj/greenmudjj-regular-webfont.ttf', truetype, 'jj/greenmudjj-regular-webfont.svg#GreenMudJJRegular', svg), 'jj/greenmudjj-regular-webfont.eot', normal, normal)
+font-face('GreenMudJJRegular', font-files('jj/greenmudjj-italic-webfont.woff', woff, 'jj/greenmudjj-italic-webfont.ttf', truetype, 'jj/greenmudjj-italic-webfont.svg#GreenMudJJItalic', svg), 'jj/greenmudjj-italic-webfont.eot', normal, italic)

// Font Stacks ---------------------------------------------------------------

$sans-stack   : sans-serif
$serif-stack  : serif
$mono-stack   : monospace, sans-serif

// Apply Fonts ---------------------------------------------------------------

=sans-family
  font-family: $sans-stack

=serif-family
  font-family: $serif-stack

=mono-family
  font-family: $mono-stack

=jj-family
  font-family: 'GreenMudJJRegular', serif
