// ----------------------------------------------------------------------------
// imports

@import "base/base";
@import "helpers/helpers";

// ----------------------------------------------------------------------------
// settings

$ch: 'dancing-without-architecture/frontmatter/';

/* ----------------------------------------------------------------------------
   general */

html {
  @include background(color($orange $lightest) $noise);
  @include background-image($noise, linear-gradient(120deg, color($orange,.5), color($orange $lighter,0)));
}

$page-enter     : fadeIn;
$page-exit      : fadeOut;
$page-time      : 2s 600ms;
$page-function  : ease;

@include pageturn;

// ----------------------------------------------------------------------------
// pages

@import "frontmatter/epigraph";

/* ----------------------------------------------------------------------------
  titlepage */

#titlepage { @extend %booktitle; }
