@charset "UTF-8";
#home .inst.access:before { content: "\2731"; }

#home .social [href*="vimeo"]:before, #about .social [href*="vimeo"]:before { content: "\e002"; }

#home .social [href*="github"]:before, #about .social [href*="github"]:before { content: "\e003"; }

#home .inst.turn:before { content: "\e005"; }

#home .social [href*="twitter"]:before, #about .social [href*="twitter"]:before { content: "\e000"; }

#home .social [href*="facebook"]:before, #about .social [href*="facebook"]:before { content: "\e001"; }

#home .social [href*="andmeyer"]:before, #about .social [href*="andmeyer"]:before { content: "\e004"; }

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before { font-family: 'IcoMoon'; content: attr(data-icon); speak: none; }

/* Use the following CSS code if you want to have a class per icon */
#home .social a:before, #about .social a:before, #home .inst:before { font-family: 'IcoMoon'; font-style: normal; speak: none; }

#home .social a, #about .social a { position: relative; min-width: 1em; text-indent: -9999px; }
#home .social a:before, #about .social a:before { position: absolute; top: 0; left: 0; text-indent: 0; }

/* ---------------------------------------------------------------------------- type */
#home .license, #about .license, #title a:link, #title a:visited { text-transform: uppercase; }

/* ---------------------------------------------------------------------------- defaults */
#home [role="main"] h1, #about [role="main"] h1 { font-size: 1.5em; line-height: 1.25em; }
#home [role="main"] h1, #about [role="main"] h1, #home [role="main"] h2, #about [role="main"] h2, #home [role="main"] h3, #about [role="main"] h3, #home [role="main"] h4, #about [role="main"] h4 { font-weight: bold; color: #404040; }
#home [role="main"] h1:first-child, #about [role="main"] h1:first-child, #home [role="main"] h1 + h2, #about [role="main"] h1 + h2, #home [role="main"] h1 + h3, #about [role="main"] h1 + h3, #home [role="main"] h1 + h4, #about [role="main"] h1 + h4, #home [role="main"] h2:first-child, #about [role="main"] h2:first-child, #home [role="main"] h2 + h2, #about [role="main"] h2 + h2, #home [role="main"] h2 + h3, #about [role="main"] h2 + h3, #home [role="main"] h2 + h4, #about [role="main"] h2 + h4, #home [role="main"] h3:first-child, #about [role="main"] h3:first-child, #home [role="main"] h3 + h2, #about [role="main"] h3 + h2, #home [role="main"] h3 + h3, #about [role="main"] h3 + h3, #home [role="main"] h3 + h4, #about [role="main"] h3 + h4, #home [role="main"] h4:first-child, #about [role="main"] h4:first-child, #home [role="main"] h4 + h2, #about [role="main"] h4 + h2, #home [role="main"] h4 + h3, #about [role="main"] h4 + h3, #home [role="main"] h4 + h4, #about [role="main"] h4 + h4 { margin-top: 0; }
#home [role="main"] h2, #about [role="main"] h2, #home [role="main"] h3, #about [role="main"] h3, #home [role="main"] h4, #about [role="main"] h4 { font-size: 1.25em; line-height: 1.5em; margin-top: 0.833em; }
#home [role="main"] p, #about [role="main"] p, #home [role="main"] ol, #about [role="main"] ol, #home [role="main"] ul, #about [role="main"] ul { margin-bottom: 1.25em; }
#home [role="main"] ol, #about [role="main"] ol { list-style-type: decimal; }
#home [role="main"] ul li, #about [role="main"] ul li { position: relative; }
#home [role="main"] ul li:before, #about [role="main"] ul li:before { content: "•"; position: absolute; top: 0; right: 100%; margin-right: .2em; }
#home [role="main"] em, #about [role="main"] em, #home [role="main"] blockquote, #about [role="main"] blockquote { font-style: italic; }

#contents { counter-reset: toc; }
#contents ol { list-style-type: none; }
#contents li { counter-increment: toc; }
#contents li:before { content: counter(toc, decimal-leading-zero) ". "; }

@-moz-keyframes template-burst { 0% { background-color: #e5e5ff; background-position: center -10em, center; }
  100% { background-color: #ffe5ff; background-position: center -2.5em, center; } }

@-webkit-keyframes template-burst { 0% { background-color: #e5e5ff; background-position: center -10em, center; }
  100% { background-color: #ffe5ff; background-position: center -2.5em, center; } }

@-o-keyframes template-burst { 0% { background-color: #e5e5ff; background-position: center -10em, center; }
  100% { background-color: #ffe5ff; background-position: center -2.5em, center; } }

@-ms-keyframes template-burst { 0% { background-color: #e5e5ff; background-position: center -10em, center; }
  100% { background-color: #ffe5ff; background-position: center -2.5em, center; } }

@keyframes template-burst { 0% { background-color: #e5e5ff; background-position: center -10em, center; }
  100% { background-color: #ffe5ff; background-position: center -2.5em, center; } }

#home .social a, #about .social a { display: inline-block; width: 1.25em; }
#home .social a:before, #about .social a:before { right: 0; }

#home, #about { text-shadow: rgba(255, 255, 255, 0.8) 0 1px 1px; background: #edf6ed url('../../images/noise.png?1339738503') repeat scroll; background: url('../../images/noise.png?1339738503'), -webkit-gradient(linear, 0% 100%, 100% 0%, color-stop(0%, #ffffe5), color-stop(100%, #edf6ed)); background: url('../../images/noise.png?1339738503'), -webkit-linear-gradient(bottom left, #ffffe5, #edf6ed); background: url('../../images/noise.png?1339738503'), -moz-linear-gradient(bottom left, #ffffe5, #edf6ed); background: url('../../images/noise.png?1339738503'), -o-linear-gradient(bottom left, #ffffe5, #edf6ed); background: url('../../images/noise.png?1339738503'), -ms-linear-gradient(bottom left, #ffffe5, #edf6ed); background: url('../../images/noise.png?1339738503'), linear-gradient(bottom left, #ffffe5, #edf6ed); }
#home b, #about b { font-weight: bold; white-space: nowrap; color: #404040; }
#home .site-title, #about .site-title, #home [role="main"], #about [role="main"], #home .footer, #about .footer { -webkit-transition: max-width 300ms; -moz-transition: max-width 300ms; -ms-transition: max-width 300ms; -o-transition: max-width 300ms; transition: max-width 300ms; max-width: 20.5em; margin-left: auto; margin-right: auto; padding-left: 0.5em; padding-right: 0.5em; }
#home .site-title:after, #about .site-title:after, #home [role="main"]:after, #about [role="main"]:after, #home .footer:after, #about .footer:after { content: ""; display: table; clear: both; }
@media (min-width: 53.25em) { #home .site-title, #about .site-title, #home [role="main"], #about [role="main"], #home .footer, #about .footer { max-width: 34.5em; } }
#home [role="banner"], #about [role="banner"] { -webkit-animation: template-burst 6s ease both; -moz-animation: template-burst 6s ease both; -ms-animation: template-burst 6s ease both; -o-animation: template-burst 6s ease both; animation: template-burst 6s ease both; border-bottom-style: solid; border-bottom-width: 0.083em; padding-bottom: 1.792em; color: #404040; background: #ffe5ff url('../../images/noise.png?1339738503'); background: url('../../images/frontmatter/burst.png?1339738503') no-repeat scroll center -2.5em, #ffe5ff url('../../images/noise.png?1339738503'); border-color: #202020; }
#home [role="banner"] a:link, #about [role="banner"] a:link, #home [role="banner"] a:visited, #about [role="banner"] a:visited { -webkit-transition: all 200ms; -moz-transition: all 200ms; -ms-transition: all 200ms; -o-transition: all 200ms; transition: all 200ms; -webkit-transform-origin: 0 50%; -moz-transform-origin: 0 50%; -ms-transform-origin: 0 50%; -o-transform-origin: 0 50%; transform-origin: 0 50%; display: inline-block; color: #404040; }
#home [role="banner"] a:hover, #about [role="banner"] a:hover, #home [role="banner"] a:focus, #about [role="banner"] a:focus, #home [role="banner"] a:active, #about [role="banner"] a:active { -webkit-transform: scale(1.2, 1.2); -moz-transform: scale(1.2, 1.2); -ms-transform: scale(1.2, 1.2); -o-transform: scale(1.2, 1.2); transform: scale(1.2, 1.2); color: #7f0000; }
#home [role="banner"]:hover h2, #about [role="banner"]:hover h2 { -webkit-animation: hinge 1.5s 10s ease both; -moz-animation: hinge 1.5s 10s ease both; -ms-animation: hinge 1.5s 10s ease both; -o-animation: hinge 1.5s 10s ease both; animation: hinge 1.5s 10s ease both; }
#home .site-title, #about .site-title { padding-top: 1.875em; }
#home .site-title h1, #about .site-title h1 { font-size: 1.583em; line-height: 1.184em; font-weight: bold; }
#home [role="main"], #about [role="main"] { padding-top: 1.25em; padding-bottom: 1.25em; }
#home [role="contentinfo"], #about [role="contentinfo"] { border-top-style: solid; border-top-width: 0.083em; padding-top: 0.542em; border-bottom-style: solid; border-bottom-width: 0.083em; padding-bottom: 1.792em; background: #d4ead4 url('../../images/noise.png?1339738503'); border-color: #404040; color: gray; }
#home [role="contentinfo"] a:link, #about [role="contentinfo"] a:link, #home [role="contentinfo"] a:visited, #about [role="contentinfo"] a:visited { color: gray; }
#home [role="contentinfo"] a:hover, #about [role="contentinfo"] a:hover, #home [role="contentinfo"] a:focus, #about [role="contentinfo"] a:focus, #home [role="contentinfo"] a:active, #about [role="contentinfo"] a:active { color: #404040; }
#home .license, #about .license { font-size: 0.792em; line-height: 2.368em; }
#home .social, #about .social { font-size: 1.5em; line-height: 1.25em; }
#home .social li, #about .social li { display: inline-block; }
#home .social a:link, #about .social a:link, #home .social a:visited, #about .social a:visited { color: rgba(128, 128, 128, 0.5); }
#home .social a:hover, #about .social a:hover, #home .social a:focus, #about .social a:focus, #home .social a:active, #about .social a:active { color: #404040; }
@media (min-width: 53.25em) { #home .license, #about .license, #home .social, #about .social { width: 49.275%; float: left; margin-right: 1.449%; }
  #home .social, #about .social { float: right; margin-right: 0; text-align: right; }
  #home .social a, #about .social a { text-align: left; } }

#home [role="main"] { -webkit-transition: background-position 300ms; -moz-transition: background-position 300ms; -ms-transition: background-position 300ms; -o-transition: background-position 300ms; transition: background-position 300ms; background: url('../../images/frontmatter/home/swing.png?1339738503') no-repeat scroll 0 -310px; background: url('../../images/frontmatter/home/swing.png?1339738503') no-repeat scroll, url('../../images/frontmatter/scribble.png?1339738503') no-repeat scroll; background-position: 0 -310px, right 50em; }
#home .intro, #home .actions, #home .instructions { overflow: hidden; }
@media all and (min-width: 24em) { #home .actions .act { width: 48.78%; float: left; margin-right: 2.439%; }
  #home .actions .act:last-child { float: right; margin-right: 0; } }
#home .actions a:link, #home .actions a:visited { -webkit-border-radius: 5px; -moz-border-radius: 5px; -ms-border-radius: 5px; -o-border-radius: 5px; border-radius: 5px; border-style: solid; border-width: 0.083em; padding: 0.542em; -webkit-transition: all 300ms; -moz-transition: all 300ms; -ms-transition: all 300ms; -o-transition: all 300ms; transition: all 300ms; display: block; color: #202020; text-align: center; }
#home .actions a:link:after, #home .actions a:visited:after { content: " »"; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); opacity: 0; }
#home .actions a:link[href*="about"], #home .actions a:visited[href*="about"] { background: #ffffbf; }
#home .actions a:link[href*="title"], #home .actions a:visited[href*="title"] { background: #bfffbf; }
#home .actions a:hover:after, #home .actions a:focus:after, #home .actions a:active:after { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100); opacity: 1; -webkit-animation: fadeIn 1.5s infinite alternate; -moz-animation: fadeIn 1.5s infinite alternate; -ms-animation: fadeIn 1.5s infinite alternate; -o-animation: fadeIn 1.5s infinite alternate; animation: fadeIn 1.5s infinite alternate; }
#home .actions a:hover[href*="about"], #home .actions a:focus[href*="about"], #home .actions a:active[href*="about"] { background: #ffff72; }
#home .actions a:hover[href*="title"], #home .actions a:focus[href*="title"], #home .actions a:active[href*="title"] { background: #72ff72; }
#home .inst { text-align: center; }
#home .inst:before { font-size: 2.25em; line-height: 1.111em; margin-bottom: 0.139em; -webkit-transition: color 300ms; -moz-transition: color 300ms; -ms-transition: color 300ms; -o-transition: color 300ms; transition: color 300ms; display: block; color: rgba(128, 128, 128, 0.8); }
@media all and (min-width: 24em) { #home .inst { width: 48.78%; float: left; margin-right: 2.439%; }
  #home .inst:last-child { float: right; margin-right: 0; } }
@media (min-width: 53.25em) { #home [role="main"] { padding-top: 2.5em; background-position: 0 0; background-position: 0 0, right 16.25em; }
  #home .intro, #home .actions, #home .instructions { padding-left: 20.29%; padding-right: 20.29%; clear: both; } }

.warning { -webkit-border-radius: 5px; -moz-border-radius: 5px; -ms-border-radius: 5px; -o-border-radius: 5px; border-radius: 5px; border-style: solid; border-width: 0.083em; padding: 0.542em; background: #ffbfbf; }

@-moz-keyframes line1 { 0% { background-position: 827px 7.5em; }
  100% { background-position: 0 7.5em; } }

@-webkit-keyframes line1 { 0% { background-position: 827px 7.5em; }
  100% { background-position: 0 7.5em; } }

@-o-keyframes line1 { 0% { background-position: 827px 7.5em; }
  100% { background-position: 0 7.5em; } }

@-ms-keyframes line1 { 0% { background-position: 827px 7.5em; }
  100% { background-position: 0 7.5em; } }

@keyframes line1 { 0% { background-position: 827px 7.5em; }
  100% { background-position: 0 7.5em; } }

@-moz-keyframes line2 { 0% { background-position: 827px 11.25em; }
  100% { background-position: 0 11.25em; } }

@-webkit-keyframes line2 { 0% { background-position: 827px 11.25em; }
  100% { background-position: 0 11.25em; } }

@-o-keyframes line2 { 0% { background-position: 827px 11.25em; }
  100% { background-position: 0 11.25em; } }

@-ms-keyframes line2 { 0% { background-position: 827px 11.25em; }
  100% { background-position: 0 11.25em; } }

@keyframes line2 { 0% { background-position: 827px 11.25em; }
  100% { background-position: 0 11.25em; } }

@-moz-keyframes line3 { 0% { background-position: 827px 18.75em; }
  100% { background-position: 0 18.75em; } }

@-webkit-keyframes line3 { 0% { background-position: 827px 18.75em; }
  100% { background-position: 0 18.75em; } }

@-o-keyframes line3 { 0% { background-position: 827px 18.75em; }
  100% { background-position: 0 18.75em; } }

@-ms-keyframes line3 { 0% { background-position: 827px 18.75em; }
  100% { background-position: 0 18.75em; } }

@keyframes line3 { 0% { background-position: 827px 18.75em; }
  100% { background-position: 0 18.75em; } }

#title { background: #d4ead4; background-image: -webkit-gradient(linear, 0% 0%, 100% 100%, color-stop(0%, #ffe5ff), color-stop(50%, #ffe5ff), color-stop(50%, #d4ead4), color-stop(100%, #d4ead4)); background-image: -webkit-linear-gradient(top left, #ffe5ff, #ffe5ff 50%, #d4ead4 50%, #d4ead4); background-image: -moz-linear-gradient(top left, #ffe5ff, #ffe5ff 50%, #d4ead4 50%, #d4ead4); background-image: -o-linear-gradient(top left, #ffe5ff, #ffe5ff 50%, #d4ead4 50%, #d4ead4); background-image: -ms-linear-gradient(top left, #ffe5ff, #ffe5ff 50%, #d4ead4 50%, #d4ead4); background-image: linear-gradient(top left, #ffe5ff, #ffe5ff 50%, #d4ead4 50%, #d4ead4); -webkit-transition: background 300ms; -moz-transition: background 300ms; -ms-transition: background 300ms; -o-transition: background 300ms; transition: background 300ms; }
@media all and (min-width: 30em) { #title [role="main"] { -webkit-animation: line1 30s linear infinite both; -moz-animation: line1 30s linear infinite both; -ms-animation: line1 30s linear infinite both; -o-animation: line1 30s linear infinite both; animation: line1 30s linear infinite both; background: url('../../images/frontmatter/titlepage/line.png?1340056009') repeat-x scroll 827px 7.5em; } }
@media all and (min-width: 30em) and (min-height: 32em) { #title [role="main"] { -webkit-animation-name: line2; -moz-animation-name: line2; -ms-animation-name: line2; -o-animation-name: line2; animation-name: line2; background-position: 827px 11.25em; } }
@media all and (min-width: 30em) and (min-height: 50em) { #title [role="main"] { -webkit-animation-name: line3; -moz-animation-name: line3; -ms-animation-name: line3; -o-animation-name: line3; animation-name: line3; background-position: 827px 18.75em; } }
#title .wrap1 { padding-top: 1.875em; padding-bottom: 1.25em; -webkit-transition: all 300ms; -moz-transition: all 300ms; -ms-transition: all 300ms; -o-transition: all 300ms; transition: all 300ms; background: url('../../images/frontmatter/titlepage/strings_left.png?1340057318') no-repeat scroll -376.5px bottom, url('../../images/frontmatter/titlepage/strings_right.png?1340057309') no-repeat scroll 947.5px bottom; }
@media all and (min-width: 50em) { #title .wrap1 { background-position: left bottom, right bottom; } }
@media all and (min-height: 32em) { #title .wrap1 { padding-top: 5.625em; } }
@media all and (min-height: 50em) { #title .wrap1 { padding-top: 13.125em; } }
#title .wrap2 { max-width: 20.5em; margin-left: auto; margin-right: auto; padding-left: 0.5em; padding-right: 0.5em; color: #404040; text-align: center; }
#title .wrap2:after { content: ""; display: table; clear: both; }
#title h1, #title h2 { font-weight: bold; }
#title h1 { font-size: 1.5em; line-height: 1.25em; }
#title h2 { padding-bottom: 8.125em; margin-bottom: 0.625em; background: url('../../images/frontmatter/scribble.png?1339738503') no-repeat scroll center bottom; }
#title a:link, #title a:visited { color: #3e3e81; }
#title a:hover, #title a:focus, #title a:active { color: #813e81; }
