// ----------------------------------------------------------------------------
// imports

/* ----------------------------------------------------------------------------
  fonts */

$icomoon          : IcoMoon         'icomoon/IcoMoon'                               normal  normal;

$jjregular        : GreenMudJJ      'jj/greenmudjj-regular-webfont'                 normal  normal;
$jjitalic         : GreenMudJJ      'jj/greenmudjj-italic-webfont'                  normal  italic;
$jjbold           : GreenMudJJ      'jj/greenmudjj-bold-webfont'                    bold    normal;

$susyregular      : GreenMudSusy    'susy/greenmudsusy-regular-webfont'             normal  normal;
$susybold         : GreenMudSusy    'susy/greenmudsusy-bold-webfont'                bold    normal;
$susysc           : GreenMudSusySC  'susy/greenmudsusy-smallcaps-webfont'           normal  normal;
$susyscbold       : GreenMudSusySC  'susy/greenmudsusy-smallcapsbold-webfont'       bold    normal;

@mixin font($font, $exact: false) {
  $name: nth($font,1);
  $location: nth($font,2);
  $weight: if(nth($font,3), nth($font,3), normal);
  $style: if(nth($font,4), nth($font,4), normal);
  @include font-face(
    $name,
    font-files(
      '#{$location}.woff', 'woff',
      '#{$location}.ttf', 'truetype',
      '#{$location}.svg##{$name}', 'svg'
    ),
    '#{$location}.eot',
    $weight,
    $style
  );
}

@include font($icomoon);
@include font($jjregular);
@include font($jjitalic);
@include font($jjbold);
@include font($susyregular);
@include font($susybold);
@include font($susysc);
@include font($susyscbold);
