// ----------------------------------------------------------------------------
// settings

$icomoon          : greenmud          'icomoon/greenmud'                            normal  normal;

$jjregular        : GreenMudJJ        'jj/greenmudjj-regular-webfont'               normal  normal;
$jjitalic         : GreenMudJJ        'jj/greenmudjj-italic-webfont'                normal  italic;
$jjbold           : GreenMudJJ        'jj/greenmudjj-bold-webfont'                  bold    normal;

$susyregular      : GreenMudSusy      'susy/greenmudsusy-regular-webfont'           normal  normal;
$susybold         : GreenMudSusy      'susy/greenmudsusy-bold-webfont'              bold    normal;
$susysc           : GreenMudSusySC    'susy/greenmudsusy-smallcaps-webfont'         normal  normal;
$susyscbold       : GreenMudSusySC    'susy/greenmudsusy-smallcapsbold-webfont'     bold    normal;

$narrator         : GreenMudNarrator  'narrator/greenmudnarrator-regular-webfont'   normal  normal;
$narratorbold     : GreenMudNarrator  'narrator/greenmudnarrator-bold-webfont'      bold    normal;

$fonts: $icomoon,
        $jjregular, $jjitalic, $jjbold,
        $susyregular, $susybold, $susysc, $susyscbold,
        $narrator, $narratorbold;

/* ----------------------------------------------------------------------------
  fonts */

@mixin font($font, $exact: false) {
  $name: nth($font,1);
  $location: nth($font,2);
  $weight: if(nth($font,3), nth($font,3), normal);
  $style: if(nth($font,4), nth($font,4), normal);
  @include font-face(
    $name,
    font-files(
      '#{$location}.woff', 'woff',
      '#{$location}.ttf', 'truetype'
    ),
    false,
    $weight,
    $style
  );
}

@each $font in $fonts { @include font($font); }
