// ----------------------------------------------------------------------------
// imports

@import "fonts";

/* ----------------------------------------------------------------------------
   root */

@include establish-baseline;
@include border-box-sizing;

html {
  @include baseline-grid-background($base-line-height);
  @include back;
  font-family: $jj-stack;
  color: $base;
  overflow-x: hidden;
}

.jj, .susy, .narrator {
  font-family: $jj-stack;
}

// ----------------------------------------------------------------------------
// links

a {
  #{$link} {
    text-decoration: none;
    color: $alt;
  }
  #{$focus} {
    color: $accent;
  }
}