// ----------------------------------------------------------------------------
// imports

@import "fonts";

/* ----------------------------------------------------------------------------
  root */

$back   : $lightest;
$base   : $dark;
$alt    : $blue;
$accent : $pink;

@include animate;
@include establish-baseline;

html { 
  @include baseline-grid-background($base-line-height);
  font-family: $jj-stack;
  background: $back image-url('noise.png');
  color: $base;
  overflow-x: hidden;
}

.jj, .susy, .narrator {
  font-family: $jj-stack;
}

/* ----------------------------------------------------------------------------
  links */

a {
  #{$link} {
    text-decoration: none;
    color: $alt;
  }
  #{$focus} {
    color: $accent;
  }
}