// ----------------------------------------------------------------------------
// imports

@import "fonts";

/* ----------------------------------------------------------------------------
   root */

@include establish-baseline;
@include border-box-sizing;

html {
  @include baseline-grid-background($base-line-height);
  @include back;
  font-family: $narrator-stack;
  color: $base;
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
}

html, body { height: 100%; }

.jj { font-family: $jj-stack; }
.susy {
  font-family: $susy-stack;
  ul, ol { font-family: $susy-smallcaps; }
}
.narrator { font-family: $narrator-stack; }


// ----------------------------------------------------------------------------
// links

a {
  #{$link} {
    text-decoration: none;
    color: $alt;
  }
  #{$focus} {
    color: $accent;
  }
}