// ----------------------------------------------------------------------------
// settings

$jj-stack: "GreenMudJJRegular", sans-serif;

/* ----------------------------------------------------------------------------
  type */

.jj, .susy, .narrator {
  font-family: $jj-stack;
}

%caps {
  letter-spacing: .05em;
}

%allcaps {
  @extend .caps;
  text-transform: uppercase;
}

%smallcaps {
  font-variant: small-caps;
}

%ellipsis {
  @include ellipsis;
}

/* ----------------------------------------------------------------------------
  defaults */

%type {
  h1, h2, h3, h4 {
    @include adjust-font-size-to($largepx);
  }
  p, ol, ul {
    @include trailer;
  }
  ol { list-style-type: decimal; }
  ul { list-style-type: circle; }
}
