<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
  <meta charset="utf-8">

  <!-- Page Info -->
  <title>
    {%- block title -%}
    {%- if resource.meta.title -%}
      {{ resource.meta.title }} | GreenMud
    {%- else -%}
      {{ resource.meta.novel }}
    {%- endif -%}
    {%- endblock -%}
  </title>
  <meta name="description" content="{{ resource.meta.description }}">

  <!-- Facebook -->
  <meta property="og:url" content="http://greengreenmud.com/" />
  <meta property="og:title" content="Into the Green Green Mud: A Novel (with pictures)" />
  <meta property="og:description" content="A novel of association, reference, sounds, and images by Eric A. Meyer. A love story, and an after-love story. The clouds come and go. And so on. Published by Teacup Gorilla with OddBird." />
  <meta property="og:image" content="http://greengreenmud.com/media/images/favicons/fb.jpg" />

  <!-- Site Info -->
  {% block robots %}<meta name="robots" content="index, follow" />{% endblock %}
  <meta name="author" content="{{ resource.meta.author }}" />
  <meta name="keywords" content="{{ resource.meta.keywords }}" />
  <meta name="language" content="en-us" />

  <!-- Microformat Profiles -->
  <!-- hCard, hCalendar, rel-license, rel-tag, XOXO, XFN, VoteLinks -->
  <link rel="profile" href="http://microformats.org/profile/specs/" />

  <!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame -->
  <meta http-equiv="cleartype" content="on">
  <meta http-equiv="X-UA-Compatible" content="IE=edge;chrome=1" />

  <!-- https://gist.github.com/burin/3840737 -->
  <meta name="viewport" id="vp" content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width" />
  <meta name="viewport" id="vp" content="initial-scale=1.0,user-scalable=no,maximum-scale=1" media="(device-height: 568px)" />

  <!--iOS. Delete if not required -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black" />

  <!-- favicon.ico -->
  <link rel="shortcut icon" href="{{ resource.meta.root_url }}media/images/favicons/favicon.ico" />

  <!-- iPhone -->
  <link href="{{ resource.meta.root_url }}media/images/favicons/apple-touch-icon-57x57.png"
        sizes="57x57"
        rel="apple-touch-icon-precomposed">
  <link href="{{ resource.meta.root_url }}media/images/favicons/apple-touch-startup-image-320x460.png"
        media="screen and (device-aspect-ratio: 2/3) and not (-webkit-min-device-pixel-ratio: 2)"
        rel="apple-touch-startup-image">

  <!-- iPhone (Retina) -->
  <link href="{{ resource.meta.root_url }}media/images/favicons/apple-touch-icon-114x114.png"
        sizes="114x114"
        rel="apple-touch-icon-precomposed">
  <link href="{{ resource.meta.root_url }}media/images/favicons/apple-touch-startup-image-640x920.png"
        media="screen and (device-aspect-ratio: 2/3) and (-webkit-min-device-pixel-ratio: 2)"
        rel="apple-touch-startup-image">

  <!-- iPhone 5 -->
  <link href="{{ resource.meta.root_url }}media/images/favicons/apple-touch-startup-image-640x1096.png"
        media="screen and (device-aspect-ratio: 40/71) and (-webkit-device-pixel-ratio: 2)"
        rel="apple-touch-startup-image">

  <!-- iPad -->
  <link href="{{ resource.meta.root_url }}media/images/favicons/apple-touch-icon-72x72.png"
        sizes="72x72"
        rel="apple-touch-icon-precomposed">
  <link href="{{ resource.meta.root_url }}media/images/favicons/apple-touch-startup-image-768x1004.png"
        media="(device-width: 768px) and (device-height: 1024px)
           and (orientation: portrait)
           and (-webkit-device-pixel-ratio: 1)"
        rel="apple-touch-startup-image">
  <link href="{{ resource.meta.root_url }}media/images/favicons/apple-touch-startup-image-748x1024.png"
        media="(device-width: 768px) and (device-height: 1024px)
           and (orientation: landscape)
           and (-webkit-device-pixel-ratio: 1)"
        rel="apple-touch-startup-image">

  <!-- iPad (Retina) -->
  <link href="{{ resource.meta.root_url }}media/images/favicons/apple-touch-icon-144x144.png"
        sizes="144x144"
        rel="apple-touch-icon-precomposed">
  <link href="{{ resource.meta.root_url }}media/images/favicons/apple-touch-startup-image-1536x2008.png"
        media="(device-width: 768px) and (device-height: 1024px)
           and (orientation: portrait)
           and (-webkit-device-pixel-ratio: 2)"
        rel="apple-touch-startup-image">
  <link href="{{ resource.meta.root_url }}media/images/favicons/apple-touch-startup-image-1496x2048.png"
        media="(device-width: 768px) and (device-height: 1024px)
           and (orientation: landscape)
           and (-webkit-device-pixel-ratio: 2)"
        rel="apple-touch-startup-image">

  <!-- Styles -->
  {% block styles -%}
  {% if resource.meta.styles -%}
  <link rel="stylesheet" href="{{ resource.meta.root_url }}media/css/{{ resource.meta.styles }}" />
  {% endif %}
  {% endblock styles %}

  <!-- Modernizr -->
  {% block headjs -%}
  <script src="{{ resource.meta.root_url }}media/js/src/plugins/modernizr.js"></script>
  <script src="{{ resource.meta.root_url }}media/js/src/plugins/modernizr.selectors.js"></script>
  {% endblock headjs %}

  <!-- Page-Specific Head -->
  {% block extrahead %}{% endblock %}

</head>
<body id="greengreenmud-com" class="{{ resource.meta.slug }}{% if resource.meta.body_class %} {{ resource.meta.body_class }}{% endif %}">
{% block body %}

  <header role="banner">
    <h1 class="novel-title"><a href="/index.html" rel="home">{{ resource.meta.novel }}</a></h1>
    <h2 class="byline">by <a href="http://eric.andmeyer.com/">Eric A. Meyer</a></h2>
  </header>

  <div id="main" role="main">
    {% block main %}{% endblock main %}
  </div>

  <footer role="contentinfo">
    [cc] 2012 <a href="http://eric.andmeyer.com/">Eric A Meyer</a>
  </footer>

{% endblock body%}

{% block js %}

  {% if site.config.mode == "production" %}
    <script src="{{ resource.meta.root_url }}media/js/dist/minified.js"></script>
  {% else %}
    <script src="{{ resource.meta.root_url }}media/js/src/libs/jquery-2.0.0b1.js"></script>
    <script src="{{ resource.meta.root_url }}media/js/src/plugins/jquery.history.min.js"></script>
    <script src="{{ resource.meta.root_url }}media/js/src/plugins/jquery.touchSwipe.js"></script>
    <script src="{{ resource.meta.root_url }}media/js/src/plugins/jquery.ba-dotimeout.js"></script>
    <script src="{{ resource.meta.root_url }}media/js/src/plugins/jquery.placeholder.js"></script>
    <script src="{{ resource.meta.root_url }}media/js/src/plugins/jquery.scrollTo.js"></script>
    <script src="{{ resource.meta.root_url }}media/js/src/plugins/viewport.js"></script>
    <script src="{{ resource.meta.root_url }}media/js/src/local.js"></script>
    <script src="{{ resource.meta.root_url }}media/js/src/pageturning.js"></script>
    <script src="{{ resource.meta.root_url }}media/js/src/init.js"></script>
    <!-- <script src="http://10.0.1.46:8080/target/target-script-min.js#anonymous"></script> -->
  {% endif %}

  {% block scripts %}
  {% endblock scripts %}

  {% block analytics %}
  {% include "analytics.j2" %}
  {% endblock analytics %}

{% endblock js %}
</body>
</html>
