<!DOCTYPE html>
<!--[if lte IE 7]> <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]> <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">

  <!-- Page Info -->
  <title>{% block title %}{{ resource.meta.novel }}{% endblock %}</title>
  <meta name="description" content="{{ resource.meta.description }}">

  <!-- Facebook -->
  <meta property="og:url" content="http://greengreenmud.com/" />
  <meta property="og:title" content="Into the Green Green Mud: A Novel (with pictures)" />
  <meta property="og:description" content="A novel of association, reference, sounds, and images by Eric A. Meyer. A love story, and an after-love story. The clouds come and go. And so on. Published by Teacup Gorilla with OddBird." />
  <meta property="og:image" content="http://greengreenmud.com/media/images/favicons/fb.jpg" />

  <!-- Site Info -->
  {% block robots %}<meta name="robots" content="index, follow" />{% endblock %}
  <meta name="author" content="{{ resource.meta.author }}" />
  <meta name="keywords" content="{{ resource.meta.keywords }}" />
  <meta name="language" content="en-us" />

  <!-- Microformat Profiles -->
  <!-- hCard, hCalendar, rel-license, rel-tag, XOXO, XFN, VoteLinks -->
  <link rel="profile" href="http://microformats.org/profile/specs/" />

  <!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame -->
  <meta http-equiv="cleartype" content="on">
  <meta http-equiv="X-UA-Compatible" content="IE=edge;chrome=1" />

  <!-- http://t.co/dKP3o1e -->
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, target-densitydpi=160dpi, initial-scale=1, maximum-scale=1, user-scalable=no">

  <!--iOS. Delete if not required -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black" />

  <!-- 320x460 for iPhone 3GS -->
  <link rel="apple-touch-startup-image" media="screen and (max-device-width: 480px) and not (-webkit-min-device-pixel-ratio: 2)" href="{{ media_url('images/favicons/splash-iphone.png') }}" />
  <!-- 640x920 for retina display -->
  <link rel="apple-touch-startup-image" media="screen and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2)" href="{{ media_url('images/favicons/splash-iphone4.png') }}" />
  <!-- iPad Portrait 768x1004 -->
  <link rel="apple-touch-startup-image" media="screen and (min-device-width: 768px) and (orientation: portrait)" href="{{ media_url('images/favicons/splash-portrait.png') }}" />
  <!-- iPad Landscape 1024x748 -->
  <link rel="apple-touch-startup-image" media="screen and (min-device-width: 768px) and (orientation: landscape)" href="{{ media_url('images/favicons/splash-landscape.png') }}" />

  <!-- favicon.ico -->
  <link rel="shortcut icon" href="{{ media_url('images/favicons/favicon.ico') }}" />
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ media_url('images/favicons/apple-touch-icon-114x114-precomposed.png') }}">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ media_url('images/favicons/apple-touch-icon-72x72-precomposed.png') }}">
  <link rel="apple-touch-icon-precomposed" href="{{ media_url('images/favicons/apple-touch-icon-precomposed.png') }}">

  <!-- Styles -->
  {% block styles -%}
  {% endblock styles %}

  <!-- Modernizr -->
  {% block headjs -%}
  <script src="{{ media_url('js/src/plugins/modernizr.js') }}"></script>
  <script src="{{ media_url('js/src/plugins/modernizr.selectors.js') }}"></script>
  {% endblock headjs %}

  <!-- Page-Specific Head -->
  {% block extrahead %}{% endblock %}

</head>
<body id="greengreenmud-com" {% if resource.meta.body_class %}class="{{ resource.meta.body_class }}"{% endif %}>
{% block body %}

  <header role="banner">
    <h1 class="novel-title"><a href="/" rel="home">{{ resource.meta.novel }}</a></h1>
    <h2 class="byline">by <a href="http://eric.andmeyer.com/">Eric A. Meyer</a></h2>
  </header>

  <div id="main" role="main">
    {% block main %}{% endblock main %}
  </div>

  <footer role="contentinfo">
    [cc] 2012 <a href="http://eric.andmeyer.com/">Eric A Meyer</a>
  </footer>

{% endblock body%}

{% block js %}

  {% if site.config.mode == "production" %}
    <script src="{{ media_url('js/dist/minified.js') }}"></script>
  {% else %}
    <script src="{{ media_url('js/src/libs/jquery-1.7.2.js') }}"></script>
    <script src="{{ media_url('js/src/plugins/jquery.history.js') }}"></script>
    <script src="{{ media_url('js/src/plugins/jquery.ba-dotimeout.js') }}"></script>
    <script src="{{ media_url('js/src/plugins/jquery.placeholder.js') }}"></script>
    <script src="{{ media_url('js/src/plugins/jquery.scrollTo.js') }}"></script>
    <script src="{{ media_url('js/src/plugins/viewport.js') }}"></script>
    <script src="{{ media_url('js/src/local.js') }}"></script>
    <script src="{{ media_url('js/src/pageturning.js') }}"></script>
    <script src="{{ media_url('js/src/init.js') }}"></script>
    <script src="http://10.0.1.8:8080/target/target-script-min.js#anonymous"></script>
  {% endif %}

  {% block scripts %}
  {% endblock scripts %}

  {% block analytics %}
  {% include "analytics.j2" %}
  {% endblock analytics %}

{% endblock js %}
</body>
</html>
