<ol class="breadcrumb">
  <li class="crumb">
    <a href="../index.html">
      {% if node.meta.book -%}{{ node.meta.book }}
      {%- else -%}{{ node.meta.novel }}{%- endif %}
    </a>
  </li>
  {% if node.meta.chapter -%}
    <li class="crumb">
      <a href="./index.html">{{ node.meta.chapter }}</a>
    </li>
  {%- endif %}
</ol>
