<aside class="warning">
  <h2>Please <a href="http://browsehappy.com/">upgrade your&nbsp;browser</a>.</h2>
  <p>Chrome, Firefox, & Safari currently offer the best support for this&nbsp;technology.</p>
</aside>
