<header class="controls">
  <h1 role="banner">
    <a href="{{ resource.meta.root_url }}index.html" rel="home">
      {{ node.meta.novel }}
    </a>
  </h1>
  {% include "novel/_page-nav.j2" %}
  {% include "novel/_toc.j2" %}
</header>
