<aside class="instructions">
  <p class="help-pageturn">
    <b class="swipe">Swipe</b>
    <span class="or">or</span> <span class="use">use</span>
    <b class="arrows">arrow keys</b>
    to turn the&nbsp;page.
  </p>
  <p class="extra-help">
    (open the <i class="menu">menu</i> for full&nbsp;navigation)
  </p>
  <p class="try-now">Try it now!</p>
</aside>
