<ul class="meta">
  <li>
    <a href="{{ resource.meta.root_url }}" rel="home" title="Home">{{ node.meta.novel }}</a>
  </li>
  <li>
    <a href="{{ resource.meta.root_url }}contents.html" title="Table of Contents" rel="contents">
      Table of Contents
    </a>
  </li>
</ul>