<ul class="meta">
  <li>
    <a href="/" rel="home" title="Home">{{ node.meta.novel }}</a>
  </li>
  <li>
    <a href="/contents.html" title="Table of Contents" rel="contents">
      Table of Contents
    </a>
  </li>
<!--   <li>
    <a href="/about.html" title="About">About</a>
  </li> -->
</ul>