<nav class="pagenav">
  <h2 class="hidden">Page Navigation</h2>
  <ul>
    <li class="prev">
      <a {% if resource.meta.prev.url %}href="{{ resource.meta.prev.url }}" {% if resource.meta.chapter_break == 'before' or resource.meta.chapter_break == 'both' %}class="break" data-ajax="false" {% else %}data-prefetch data-transition="reverse slide" {% endif %}title="go to the previous page" data-id="{{ resource.meta.prev.slug }}"{% else %}title="no previous pages"{% endif %}>Previous</a>
    </li>
    <li class="next">
      <a {% if resource.meta.next.url %}href="{{ resource.meta.next.url }}" {% if resource.meta.chapter_break == 'after' or resource.meta.chapter_break == 'both'  %}class="break" data-ajax="false" {% else %}data-prefetch data-transition="slide" {% endif %}title="go to the next page" data-id="{{ resource.meta.next.slug }}"{% else %}title="no more pages"{% endif %}>Next</a>
    </li>
  </ul>
</nav>
