<nav class="pagenav">
  <ul class="page-list">
    <li class="prev">
      <a rel="prev" {% if resource.meta.prev.url %}href="{{ resource.meta.prev.url }}" {% if resource.meta.chapter_break == 'before' or resource.meta.chapter_break == 'both' %}class="break" {% endif %}title="previous page" data-id="{{ resource.meta.prev.slug }}"{% else %}title="no previous pages"{% endif %} {% if resource.meta.prev_chapter %}data-chapter="{{ resource.meta.prev_chapter }}"{% endif %}>Previous</a>
    </li>
    <li class="next">
      <a rel="next" {% if resource.meta.next.url %}href="{{ resource.meta.next.url }}" {% if resource.meta.chapter_break == 'after' or resource.meta.chapter_break == 'both'  %}class="break" {% endif %}title="next page" data-id="{{ resource.meta.next.slug }}"{% else %}title="no more pages"{% endif %} {% if resource.meta.next_chapter %}data-chapter="{{ resource.meta.next_chapter }}"{% endif %}>Next</a>
    </li>
  </ul>
</nav>
