<nav class="pagenav">
  <h2 class="hidden">Page Navigation</h2>
  <ul>
    <li class="prev">
      <a href="{{ resource.meta.prev_url or '#' }}">Previous</a>
    </li>
    <li class="next"><a href="{{ resource.meta.next_url or '#' }}">Next</a></li>
  </ul>
</nav>
