<footer role="contentinfo">
  <ul class="social">
    <li><a title="GreenMud Home" href="/index.html" rel="home">home</a></li>
    <li><a title="Eric&Meyer Blog" href="http://eric.andmeyer.com/">blog</a></li>
    <li><a title="Eric&Meyer Twitter" href="http://twitter.com/eriiicam/">twitter</a></li>
    <li><a title="GreenMud Facebook" href="http://facebook.com/greengreenmud/">facebook</a></li>
    <li><a title="GreenMud Videos" href="http://vimeo.com/album/1858141/">video</a></li>
    <li><a title="GreenMud code on Github" href="http://github.com/oddbird/greenmud/">github</a></li>
  </ul>
</footer>