  <footer role="contentinfo">
  <div class="footer">
    {% filter typogrify %}
    <p class="license">
      <a href="http://creativecommons.org/licenses/by-nc-sa/3.0/" rel="license">Copyright ©</a>
      2006-2012 <b>{{ resource.meta.author }}</b>
    </p>
    <ul class="social">
      <li><a href="http://eric.andmeyer.com/">blog</a></li>
      <li><a href="http://twitter.com/eriiicam/">twitter</a></li>
      <li><a href="http://facebook.com/greengreenmud/">facebook</a></li>
      <li><a href="https://github.com/oddbird/greenmud/">github</a></li>
    </ul>
    {% endfilter %}
  </div>
  </footer>