<header role="banner">
  <hgroup class="site-title">
    {% filter typogrify %}
    <h1><a href="{{ resource.meta.root_url }}index.html">{{ resource.meta.novel }}</a></h1>
    <h2><a href="{{ resource.meta.root_url }}about.html">{{ resource.meta.tagline }}</a></h2>
    {% endfilter %}
  </hgroup>
</header>