<section class="toc-dancing">
  <h3 class="book">
    <a href="{{ resource.meta.root_url }}dancing-without-architecture/index.html" {% if resource.meta.book_slug == 'dancing-without-architecture' and resource.meta.chapter_slug == 'frontmatter' %}class="active"{% endif %}>
      Dancing Without Architecture
    </a>
  </h3>
  <ol>
    <li>
      <a href="{{ resource.meta.root_url }}dancing-without-architecture/in-which-jj/index.html" {% if resource.meta.chapter_slug == 'in-which-jj' %}class="active"{% endif %}>
        In Which: <span class="caps">JJ</span>
      </a>
    </li>
    <li>
      <a href="{{ resource.meta.root_url }}dancing-without-architecture/daymares-poor-boy/index.html" {% if resource.meta.chapter_slug == 'daymares-poor-boy' %}class="active"{% endif %}>
        Daymares, Poor Boy
      </a>
    </li>
    <li>
      <a href="{{ resource.meta.root_url }}dancing-without-architecture/the-susy-within/index.html" {% if resource.meta.chapter_slug == 'the-susy-within' %}class="active"{% endif %}>
        The Susy Within
      </a>
    </li>
    <li>
      <a href="{{ resource.meta.root_url }}dancing-without-architecture/yes-mother-goodnight/index.html" {% if resource.meta.chapter_slug == 'yes-mother-goodnight' %}class="active"{% endif %}>
        Yes Mother, Goodnight
      </a>
    </li>
    <li>
      <a href="{{ resource.meta.root_url }}dancing-without-architecture/bring-down-the-house-house/index.html" {% if resource.meta.chapter_slug == 'bring-down-the-house-house' %}class="active"{% endif %}>
        Bring Down the House House
      </a>
    </li>
    <li>
      <a href="{{ resource.meta.root_url }}dancing-without-architecture/dance-together-and-cry/index.html" {% if resource.meta.chapter_slug == 'dance-together-and-cry' %}class="active"{% endif %}>
        Dance Together and Cry
      </a>
    </li>
    <li>
      <a href="{{ resource.meta.root_url }}dancing-without-architecture/forever-amen/index.html" {% if resource.meta.chapter_slug == 'forever-amen' %}class="active"{% endif %}>
        Forever Amen
      </a>
    </li>
    <li>
      <a href="{{ resource.meta.root_url }}dancing-without-architecture/twice-three-plus-one/index.html" {% if resource.meta.chapter_slug == 'twice-three-plus-one' %}class="active"{% endif %}>
        Twice Three, Plus One
      </a>
    </li>
    <li>
      <a href="{{ resource.meta.root_url }}dancing-without-architecture/love-in-the-time-of-dandelions/index.html" {% if resource.meta.chapter_slug == 'love-in-the-time-of-dandelions' %}class="active"{% endif %}>
        Love in the Time of Dandelions
      </a>
    </li>
    <li>
      <a href="{{ resource.meta.root_url }}dancing-without-architecture/those-nice-bright-colors/index.html" {% if resource.meta.chapter_slug == 'those-nice-bright-colors' %}class="active"{% endif %}>
        Those Nice Bright Colors
      </a>
    </li>
    <li>
      <a href="{{ resource.meta.root_url }}dancing-without-architecture/into-the-green-green-mud/index.html" {% if resource.meta.chapter_slug == 'into-the-green-green-mud' %}class="active"{% endif %}>
        Into the Green Green Mud
      </a>
    </li>
    <li>
      <a href="{{ resource.meta.root_url }}dancing-without-architecture/given-time-silence/index.html" {% if resource.meta.chapter_slug == 'given-time-silence' %}class="active"{% endif %}>
        Given Time, Silence
      </a>
    </li>
  </ol>
</section>
<section class="toc-everafter">
  <h3 class="book">
    <a href="{{ resource.meta.root_url }}this-everafter-life/index.html" {% if resource.meta.book_slug == 'this-everafter-life' and resource.meta.chapter_slug == 'frontmatter' %}class="active"{% endif %}>
      This EverAfter Life
    </a>
  </h3>
  <ol>
    <li>
      <a href="{{ resource.meta.root_url }}this-everafter-life/stranger-than-a-sunny-day-on-the-beach/index.html" {% if resource.meta.chapter_slug == 'stranger-than-a-sunny-day-on-the-beach' %}class="active"{% endif %}>
        Stranger than a Sunny Day on the Beach
      </a>
    </li>
    <li>
      <a href="{{ resource.meta.root_url }}this-everafter-life/once-upon-a-sunday-raining/index.html" {% if resource.meta.chapter_slug == 'once-upon-a-sunday-raining' %}class="active"{% endif %}>
        Once upon a Sunday Raining
      </a>
    </li>
    <li>
      <a href="{{ resource.meta.root_url }}this-everafter-life/open-and-empty/index.html" {% if resource.meta.chapter_slug == 'open-and-empty' %}class="active"{% endif %}>
        Open and Empty
      </a>
    </li>
    <li>
      <a href="{{ resource.meta.root_url }}this-everafter-life/not-a-susy-in-sight-for-miles-and-miles/index.html" {% if resource.meta.chapter_slug == 'not-a-susy-in-sight-for-miles-and-miles' %}class="active"{% endif %}>
        Not a Susy in Sight for Miles and Miles
      </a>
    </li>
    <li>
      <a href="{{ resource.meta.root_url }}this-everafter-life/of-blood/index.html" {% if resource.meta.chapter_slug == 'of-blood' %}class="active"{% endif %}>
        Of Blood
      </a>
    </li>
    <li>
      <a href="{{ resource.meta.root_url }}this-everafter-life/anon-and-anon/index.html" {% if resource.meta.chapter_slug == 'anon-and-anon' %}class="active"{% endif %}>
        Anon and Anon
      </a>
    </li>
    <li>
      <a href="{{ resource.meta.root_url }}this-everafter-life/why-cry-when-you-can-kick-a-cat/index.html" {% if resource.meta.chapter_slug == 'why-cry-when-you-can-kick-a-cat' %}class="active"{% endif %}>
        Why Cry when You Can Kick a Cat?
      </a>
    </li>
    <li>
      <a href="{{ resource.meta.root_url }}this-everafter-life/there-and-back-again-forever/index.html" {% if resource.meta.chapter_slug == 'there-and-back-again-forever' %}class="active"{% endif %}>
        There and Back Again, Forever
      </a>
    </li>
    <li>
      <a href="{{ resource.meta.root_url }}this-everafter-life/nothing/index.html" {% if resource.meta.chapter_slug == 'nothing' %}class="active"{% endif %}>
        Nothing
      </a>
    </li>
    <li>
      <a href="{{ resource.meta.root_url }}this-everafter-life/under-the-sky-is-gray/index.html" {% if resource.meta.chapter_slug == 'under-the-sky-is-gray' %}class="active"{% endif %}>
        Under the Sky is Gray
      </a>
    </li>
    <li>
      <a href="{{ resource.meta.root_url }}this-everafter-life/still/index.html" {% if resource.meta.chapter_slug == 'still' %}class="active"{% endif %}>
        Still
      </a>
    </li>
    <li>
      <a href="{{ resource.meta.root_url }}this-everafter-life/whence-from-two/index.html" {% if resource.meta.chapter_slug == 'whence-from-two' %}class="active"{% endif %}>
        Whence, from Two
      </a>
    </li>
    <li>
      <a href="{{ resource.meta.root_url }}this-everafter-life/this-road-full-glittered/index.html" {% if resource.meta.chapter_slug == 'this-road-full-glittered' %}class="active"{% endif %}>
        This Road Full Glittered
      </a>
    </li>
    <li>
      <a href="{{ resource.meta.root_url }}this-everafter-life/over-un-thought-waters/index.html" {% if resource.meta.chapter_slug == 'over-un-thought-waters' %}class="active"{% endif %}>
        Over Un-Thought Waters
      </a>
    </li>
  </ol>
</section>
