<nav role="navigation">
  <div class="menu-toc">
    {% include "novel/_toc-lists.j2" %}
  </div>
  <ul class="extras">
    <li><a href="{{ resource.meta.root_url }}about.html">About the Authors</a></li>
    <li><a href="#instructions">Instructions</a></li>
  </ul>
</nav>