<section class="toc-dancing">
  <h3 class="book"><a href="/dancing/">Dancing Without Architecture</a>.</h3>
  <ol>
    <li><a href="/dancing/in-which-jj/">In Which: <span class="caps">JJ</span>.</a></li>
    <li><a href="/dancing/daymares/">Daymares, Poor Boy.</a></li>
    <li><a href="/dancing/the-susy-within/">The Susy Within.</a></li>
    <li>Yes Mother, Goodnight.</li>
    <li>Bring Down the House House.</li>
    <li>Dance Together and Cry.</li>
    <li>Forever Amen.</li>
    <li>Twice Three, Plus One.</li>
    <li>Love in a Time of Dandelions.</li>
    <li>Those Nice Bright Colors.</li>
    <li>Into the Green Green Mud.</li>
    <li>Given Time, Silence.</li>
  </ol>
</section>
<section class="toc-everafter">
  <h3 class="book">This EverAfter Life.</h3>
  <ol>
    <li>Stranger than a Sunny Day on the Beach.</li>
    <li>Once upon a Sunday Raining.</li>
    <li>Open and Empty.</li>
    <li>Not a Susy in Sight for Miles and Miles.</li>
    <li>Of Blood.</li>
    <li>Anon and Anon.</li>
    <li>Why Cry when You Can Kick a Cat?</li>
    <li>There and Back Again, Forever.</li>
    <li>Nothing.</li>
    <li>Under the Sky is Gray.</li>
    <li>Still.</li>
    <li>Whence, from Two.</li>
    <li>This Road Full Glittered.</li>
    <li>Over Un-Thought Waters.</li>
  </ol>
</section>