<section class="toc-dancing">
  <h3 class="book">
    <a href="{{ resource.meta.root_url }}dancing-without-architecture/index.html">
      Dancing Without Architecture
    </a>
  </h3>
  <ol>
    <li>
      <a href="{{ resource.meta.root_url }}dancing-without-architecture/in-which-jj/index.html">
        In Which: <span class="caps">JJ</span>
      </a>
    </li>
    <li>
      <a href="{{ resource.meta.root_url }}dancing-without-architecture/daymares-poor-boy/index.html">
        Daymares, Poor Boy
      </a>
    </li>
    <li>
      <a href="{{ resource.meta.root_url }}dancing-without-architecture/the-susy-within/index.html">
        The Susy Within
      </a>
    </li>
    <li>
      <a href="{{ resource.meta.root_url }}dancing-without-architecture/yes-mother-goodnight/index.html">
        Yes Mother, Goodnight
      </a>
    </li>
    <li>
      <a href="{{ resource.meta.root_url }}dancing-without-architecture/bring-down-the-house-house/index.html">
        Bring Down the House House
      </a>
    </li>
    <li>
      <a href="{{ resource.meta.root_url }}dancing-without-architecture/dance-together-and-cry/index.html">
        Dance Together and Cry
      </a>
    </li>
    <li>
      <a href="{{ resource.meta.root_url }}dancing-without-architecture/forever-amen/index.html">
        Forever Amen
      </a>
    </li>
    <li>
      <a href="{{ resource.meta.root_url }}dancing-without-architecture/twice-three-plus-one/index.html">
        Twice Three, Plus One
      </a>
    </li>
    <li>
      <a href="{{ resource.meta.root_url }}dancing-without-architecture/love-in-the-time-of-dandelions/index.html">
        Love in the Time of Dandelions
      </a>
    </li>
    <li>
      <a href="{{ resource.meta.root_url }}dancing-without-architecture/those-nice-bright-colors/index.html">
        Those Nice Bright Colors
      </a>
    </li>
    <li>
      <a href="{{ resource.meta.root_url }}dancing-without-architecture/into-the-green-green-mud/index.html">
        Into the Green Green Mud
      </a>
    </li>
    <li>
      <a href="{{ resource.meta.root_url }}dancing-without-architecture/given-time-silence/index.html">
        Given Time, Silence
      </a>
    </li>
  </ol>
</section>
<section class="toc-everafter">
  <h3 class="book">
    <a href="{{ resource.meta.root_url }}this-everafter-life/index.html">
      This EverAfter Life
    </a>
  </h3>
  <ol>
    <li>
      <a href="{{ resource.meta.root_url }}this-everafter-life/stranger-than-a-sunny-day-on-the-beach/index.html">
        Stranger than a Sunny Day on the Beach
      </a>
    </li>
    <li>
      <a href="{{ resource.meta.root_url }}this-everafter-life/once-upon-a-sunday-raining/index.html">
        Once upon a Sunday Raining
      </a>
    </li>
    <li>
      <a href="{{ resource.meta.root_url }}this-everafter-life/open-and-empty/index.html">
        Open and Empty
      </a>
    </li>
    <li>
      <a href="{{ resource.meta.root_url }}this-everafter-life/not-a-susy-in-sight-for-miles-and-miles/index.html">
        Not a Susy in Sight for Miles and Miles
      </a>
    </li>
    <li>
      <a href="{{ resource.meta.root_url }}this-everafter-life/of-blood/index.html">
        Of Blood
      </a>
    </li>
    <li>
      <a href="{{ resource.meta.root_url }}this-everafter-life/anon-and-anon/index.html">
        Anon and Anon
      </a>
    </li>
    <li>
      <a href="{{ resource.meta.root_url }}this-everafter-life/why-cry-when-you-can-kick-a-cat/index.html">
        Why Cry when You Can Kick a Cat?
      </a>
    </li>
    <li>
      <a href="{{ resource.meta.root_url }}this-everafter-life/there-and-back-again-forever/index.html">
        There and Back Again, Forever
      </a>
    </li>
    <li>
      <a href="{{ resource.meta.root_url }}this-everafter-life/nothing/index.html">
        Nothing
      </a>
    </li>
    <li>
      <a href="{{ resource.meta.root_url }}this-everafter-life/under-the-sky-is-gray/index.html">
        Under the Sky is Gray
      </a>
    </li>
    <li>
      <a href="{{ resource.meta.root_url }}this-everafter-life/still/index.html">
        Still
      </a>
    </li>
    <li>
      <a href="{{ resource.meta.root_url }}this-everafter-life/whence-from-two/index.html">
        Whence, from Two
      </a>
    </li>
    <li>
      <a href="{{ resource.meta.root_url }}this-everafter-life/this-road-full-glittered/index.html">
        This Road Full Glittered
      </a>
    </li>
    <li>
      <a href="{{ resource.meta.root_url }}this-everafter-life/over-un-thought-waters/index.html">
        Over Un-Thought Waters
      </a>
    </li>
  </ol>
</section>
