{% extends 'base.j2' %}

{% block title %}
{% if resource.meta.title %}
  {{ resource.meta.title }}:
{% endif %}
{% if resource.meta.chapter %}
  {{ resource.meta.chapter }}:
{% endif %}
{% if resource.meta.book %}
  {{ resource.meta.chapter }}:
{% endif %}
{{ super() }}
{% endblock %}

{% block body %}
<a href="#" id="toggle">toggle controls</a>

<div class="controls before">
{% block header -%}

  <header id="location">
    <h1 role="banner"><a href="/" rel="home">{{ resource.meta.novel }}</a></h1>

    {% if node.meta.book or node.meta.chapter -%}
    <nav class="breadcrumb" role="navigation">
      <h2 class="hidden">Breadcrumb Navigation</h2>
      <ul class="crumb-list">
        {% if node.meta.book -%}
          <li class="crumb">
            <a href="/{{ node.meta.book_slug }}/">{{ node.meta.book }}</a>
          </li>
        {%- endif %}
        {% if node.meta.chapter -%}
          <li class="crumb"><a href="../{{ node.meta.chapter_slug }}/">{{ node.meta.chapter }}</a></li>
        {%- endif %}
      </ul>
    </nav>
    {%- endif %}
  </header>

  {% include "novel/_page_nav.j2" %}

  <nav class="tocnav">
    <h2 class="tochead"><a href="/contents.html" title="Table of Contents">Table of Contents</a></h2>

    {# if node.meta.chapters %}
    <ol class="toc">
      {% for tochapter in node.meta.chapters %}
      {% if tochapter.url %}
      <li class="tochapter"><a href="{{ tochapter.url }}">{{ tochapter.name }}</a></li>
      {% endif %}
      {% endfor %}
    </ol>
    {% endif #}

  </nav>
{%- endblock %}
</div>

{% block main %}{% endblock main %}

<div class="controls after">
  {% include "novel/_page_nav.j2" %}
</div>

{% endblock body%}
