{% extends 'base.j2' %}

<title>{% block title %}{{ resource.meta.title }} | {{ super() }}{% endblock %}</title>

{% block body %}
<a href="#" id="toggle" class="active">toggle controls</a>

<div class="controls before active">
{% block header -%}

  <header id="location">
    <h1 role="banner"><a href="/" rel="home">{{ resource.meta.novel }}</a></h1>

    {% if node.meta.book or node.meta.chapter -%}
    <nav class="breadcrumb" role="navigation">
      <h2 class="hidden">Breadcrumb Navigation</h2>
      <ul class="crumb-list">
        {% if node.meta.book -%}
          <li class="crumb">
            <a href="/{{ node.meta.book_slug }}/">{{ node.meta.book }}</a>
          </li>
        {%- endif %}
        {% if node.meta.chapter -%}
          <li class="crumb"><a href="../{{ node.meta.chapter_slug }}/">{{ node.meta.chapter }}</a></li>
        {%- endif %}
      </ul>
    </nav>
    {%- endif %}
  </header>

  {% include "novel/_page_nav.j2" %}

{%- endblock %}
</div>

<section id="main" role="main" class="chapter {{ resource.meta.book_slug }} {{ resource.meta.chapter_slug }} {{ resource.meta.voice }}">
  {% block main %}{% endblock main %}
</section>

<div class="controls after active">
  {% include "novel/_page_nav.j2" %}
  <footer role="contentinfo">
    [cc] 2011 <a href="http://eric.andmeyer.com">Eric A Meyer</a>
  </footer>
</div>
{% endblock body%}
