{% extends 'base.j2' %}

{% block title -%}
  GreenMud
  {%- if resource.meta.book %}
    : {{ resource.meta.book }}
  {% endif %}
  {% if resource.meta.chapter %}
  : {{ resource.meta.chapter }}
  {% endif %}
  {% if resource.meta.title %}
  : {{ resource.meta.title }}
  {%- endif -%}
{%- endblock %}

{% block styles -%}
  <link rel="stylesheet" href="{{ media_url('css/novel.css') }}" />
  {% if resource.meta.extra_styles -%}
  {%- set style_url = 'css/' + resource.meta.extra_styles -%}
  <link rel="stylesheet" href="{{ media_url(style_url) }}" />
  {% endif %}
{% endblock styles %}

{% block body %}
<a id="toggle">
  <span class="target"></span>
  <span class="icon">toggle controls</span>
</a>

<div class="controls before">
{% block header -%}

  <header id="location">
    <h1><a href="/" rel="home">{{ node.meta.novel }}</a></h1>

    {% if node.meta.book or node.meta.chapter -%}
    <nav class="breadcrumb" role="navigation">
      <h2 class="hidden">Breadcrumb Navigation</h2>
      <ul class="crumb-list">
        {% if node.meta.book -%}
          {# <li class="crumb"> #}
          {#   <a href="/{{ node.meta.book_slug }}/">{{ node.meta.book }}</a> #}
          {# </li> #}
        {%- endif %}
        {% if node.meta.chapter -%}
          <li class="crumb"><a href="../{{ node.meta.chapter_slug }}/">{{ node.meta.chapter }}</a></li>
        {%- endif %}
      </ul>
    </nav>
    {%- endif %}
  </header>

  {% include "novel/_page_nav.j2" %}

{%- endblock %}
</div>

<div role="main" class="main">
{% block main %}{% endblock main %}

  <div class="controls after">
    {% include "novel/_page_nav.j2" %}
  </div>
</div>

{% endblock body%}
