{% extends 'base.j2' %}

{% block title -%}
  {%- if resource.meta.chapter -%}
    {{ resource.meta.chapter }} |
  {% else -%}
    {%- if resource.meta.book -%}
      {{ resource.meta.book }} |
    {% endif -%}
  {%- endif -%}
  GreenMud
{%- endblock %}

{% block styles -%}
  <link rel="stylesheet" href="{{ resource.meta.root_url }}media/css/novel.css" />
  {% if resource.meta.extra_styles -%}
  {%- set style_url = 'css/chapters/' + resource.meta.extra_styles -%}
  <link rel="stylesheet" href="{{ resource.meta.root_url }}media/{{ style_url }}" />
  {% endif %}
{% endblock styles %}

{% block body %}
  {% include "novel/_browser-warning.j2" %}
  {% include "novel/_controls.j2" %}

  <div class="novel">
    <a id="toggle" title="show/hide controls">show/hide controls</a>
    <div class="inner-body">
      {% block main %}{% endblock main %}
    </div>
  </div>

  {% include "novel/_instructions.j2" %}
{% endblock body%}
