{% extends 'base.j2' %}

{% block title -%}
  {%- if resource.meta.chapter -%}
    {{ resource.meta.chapter }} |
  {% else -%}
    {%- if resource.meta.book -%}
      {{ resource.meta.book }} |
    {% endif -%}
  {%- endif -%}
  GreenMud
{%- endblock %}

{% block styles -%}
  <link rel="stylesheet" href="{{ resource.meta.root_url }}media/css/novel.css" />
  {% if resource.meta.extra_styles -%}
  {%- set style_url = 'css/chapters/' + resource.meta.extra_styles -%}
  <link rel="stylesheet" href="{{ resource.meta.root_url }}media/{{ style_url }}" />
  {% endif %}
{% endblock styles %}

{% block body %}

  <aside class="warning">
    <h2>Please <a href="http://browsehappy.com/">upgrade your&nbsp;browser</a>.</h2>
    <p>Chrome, Firefox, & Safari currently offer the best support for this&nbsp;technology.</p>
  </aside>

  <header class="controls">
    <h1 role="banner">
      <a href="{{ resource.meta.root_url }}index.html" rel="home">
        {{ node.meta.novel }}
      </a>
    </h1>
    {% include "novel/_page-nav.j2" %}
    {% include "novel/_toc.j2" %}
  </header>

  <div class="novel">
    <a id="toggle" title="show/hide controls">show/hide controls</a>
    <div class="inner-body">
      {% block main %}{% endblock main %}
    </div>
  </div>

  <aside class="instructions">
    <p class="help-pageturn">
      <b>Swipe</b> or use <b>arrow keys</b> to turn the&nbsp;page.
      <span class="extra-help">
        (use the <i class="menu">menu icon</i> for&nbsp;navigation)
      </span>
    </p>
  </aside>

{% endblock body%}
