{% extends 'novel/base-novel.j2' %}

{% block main %}
<section id="{{ resource.meta.slug }}" class="page {{ resource.meta.book_slug }} {{ resource.meta.chapter_slug }} {{ resource.meta.voice }} {{ resource.meta.demo }}" data-url="{{ resource.meta.url }}" {% if resource.meta.body_class %}data-body-class="{{ resource.meta.body_class }}"{% endif %} data-internal-pages="{{ resource.meta.page_states }}" data-page-state="1">
  {% if resource.meta.template %}
  {% include "novel/_template-banner.j2" %}
  <div class="template">
  {% endif %}

  <div class="content"  role="main">
    {% if resource.meta.slug == 'contents' %}
    {% include "novel/_toc-lists.j2" %}
    {% endif %}

    {% filter typogrify %}
    {% block page %}{% endblock page %}
    {% endfilter %}
  </div>

  {% if resource.meta.template %}
  </div>
  {% include "novel/_template-info.j2" %}
  {% endif %}
</section>
{% endblock main %}