#from-the-workbench-of
  background: $green-lighter image-url('dancing/into-the-green/graphpaper.png') top center
  .pagewrap
    +media-container
  .content
    +media-full
    +leader
    height: rhythm(5)
    background: rgba($white,$xsmall)

  p
    +gone

