// ----------------------------------------------------------------------------
// imports

@import "compass";
@import "compass/layout";

@import "susy";
@import "modular-scale";
@import "breakpoint";

@import "sizes";
@import "colors";
@import "grid";
@import "type";

// ----------------------------------------------------------------------------
// support

$support-for-original-webkit-gradients  : false;

$legacy-support-for-ie6                 : false;
$legacy-support-for-ie7                 : false;
$legacy-support-for-ie8                 : false;

// ----------------------------------------------------------------------------
// Temporary mod polyfill

// Return the modulo of two numbers
@function mod($dividend,$divisor) {
  @return $dividend - (floor($dividend/$divisor)*$divisor);
}

// Return the corrected angle or position for a css gradient
@function angle($deg) {
  @if type-of($deg) == 'number' {
    @return mod(abs($deg - 450), 360deg);
  } @else {
    $position: to + " ";
    @each $pos in $deg {
      $position: $position + opposite-position($pos) + " ";
    }
    @return $position;
  }
}

// Return fixed linear gradient
@function fix-linear($angle, $details...) {
  @return linear-gradient(angle($angle), $details...);
}