// ----------------------------------------------------------------------------
// colors

$rainbow          : red orange yellow green cyan blue pink;

$red              : hsla(0,   100%, 50%,  1);
$orange           : hsla(30,  100%, 50%,  1);
$yellow           : hsla(60,  100%, 50%,  1);
$green            : hsla(120, 100%, 50%,  1);
$cyan             : hsla(180, 100%, 50%,  1);
$blue             : hsla(240, 100%, 50%,  1);
$pink             : hsla(300, 100%, 50%,  1);

$black            : hsla(0,   0%,   0%,   1);
$gray             : hsla(0,   0%,   50%,  1);
$white            : hsla(0,   0%,   100%, 1);

$full             : 100%;
$faded            : -40%;
$off              : -70%;
$slight           : -90%;

$dark             : -25%;
$darker           : -50%;
$darkest          : -75%;
$light            : 45%;
$lighter          : 60%;
$lightest         : 75%;
$hint             : 90%;

$default-tints    : 45% 70% 90%;
$default-shades   : 25% 50% 75%;

// ----------------------------------------------------------------------------
// basic palette

$base   : color($gray $darker);
$alt    : color($pink $dark);
$accent : color($blue $dark);
