// ---------------------------------------------------------------------------
// type

$base-font-size                   : $normpx;
$base-line-height                 : $medpx;

$round-to-nearest-half-line       : true;
$grid-background-baseline-height  : $base-line-height;

// ---------------------------------------------------------------------------
// variables

$link : '&:link, &:visited';
$focus: '&:hover, &:focus, &:active';

$jj-stack: "GreenMudJJRegular", sans-serif;

// ---------------------------------------------------------------------------
// Base Ems (wrapper)

@function base($em,$from: $base-font-size) { @return round(absolute-ems($em,$from)); }

@mixin rhythm-padding($top: 1, $bottom: $top) {
  @include padding-leader($top);
  @include padding-trailer($bottom);
}
