// ---------------------------------------------------------------------------
// type

$base-font-size             : $normpx;
$base-line-height           : $medpx;

$round-to-nearest-half-line : true;

// ---------------------------------------------------------------------------
// variables

$link : '&:link, &:visited';
$focus: '&:hover, &:focus, &:active';

$jj-stack: "GreenMudJJRegular", sans-serif;

// ---------------------------------------------------------------------------
// Base Ems (wrapper)

@function base($em,$from: $base-font-size) { @return round(absolute-ems($em,$from)); }
