/* ----------------------------------------------------------------------------
   epigraph: john lennon */

$total-columns: 8;
$grid-padding: 0;

$pg       : '#{$ch}epigraph/';
$lennon   : '#{$pg}lennon.png';

#epigraph {
  @extend %type;
  @include background(
    linear-gradient(170deg,
      rgba($yellow-lighter,.25) 25%,
      rgba($yellow-lighter,.5),
      rgba($yellow-lightest,.75) 90%,
      rgba($orange-lighter,.75)
    )
  );

  [role="main"] {
    @extend %transition;
    @include container;
    @include padding-leader(1.5);
    @include breakpoint(min-height 20em) { @include padding-leader(2.5); }
    @include breakpoint(min-height 30em) { @include padding-leader(4); }
  }

  blockquote {
    @extend %transition;
    @include padding-leader(4.5);
    @include background(image-url($lennon) no-repeat scroll center top);

    @include prefix(1);
    @include at-breakpoint(4) { @include prefix(1); }
    @include at-breakpoint(5) { @include prefix(2); }
    @include at-breakpoint(6) { @include prefix(3); }
  }

  p { @extend %shrink; }
}
