// ----------------------------------------------------------------------------
// settings

$total-columns: 8;
$grid-padding: 0;

$bg-angle   : 95deg;
$bg-details : rgba($orange-lighter,.75),
              rgba($yellow-lightest,.75) 10%,
              rgba($yellow-lighter,.5),
              rgba($yellow-lighter,.25) 70%,
              rgba($yellow-lighter,0);
$bg-old     : linear-gradient($bg-angle, $bg-details...);
$bg-new     : fix-linear($bg-angle, $bg-details...);

$pg       : '#{$ch}epigraph/';
$lennon   : '#{$pg}lennon.png';

/* ----------------------------------------------------------------------------
   epigraph: john lennon */

#epigraph {
  @extend %type;
  @include background($bg-old bottom right);
  background: $bg-new bottom right;

  [role="main"] {
    @extend %transition-main;
    @include container;
    @include pagepad(15 3.5 1);
  }

  // --------------------------------------------------------------------------
  // elements

  blockquote {
    @extend %transition;
    @include padding-leader(4.5);
    @include background(image-url($lennon) no-repeat scroll center top);

    @include prefix(1);
    @include at-breakpoint(4) { @include prefix(1); }
    @include at-breakpoint(5) { @include prefix(2); }
    @include at-breakpoint(6) { @include prefix(3); }
  }

  p { @extend %shrink; }
}
