// ----------------------------------------------------------------------------
// imports

@import "../../base/base";
@import "../../helpers/helpers";

// ----------------------------------------------------------------------------
// settings

$ch: 'dancing/';

/* ----------------------------------------------------------------------------
   general */

$bg         : $blue-lightest;
$bg-angle   : 120deg;
$bg-details : rgba($blue,.25), rgba($blue-lighter,0);
$bg-old     : linear-gradient($bg-angle, $bg-details);
$bg-new     : fix-linear($bg-angle, $bg-details);

$bg-layer   : no-repeat scroll;

html {
  @include back($bg);
  @include background($noise-layer, $bg-old $bg-layer, $bg);
  background: $noise-layer, $bg-new $bg-layer, $bg;
}

$page-enter     : fadeIn;
$page-exit      : fadeOut;
$page-time      : 2s 600ms;
$page-function  : ease;

@include pageturn;

// ----------------------------------------------------------------------------
// pages

@import "frontmatter/epigraph";

/* ----------------------------------------------------------------------------
  titlepage */

#titlepage { @extend %booktitle; }
