// ----------------------------------------------------------------------------
// imports

@import "base/base";
@import "helpers/helpers";

// ----------------------------------------------------------------------------
// settings

$ch: 'dancing/';

/* ----------------------------------------------------------------------------
   general */

$bg         : $blue-lightest;
$bg-angle   : 120deg;
$bg-details : rgba($blue,.25), rgba($blue-lighter,0);
$bg-old     : linear-gradient($bg-angle, $bg-details);
$bg-new     : fix-linear($bg-angle, $bg-details);

html {
  @include background($noise-layer, $bg-old, $bg);
  background: $noise-layer, $bg-new, $bg;
}

@include pageturn(
  '%fadeIn',
  '%fadeOut',
  2s 600ms
);

// ----------------------------------------------------------------------------
// pages

@import "frontmatter/epigraph";

/* ----------------------------------------------------------------------------
  titlepage */

#titlepage { @extend %booktitle; }
