// ----------------------------------------------------------------------------
// imports

@import "../../base/base";
@import "../../helpers/helpers";

// ----------------------------------------------------------------------------
// settings

$ch: 'dancing/in-which-jj/';

/* ----------------------------------------------------------------------------
   general */

$bg             : color($faded $yellow lightest);

html { @include back($bg); }

$page-enter     : fadeIn;
$page-exit      : fadeOut;
$page-time      : 2s 600ms;
$page-function  : ease;

@include pageturn;

// ----------------------------------------------------------------------------
// pages

@import "in-which-jj/once-upon-a-sunday";
@import "in-which-jj/johnny-john-goes-sitting-on-a";
@import "in-which-jj/shadow-shadow-park-and-shadow";
@import "in-which-jj/his-shirt-is-wet-and";
@import "in-which-jj/the-park-bench-sings-a";
@import "in-which-jj/the-park";

/* ----------------------------------------------------------------------------
   titlepage */

#titlepage { @extend %chaptertitle; }
