// ----------------------------------------------------------------------------
// imports

@import "../../base/base";
@import "../../helpers/helpers";

// ----------------------------------------------------------------------------
// settings

$ch: 'dancing/in-which-jj/';

/* ----------------------------------------------------------------------------
   general */

$bg             : $yellow-hint;

html { @include back($bg); }

$page-enter     : fadeIn;
$page-exit      : fadeOut;
$page-time      : 600ms;
$page-function  : ease;

@include pageturn;

// ----------------------------------------------------------------------------
// pages

@import "in-which-jj/once-upon-a-sunday";

// ----------------------------------------------------------------------------
// title

#titlepage { @extend %chaptertitle; }
