// ----------------------------------------------------------------------------
// settings

$total-columns: 4;

$scribble           : 'frontmatter/scribble.png';

body.his-shirt-is-wet-and {
  @include transition-duration(3s);
  @include transition-delay(600ms);
  background: color($faded $blue lightest) $noise;
}

// ----------------------------------------------------------------------------
// animation

@include keyframes(bigdrop) {
  0% { bottom: 100%; }
  100% { bottom: rhythm(-16); }
}

@include keyframes(updrop) {
  0% { bottom: rhythm(-16); }
  100% { bottom: 100%; }
}

// ----------------------------------------------------------------------------
// his-shirt-is-wet-and

#his-shirt-is-wet-and {
  position: relative;
  display: block;
  height: 100%;
  overflow: hidden;

  [class~="pagewrap"], [role="main"] {
    height: 100%;
  }

  [role="main"] {
    @extend %type;
    text-align: center;
  }

  .scribble {
    @include background(image-url($scribble) no-repeat center 80%);
    height: 60%;
    background-color: color($faded $yellow lightest);
  }

  p {
    @include rhythm-padding(1);
    @include transition(opacity 1s);
    position: relative;
    float: left;
    width: 100%;
    margin-right: -100%;
    opacity: 0;
    z-index: 10;
  }

  .raindrop, .rainup {
    @include transition(opacity 3s 1.5s);
    position: absolute;
    width: rhythm(12);
    height: rhythm(16);
  }

  .raindrop {
    @include animation(bigdrop 90s linear infinite both);
    right: 60%;
    background: color($red,.5);
    bottom: 100%;
  }

  .rainup {
    @include animation(updrop 80s 8s linear infinite both);
    left: 60%;
    background: color($yellow,.5);
    bottom: rhythm(-16);
  }

  &[data-page-state="1"] {
    p:first-of-type {
      @include transition-delay(1s);
      opacity: 1;
    }
    .raindrop, .rainup { opacity: 0; }
  }
  &[data-page-state="2"] {
    p:last-of-type {
      @include transition-delay(1s);
      opacity: 1;
    }
    .raindrop, .rainup { opacity: 1; }
  }

}