// ----------------------------------------------------------------------------
// settings

$total-columns  : 11;

$pg             : '#{$ch}johnny-john-goes-sitting-on-a/';
$swing          : 'frontmatter/home/swing.png';

// ----------------------------------------------------------------------------
// animation


// ----------------------------------------------------------------------------
// johnny-john-goes-sitting-on-a

#johnny-john-goes-sitting-on-a {
  @extend %center-content;
  background: -webkit-linear-gradient(top, color($orange lighter) 20%, transparent 20%);
  background: linear-gradient(to bottom, color($orange lighter) 20%, transparent 20%);

  [role="main"] {
    @extend %transition-main;
    @include container;
    @include rhythm-padding(3,4);
    max-width: 100%;
  }

  // --------------------------------------------------------------------------
  // elements

  p {
    @extend %transition;
    @include suffix(1);
    position: relative;
    float: right;
    padding-left: rhythm(.5);
    text-align: right;
    z-index: 10;
  }
  span { display: block; }

  // --------------------------------------------------------------------------
  // tree

  .trunk {
    position: absolute;
    top: 0;
    right: space(4);
    bottom: 0;
    left: space(4);
    background: color($faded $yellow lighter);
    z-index: 10;
  }

  .swing {
    @include translateY(rhythm(-5.25));
    position: relative;
    overflow: hidden;
    height: rhythm(12);
    background: image-url($swing) no-repeat scroll bottom right;
    z-index: 20;
  }

  .rain {
    @include stretch-y;
    left: 0;
    right: space(3);
    background: color($base,.25);
  }

}
