// ----------------------------------------------------------------------------
// settings

$total-columns  : 11;

$pg             : '#{$ch}johnny-john-goes-sitting-on-a/';
$swing          : '#{$pg}swing.svg';
$trunk          : '#{$pg}trunk.svg';
$leaves        : '#{$pg}leaves.svg';
$rainish        : '#{$pg}rainish.svg';

$swing-width    : px-to-rhythm(162px);
$swing-height   : px-to-rhythm(714px);

// ----------------------------------------------------------------------------
// animation



// ----------------------------------------------------------------------------
// johnny-john-goes-sitting-on-a

#johnny-john-goes-sitting-on-a {
  @extend %center-content;
  position: relative;

  [role="main"] {
    @extend %transition-main;
    @include container;
    @include rhythm-padding(8,1);
    max-width: 100%;
  }

  // --------------------------------------------------------------------------
  // elements

  .words {
    @extend %transition;
    position: relative;
    float: right;
    padding-left: $swing-width - rhythm(1.5);
    text-align: right;
    z-index: 10;
  }
  span { display: block; }

  .swing {
    position: absolute;
    bottom: rhythm(4.5);
    left: 0;
    height: $swing-height;
    width: $swing-width;
    background: image-url($swing) no-repeat scroll;
    z-index: 10;
  }

  // --------------------------------------------------------------------------
  // tree

  .rain {
    @include stretch(space(-2), space(6), space(-2), space(-2));
    @include transition(right 300ms);
    @include background(
      image-url($rainish) no-repeat right
    );
    @include background-size(cover);
  }

  .leaves {
    @include stretch-x;
    @include background(image-url($leaves) no-repeat bottom);
    @include background-size(cover);
    top: 0;
    height: 30%;
  }

  .trunk {
    @include stretch-y;
    @include transition(left 300ms, right 300ms);
    @include background(image-url($trunk) no-repeat right);
    @include background-size(auto 100%);
    left: 0;
    right: space(5);
  }

  @include breakpoint(40em) {
    .words { @include suffix(1); }
    .trunk { right: space(4); }
    .rain { right: space(4); }
  }
}
