// ----------------------------------------------------------------------------
// settings

$total-columns  : 3;
$original-col   : $column-width;
$column-width   : $column-width +.5;

$grass-location : rhythm(15);
$grass-color    : $off-yellow-lighter;
$grass-dark     : $off-green;
$bg-angle       : top;
$bg-details     : rgba($black,0),
                  rgba($black,0) $grass-location,
                  rgba($grass-color,1) $grass-location,
                  rgba($grass-color,1) $grass-location + rhythm(2),
                  rgba($grass-dark,1) $grass-location * 3;
$bg-old         : linear-gradient($bg-angle, $bg-details...);
$bg-new         : fix-linear($bg-angle, $bg-details...);

$pg             : '#{$ch}johnny-john-goes-sitting-on-a/';
$swing          : 'frontmatter/home/swing.png';
$sunburst       : '#{$pg}sunburst.png';
$treetrunk      : '#{$pg}treetrunk.png';
$rainish        : '#{$pg}rainish.png';
$border         : '#{$pg}border.png';

$tree-hide      : -30em 0em;
$tree-pos       : 0em 0em;
$sunburst-pos   : top right;
$border-pos     : 0 $grass-location - .125em;
$rainish-pos    : rhythm(-4) rhythm(1);
$rainish-pos1   : rhythm(-3.5) rhythm(1.5);
$rainish-pos2   : rhythm(-3) rhythm(1);

$swing-layer    : image-url($swing) no-repeat scroll 0 rhythm(-3.25);
$sunburst-layer : image-url($sunburst) no-repeat scroll $sunburst-pos;
$treetrunk-layer: image-url($treetrunk) no-repeat scroll $tree-hide;
$rainish-layer  : image-url($rainish) no-repeat scroll rhythm(-6) rhythm(8);
$border-layer   : image-url($border) repeat-x scroll $border-pos;
$default-back   : $noise-layer, $treetrunk-layer, $border-layer, $bg-old, $rainish-layer, $rainish-layer, $sunburst-layer;
$default-pos    : 0, $tree-pos, $border-pos, 0, $rainish-pos1, $rainish-pos, $sunburst-pos;

// ----------------------------------------------------------------------------
// animation

@include keyframes(rainish) {
  0%, 100% { background-position: $default-pos; }
  33% { background-position: 0, $tree-pos, $border-pos, 0, $rainish-pos2, $rainish-pos1, $sunburst-pos; }
  66% { background-position: 0, $tree-pos, $border-pos, 0, $rainish-pos, $rainish-pos2, $sunburst-pos; }
}

/* ----------------------------------------------------------------------------
   johnny-john-goes-sitting-on-a */

#johnny-john-goes-sitting-on-a {
  @include transition(background 1s);
  @include background($default-back...);
  background: $default-back;

  @include at-breakpoint(columns-width(6) $total-columns) {
    @include animation(rainish 3s linear infinite both);
    background-position: $default-pos;
  }

  [role="main"] {
    @extend %transition-main;
    @include container;
    @include rhythm-padding(3,4);
    @include background($swing-layer);
  }

  // --------------------------------------------------------------------------
  // elements

  i {
    @include trailer;
    display: block;
    margin-left: - space(2);
    font-weight: bold;
  }

  p {
    @extend %transition;
    @include prefix(2);
    text-align: right;
  }
}

$column-width: $original-col;
