=keyframes($name)
  @-webkit-keyframes #{$name}
    @content
  @-moz-keyframes #{$name}
    @content
  @-ms-keyframes #{$name}
    @content
  @keyframes #{$name}
    @content

//Animation Mixin

$default-animation-name: fadeIn
$default-animation-duration: 1s
$default-animation-delay: false
$default-animation-function: false
$default-animation-iteration-count: false
$default-animation-direction: false
$default-animation-mode: false

=animation($animation-1: default, $animation-2: false, $animation-3: false, $animation-4: false, $animation-5: false, $animation-6: false, $animation-7: false, $animation-8: false, $animation-9: false, $animation-10: false)
  @if $animation-1 == default
    $animation-1: -compass-space-list(compact($default-animation-name, $default-animation-duration, $default-animation-function, $default-animation-delay, $default-animation-iteration-count, $default-animation-direction, $default-animation-mode))

  $animation: compact($animation-1, $animation-2, $animation-3, $animation-4, $animation-5, $animation-6, $animation-7, $animation-8, $animation-9, $animation-10)
  +experimental(animation, $animation, -moz, -webkit, not -o, -ms, not -khtml, official)
