/* ----------------------------------------------------------------------------
   helpers */

@import "animate";
@import "icomoon";
@import "icons";
@import "type";
@import "template";
@import "pages";
@import "titles";
@import "animations";

// ----------------------------------------------------------------------------
// generic

%bleed {
  margin-left: -$grid-padding;
  margin-right: -$grid-padding;
  padding-left: $grid-padding;
  padding-right: $grid-padding;
}
