@import ../settings/settings
@import media_queries
@import mixins
@import type
@import layout
@import animation
@import animations

// ---------------------------------------------------------------------------
$default-animation-name: fadeIn
$default-animation-duration: 1s
$default-animation-delay: false
$default-animation-function: false
$default-animation-iteration-count: false
$default-animation-direction: false
$default-animation-mode: false

