/* ----------------------------------------------------------------------------
   helpers */

@import "animate";
@import "icomoon";
@import "icons";
@import "type";
@import "template";
@import "pages";
@import "titles";
@import "animations";

// ----------------------------------------------------------------------------
// bleed

@mixin bleed($padding: $grid-padding, $sides: left right) {
  @if $sides == 'all' {
    margin: - $padding;
    padding: $padding;
  } @else {
    @each $side in $sides {
      margin-#{$side}: - $padding;
      padding-#{$side}: $padding;
    }
  }
}

%bleed {
  margin-left: -$grid-padding;
  margin-right: -$grid-padding;
  padding-left: $grid-padding;
  padding-right: $grid-padding;
}

// ----------------------------------------------------------------------------
// images

@function image-rhythm($image, $font-size: $base-font-size) {
  @return rhythm(ceil(image-height($image) / $base-line-height), $font-size);
}

@mixin rhythm-image($image, $font-size) {
  background-image: image-url($image);
  height: image-rhythm($image, $font-size);
  width: image-width($image);
}
