/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
  font-family: 'IcoMoon';
  content: attr(data-icon);
  speak: none;
}

/* Use the following CSS code if you want to have a class per icon */
%icon:before {
  font-family: 'IcoMoon';
  font-style: normal;
  speak: none;
}

%icon-replace {
  @extend %icon;
  position: relative;
  min-width: 1em;
  text-indent: -9999px;
  &:before {
    position: absolute;
    top: 0;
    left: 0;
    text-indent: 0;
  }
}

%icon-home:before         { content: "\2617"; }
%icon-list:before         { content: "\2630"; }
%icon-arrow-right:before  { content: "\2192"; }
%icon-arrow-left:before   { content: "\2190"; }
%icon-cog:before          { content: "\2731"; }
%icon-info-circle:before  { content: "\2370"; }
%icon-download:before     { content: "\2913"; }
%icon-vimeo:before        { content: "\e002"; }
%icon-github:before       { content: "\e003"; }
%icon-checkmark:before    { content: "\2714"; }
%icon-x:before            { content: "\2718"; }
%icon-play:before         { content: "\25ba"; }
%icon-swipe:before         { content: "\e005"; }
%icon-tumblr:before       { content: "\e004"; }
%icon-twitter:before      { content: "\e000"; }
%icon-facebook:before     { content: "\e001"; }
