=hpadding($l:rhythm(1),$r:$l)
  padding:
    left: $l
    right: $r

// Show/Hide Content ---------------------------------------------------------

=gone
  position: absolute
  clip: rect(0 0 0 0)
  overflow: hidden
  margin: -1px
  padding: 0
  height: 1px
  width: 1px
  border: 0

=here
  position: static
  clip: auto
  overflow: visible
  height: auto
  margin: 0
  width: auto

=oncall
  +gone
  &:active, &:focus
    +here

.hidden
  +gone

// ---------------------------------------------------------------------------
// chapter titles

=title($c:$blue-lighter,$o:$xxxsmall)
  $co : rgba($c,$o)

  position: relative
  z-index: 10
  .ie &
    background: mix($c,$white)

  &::before, &::after
    +stretch-y
    content: " "
    left: -300%
    right: -300%
    background: mix($white,$c)
    background: $co
    z-index: -1
  &::before
    +rotate(-.75deg)
  &::after
    +rotate(.75deg)

.title
  +media-full
  +adjust-font-size-to($largepx,1)
  +rhythm(0,1,1,0,$largepx)
  +text-shadow(rgba($white,$xsmall) 0 1px 0)
  +transition(all 300ms)
  text-align: center

  .wrap
    +pie-clearfix

  i
    @extend .allcaps
    +adjust-font-size-to($normpx,1,$largepx)
    display: block
    font-style: normal

  +small(height)
    +leader(2,$largepx)
  +medium(height)
    +leader(4,$largepx)
  +large(height)
    +leader(6,$largepx)

  +small
    i, .name
      +columns(5,10)
    i
      +padding-leader(.5)
      font: inherit
    .name
      text-transform: uppercase
      +omega(10)
    b
      +adjust-font-size-to($normpx,1.5,$largepx)
      display: block

// ---------------------------------------------------------------------------
// book titles

.booktitle
  +media-full
  +text-shadow(rgba($white,$xsmall) 0 1px 0)
  +transition(all 300ms)
  text-align: center
  .name, b
    @extend .allcaps
    display: block
  b
    +adjust-font-size-to($xlargepx,1)
    +small(both)
      +adjust-font-size-to($xxlargepx,2)
    +medium
      +adjust-font-size-to($xxlargepx,2)

  .name
    +padding-leader(.5)
    +padding-trailer(.5)
    +small(height)
      +padding-leader
      +padding-trailer
    +medium(height)
      +leader
      +trailer



