// All mixins accept $what: [width | height | either | both].
=media-container
  +container
  +susy-grid-background
  +small
    +container
    +susy-grid-background
  +medium
    +container
    +susy-grid-background

=media-full
  +full
  +small
    +full
  +medium
    +full

// Media Settings ------------------------------------------------------------
$media-query-width-small: 525px
$media-query-width-medium: 980px
$media-query-width-large: 1260px

$media-query-height-small: 350px
$media-query-height-medium: 490px
$media-query-height-large: 700px

$tiny-columns:  6
$small-columns: 10
$medium-columns: 12
$large-columns: 12

// timy screens --------------------------------------------------------------
=tiny($what: width)
  @if $what == width
    // @media (max-width: $media-query-width-small - 1px)
    @media (max-width: 524px)
      @content
  @if $what == height
    // @media (max-height: $media-query-height-small - 1px)
    @media (max-height: 349px)
      @content
  @if $what == both
    @media (max-width: 524px) and (max-height: 349px)
      @content
  @if $what == either
    @media (max-width: 524px), (max-height: 349px)
      @content

// small screens -------------------------------------------------------------
=small($what: "width",$noie:false)
  @if $what == width or $what == both
    $total-cols: $small-columns

  @if not $noie
    .ie &
      @content

  @if $what == "width"
    // @media (min-width: $media-query-width-small)
    @media (min-width: 525px)
      @content
  @if $what == "height"
    // @media (min-height: $media-query-height-small)
    @media (min-height: 350px)
      @content
  @if $what == "both"
    @media (min-width: 525px) and (min-height: 350px)
      @content
  @if $what == "either"
    @media (min-width: 525px), (min-height: 350px)
      @content

  @if $what == width or $what == both
    $total-cols: $tiny-columns


=small-only($what: "width")
  @if $what == width or $what == both
    $total-cols: $small-columns

  @if $what == "width"
    // @media (min-width: $media-query-width-small) and (max-width: $media-query-width-medium - 1px)
    @media (min-width: 525px) and (max-width: 979px)
      @content
  @if $what == "height"
    // @media (min-height: #{$media-query-height-small}) and (max-height: $media-query-height-medium - 1px)
    @media (min-height: 350px) and (max-height: 489px)
      @content
  @if $what == "both"
    @media (min-width: 525px) and (max-width: 979px) and (min-height: 350px) and (max-height: 489px)
      @content
  @if $what == "either"
    @media (min-width: 525px) and (max-width: 979px), (min-height: 350px) and (max-height: 489px)
      @content

  @if $what == width or $what == both
    $total-cols: $tiny-columns

// medium screens ------------------------------------------------------------
=medium($what: "width",$noie:false)
  @if $what == width or $what == both
    $total-cols: $medium-columns

  @if not $noie
    .ie &
      @content

  @if $what == "width"
    // @media (min-width: $media-query-width-medium)
    @media (min-width: 980px)
      @content
  @if $what == "height"
    // @media (min-height: $media-query-height-medium)
    @media (min-height: 490px)
      @content
  @if $what == "both"
    @media (min-width: 980px) and (min-height: 490px)
      @content
  @if $what == "either"
    @media (min-width: 980px), (min-height: 490px)
      @content

  @if $what == width or $what == both
    $total-cols: $tiny-columns


=medium-only($what: "width",$noie:false)
  @if $what == width or $what == both
    $total-cols: $medium-columns

  @if not $noie
    .ie &
      @content

  @if $what == "width"
    // @media (min-width: $media-query-width-medium) and (max-width: $media-query-width-large - 1px)
    @media (min-width: 980px) and (max-width: 1259px)
      @content
  @if $what == "height"
    // @media (min-height: $media-query-height-medium) and (max-height: $media-query-height-large - 1px)
    @media (min-height: 490px) and (max-height: 699px)
      @content
  @if $what == "both"
    @media (min-width: 980px) and (max-width: 1259px) and (min-height: 490px) and (max-height: 699px)
      @content
  @if $what == "either"
    @media (min-width: 980px) and (max-width: 1259px), (min-height: 490px) and (max-height: 699px)
      @content

  @if $what == width or $what == both
    $total-cols: $tiny-columns


// large screens -------------------------------------------------------------
=large($what: "width")
  @if $what == width or $what == both
    $total-cols: $large-columns

  @if $what == "width"
    // @media (min-width: $media-query-width-large)
    @media (min-width: 1260px)
      @content
  @if $what == "height"
    // @media (min-height: $media-query-height-large)
    @media (min-height: 700px)
      @content
  @if $what == "both"
    @media (min-width: 1260px) and (min-height: 700px)
      @content
  @if $what == "either"
    @media (min-width: 1260px), (min-height: 700px)
      @content

  @if $what == width or $what == both
    $total-cols: $tiny-columns
