// All mixins accept $what: [width | height | either | both].
// break points should adjust based on the design.

=media-container
  +container
  +small
    +container
  +medium
    +container

=media-full
  +full
  +small
    +full
  +medium
    +full

// large screens -------------------------------------------------------------
  $media-query-width-large: 1280px
  $media-query-height-large: 1280px
$large-columns: 12

=large($what: "width")
  @if $what == width or $what == both
    $total-cols: $large-columns

  @if $what == "width"
    // @media (min-width: $media-query-width-large)
    @media (min-width: 1280px)
      @content
  @if $what == "height"
    // @media (min-height: $media-query-height-large)
    @media (min-height: 1280px)
      @content
  @if $what == "both"
    @media (min-width: 1280px) and (min-height: 1280px)
      @content
  @if $what == "either"
    @media (min-width: 1280px), (min-height: 1280px)
      @content

// medium screens ------------------------------------------------------------
  $media-query-width-medium: 960px
  $media-query-height-medium: 600px
$medium-columns: 12

=medium($what: "width")
  @if $what == width or $what == both
    $total-cols: $medium-columns

  @if $what == "width"
    // @media (min-width: $media-query-width-medium)
    @media (min-width: 960px)
      @content
  @if $what == "height"
    // @media (min-height: $media-query-height-medium)
    @media (min-height: 600px)
      @content
  @if $what == "both"
    @media (min-width: 960px) and (min-height: 600px)
      @content
  @if $what == "either"
    @media (min-width: 960px), (min-height: 600px)
      @content

=medium-only($what: "width")
  @if $what == width or $what == both
    $total-cols: $medium-columns

  @if $what == "width"
    // @media (min-width: $media-query-width-medium) and (max-width: $media-query-width-large - 1px)
    @media (min-width: 960px) and (max-width: 1279px)
      @content
  @if $what == "height"
    // @media (min-height: $media-query-height-medium) and (max-height: $media-query-height-large - 1px)
    @media (min-height: 600px) and (max-height: 1279px)
      @content
  @if $what == "both"
    @media (min-width: 960px) and (max-width: 1279px) and (min-height: 600px) and (max-height: 1279px)
      @content
  @if $what == "either"
    @media (min-width: 960px) and (max-width: 1279px), (min-height: 600px) and (max-height: 1279px)
      @content

// small screens -------------------------------------------------------------
  $media-query-width-small: 500px
  $media-query-height-small: 480px
$small-columns: 10

=small($what: "width")
  @if $what == width or $what == both
    $total-cols: $small-columns

  @if $what == "width"
    // @media (min-width: $media-query-width-small)
    @media (min-width: 500px)
      @content
  @if $what == "height"
    // @media (min-height: $media-query-height-small)
    @media (min-height: 480px)
      @content
  @if $what == "both"
    @media (min-width: 500px) and (min-height: 480px)
      @content
  @if $what == "either"
    @media (min-width: 500px), (min-height: 480px)
      @content

=small-only($what: "width")
  @if $what == width or $what == both
    $total-cols: $small-columns

  @if $what == "width"
    // @media (min-width: $media-query-width-small) and (max-width: $media-query-width-medium - 1px)
    @media (min-width: 500px) and (max-width: 959px)
      @content
  @if $what == "height"
    // @media (min-height: #{$media-query-height-small}) and (max-height: $media-query-height-medium - 1px)
    @media (min-height: 480px) and (max-height: 599px)
      @content
  @if $what == "both"
    @media (min-width: 500px) and (max-width: 959px) and (min-height: 500px) and (max-height: 599px)
      @content
  @if $what == "either"
    @media (min-width: 500px) and (max-width: 959px), (min-height: 480px) and (max-height: 599px)
      @content

// timy screens --------------------------------------------------------------
$tiny-columns:  6

=tiny($what: width)
  @if $what == width or $what == both
    $total-cols: $tiny-columns

  @if $what == width
    // @media (max-width: $media-query-width-small - 1px)
    @media (max-width: 499px)
      @content
  @if $what == height
    // @media (max-height: $media-query-height-small - 1px)
    @media (max-height: 479px)
      @content
  @if $what == both
    @media (max-width: 499px) and (max-height: 479px)
      @content
  @if $what == either
    @media (max-width: 499px), (max-height: 479px)
      @content

// high resolution screens ---------------------------------------------------

=highres
  @media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 3/2), (min-device-pixel-ratio: 2)
    @content
