// ----------------------------------------------------------------------------
// settings

$total-columns  : 6;
$template-break : 10;

$toc-break      : 21em;
$toc-cols       : 5;

$bg             : color($off $green $lightest);
$noise          : image-url('noise.png');
$noise-position : 0;
$noise-layer    : $noise repeat $noise-position;
$border-width   : 2px;

$temp-bg        : color($off $green $hint);
$temp-angle     : bottom left;
$temp-details   : color($yellow $hint), color($off $green $hint);
$temp-old       : linear-gradient($temp-angle, $temp-details);
$temp-new       : convert-gradient($temp-angle, $temp-details);

$imgs     : 'frontmatter/';
$burst    : '#{$imgs}burst.png';
$bgburst  : image-url($burst) no-repeat scroll center rhythm(-2);

// ----------------------------------------------------------------------------
// animations

@include keyframes(template-burst) {
  0% {
    background-color: color($blue $hint);
    background-position: center rhythm(-8), center;
  }
  100% {
    background-color: color($pink $hint);
    background-position: center rhythm(-2), center;
  }
}

// ----------------------------------------------------------------------------
// template

%social-icon {
  @extend %icon-replace;
  display: inline-block;
  width: rhythm(1);
  &:before { right: 0; }
}

%template {
  @include back($bg);
  @include text-shadow(color($white,.75) 0 1px 1px);

  b {
    font-weight: bold;
    white-space: nowrap;
    color: color($darker);
  }

  .site-title,
  [role="main"],
  .footer {
    @extend %transition;
    @include container($total-columns,$template-break);
  }

  // --------------------------------------------------------------------------
  // banner

  [role="banner"] {
    @include padding-leader(.75);
    @include trailing-border($border-width,.75);
    color: color($darker);
    background: color($pink $hint) $noise;
    background: $bgburst, color($pink $hint) $noise;
    border-color: $base;
    h1 {
      @include adjust-font-size-to($xlargepx);
      font-weight: bold;
    }
    a {
      #{$link} {
        @extend %transition;
        @include transform-origin(0, 50%);
        display: inline-block;
        color: color($darker);
      }
      #{$focus} {
        @include scale(1.2);
        color: color($red $darker);
      }
    }
    &:hover { h2 { @include animation(hinge 1.5s 10s ease both); } }
  }

  // --------------------------------------------------------------------------
  // main

  .template {
    @include back($temp-bg);
    @include background($noise-layer, $temp-old, $temp-bg);
    background: $noise-layer, $temp-new, $temp-bg;
  }
  [role="main"] {
    @include padding-leader;
    @include padding-trailer;
  }

  // --------------------------------------------------------------------------
  // footer

  $footer-color: color($dark);
  $footer-highlight: color($darker);

  [role="contentinfo"] {
    @include leading-border($border-width,.5);
    @include padding-trailer(.5);
    border-color: $footer-highlight;
    color: $footer-color;
    a {
      #{$link} { color: $footer-color; }
      #{$focus} { color: $footer-highlight; }
    }
  }
  .license {
    @extend %allcaps;
    @include adjust-font-size-to($smallpx,1.5);
  }
  .author {
    color: $footer-highlight;
    font-weight: bold;
  }
  .social {
    @include adjust-font-size-to($largepx);
    li { display: inline-block; }
    a {
      @extend %social-icon;
      #{$link} { color: rgba($footer-color,.5); }
      #{$focus} { color: $footer-highlight; }
    }
    [href*="twitter"] { @extend %icon-twitter; }
    [href*="facebook"] { @extend %icon-facebook; }
    [href*="github"] { @extend %icon-github; }
    [href*="andmeyer"] { @extend %icon-blog; }
    [href*="vimeo"] { @extend %icon-vimeo; }
  }
  @include at-breakpoint($template-break) {
    .license, .social { @include span-columns(5,$total-columns); }
    .social {
      @include omega;
      text-align: right;
      a { text-align: left; }
    }
  }
}

