// ----------------------------------------------------------------------------
// settings

$noise          : image-url('noise.png');
$noise-layer    : $noise repeat;

// ----------------------------------------------------------------------------
// background

@mixin back($bg: color($off $green $hint)) {
  background: $bg ;
}
