// ----------------------------------------------------------------------------
// Book Titles

%booktitle {
  [role="main"] {
    @extend %transition-main;
    @include rhythm-padding(3,1);
    @include pagepad(15 6 1);
    text-align: center;
    text-transform: uppercase;
    color: color($darker);
  }

  h1 { @include adjust-font-size-to($largepx); }
  h1, h2 { @extend %transition; }

  @include breakpoint(40em) {
    h1 { @include adjust-font-size-to($xlargepx); }
    h2 { @include trailer(.5); }
  }
}

// ----------------------------------------------------------------------------
// Chapter Titles

$total-columns    : 4;
$break            : container-outer-width(8) 12;

$ch-title-wide    : 1deg;
$ch-title-narrow  : .5deg;

@mixin titlecolor($b: color($white,.675), $a: $b) {
  $t: if(lightness(mix($b,$a)) > 50%, true, false);
  $c: if($t, $base, color($hint));
  $s: if(not $t, $base, color($hint));
  [role="main"] {
    @include text-shadow(color($s,.5) 0 1px 0);
    color: $c;
    &::before { background-color: $b;  }
    &::after { background-color: $a; }
  }
}

%chaptertitle {
  overflow-x: hidden;

  [role="main"] {
    @extend %transition-main;
    @include set-container-width;
    @include leader(3);
    @include trailer(1);
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding: rhythm(1.5) $grid-padding;
    text-align: center;
    @include breakpoint(min-height rhythm(18)) { @include leader(6); }
    &::before, &::after {
      @extend %transition;
      @include stretch-y;
      @include box-shadow(color($darkest,.25) 0 0 .25em);
      border: 1px solid color($darkest,.25);
      content: " ";
      left: -200%;
      right: -200%;
      z-index: 0;
    }
    &::before { @include rotate(- $ch-title-wide); }
    &::after { @include rotate($ch-title-wide); }
    &:hover {
      &::before { @include rotate($ch-title-narrow); }
      &::after { @include rotate(- $ch-title-narrow); }
    }
  }

  h1, h2 {
    @extend %transition;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    z-index: 1;
  }

  h1 { @include adjust-font-size-to($medpx,1.5); }
  h2 {
    @extend %allcaps;
    @include adjust-leading-to(1.5);
  }

  @include titlecolor;

  @include at-breakpoint($break) {
    [role="main"] { @include set-container-width; }

    h1, h2 { width: columns(6); }
    h1 { margin-right: - gutter(); }
    h2 { margin-right: gutter(); }
  }
}
