// Links ---------------------------------------------------------------------

$link   :   "&:link, &:visited"
$focus  :   "&:focus, &:hover, &:active"

=focus-default
  outline: thin dotted $accent

=no-style-link
  &:link, &:visited, &:focus, &:hover, &:active
    color: inherit

// Lists ---------------------------------------------------------------------

=no-style-list
  +reset-box-model
  +no-bullets

/* Typography ----------------------------------------------------------------

.jj, .susy, .narrator
  +jj-family

.serif
  +serif-family

.sans
  +sans-family

.mono
  +mono-family

.caps
  letter-spacing: .05em

.allcaps
  @extend .caps
  text-transform: uppercase

.smallcaps
  font-variant: small-caps
