/* ----------------------------------------------------------------------------
  type */

%caps {
  letter-spacing: .05em;
}

%allcaps {
  @extend .caps;
  text-transform: uppercase;
}

%smallcaps {
  font-variant: small-caps;
}

%ellipsis {
  @include ellipsis;
}

/* ----------------------------------------------------------------------------
  defaults */

%type {
  h1 { @include adjust-font-size-to($largepx); }
  h1, h2, h3, h4 { 
    color: $darker; 
    &:first-child, & + h2, & + h3, & + h4 { margin-top: 0; }
  }
  h2, h3, h4 {
    @include adjust-font-size-to($medpx);
    @include leader(1,$largepx);
  }
  p, ol, ul {
    @include trailer;
  }
  ol { list-style-type: decimal; }
  ul { 
    li { 
      position: relative;
      &:before { 
        content: "•"; 
        position: absolute;
        top: 0;
        right: 100%;
        margin-right: .2em;
      }
    }
  }
}

%toc-counter {
  counter-reset: toc;
  ol { list-style-type: none; }
  li {
    counter-increment: toc;
    &:before { content: counter(toc, decimal-leading-zero) ". "; }
  }
}

