// ---------------------------------------------------------------------------
// Styles placeholder text as needed.
//
// @content - the desired styles.

=placeholder
  &::-webkit-input-placeholder
    @content
  &:-moz-placeholder
    @content
  &.placeholder
    @content

// Default placeholder styles.
=apply-placeholder
  +placeholder
    color: $dark

// ---------------------------------------------------------------------------
// Default styling for text inputs.
//
// [disabled]     - half opacity.
// :focus:valid   - green highlight when valid.
// :focus:invalid - red highlight when invalid.

.input
  +jj-family
  +rhythm-borders(1px,.25)
  +box-sizing(border-box)
  +box-shadow(inset rgba($blue-dark,$xxxsmall) 0 0 $smallem)
  +apply-placeholder
  font-size: inherit
  line-height: inherit
  width: 100%
  background: rgba($lightest,$xxsmall)
  color: $base
  border-color: $base
  vertical-align: top
  outline: 0

textarea, select
  @extend .input

textarea
  margin: 0
  min-height: rhythm(5)

select
  &:not([multiple])
    height: $base-rhythm-unit*1.5

input
  &[type="text"], &[type="password"],
  &[type="email"], &[type="url"], &[type="tel"],
  &[type="date"], &[type="datetime"], &[type="datetime-local"],
  &[type="month"], &[type="week"], &[type="time"],
  &[type="number"], &[type="search"], &[type="color"]
    @extend .input
    height: rhythm(1.5)

// ---------------------------------------------------------------------------
// Form Layouts

.formfield
  +clearfix
  +trailer(.5)
  position: relative
  .type
    @extend .allcaps
    +leader(.25)
    text-align: right
  .value
    +padding-leader(.25)

// ---------------------------------------------------------------------------
// Form Helpers

.form-actions
  clear: both
  text-align: right

// ---------------------------------------------------------------------------
// Resets browser styles on a button.

=button-reset
  +reset-box-model
  display: inline
  overflow: visible
  width: auto
  vertical-align: baseline
  background: none
  color: inherit
  font: inherit

button
  @extend .allcaps
  +button-reset
  +button($green-light,false,.125)
  +hpadding
  text-align: center
