/* Root ----------------------------------------------------------------------

+establish-baseline($smallpx)
+small(both,$noie:true)
  +establish-baseline
+medium($noie:true)
  +establish-baseline
.ie
  +establish-baseline

html
  // text-rendering: optimizeLegibility @@@ text flow bug in chromium linux
  -webkit-font-smoothing: antialiased

body
  @extend .mono
  +animation(fadeIn 300ms linear both)
  position: relative
  min-width: 12em
  color: $base
  overflow-x: hidden

/* Selected Text -------------------------------------------------------------

=selected-text($color:$alt)
  color: contrast-color($color)
  background: $color
  text-shadow: none

=apply-selected-text($color:$alt)
  ::-webkit-selection
    +selected-text($color)
  ::-moz-selection
    +selected-text($color)
  ::selection
    +selected-text($color)

+apply-selected-text
