/* Root ----------------------------------------------------------------------

+establish-baseline($smallpx)
+small(both)
  +establish-baseline


html
  font-variant-ligatures: common-ligatures
  text-rendering: optimizeLegibility
  -webkit-font-smoothing: antialiased

body
  @extend .mono
  position: relative
  color: $base
  overflow-x: hidden

/* Selected Text -------------------------------------------------------------

=selected-text($color:$alt)
  color: contrast-color($color)
  background: $color
  text-shadow: none

=apply-selected-text($color:$alt)
  ::-webkit-selection
    +selected-text($color)
  ::-moz-selection
    +selected-text($color)
  ::selection
    +selected-text($color)

+apply-selected-text
