@font-face { font-family: "GreenMudJJRegular"; src: url('../../fonts/jj/GreenMudJJ-Regular.otf') format('opentype'); font-weight: normal; font-style: normal; }

@font-face { font-family: "GreenMudJJRegular"; src: url('../../fonts/jj/GreenMudJJ-Italic.otf') format('opentype'); font-weight: normal; font-style: italic; }

/* Typography ---------------------------------------------------------------- */
.serif, .jj, .susy, .narrator { font-family: "GreenMudJJRegular", serif; }

.sans { font-family: sans-serif; }

.mono { font-family: monospace, sans-serif; }

.caps, .allcaps, .title b, #contents h4 { letter-spacing: 0.05em; }

.allcaps, .title b, #contents h4 { text-transform: uppercase; }

.smallcaps { font-variant: small-caps; }

/* Layout -------------------------------------------------------------------- */
.hidden { position: absolute; clip: rect(0 0 0 0); overflow: hidden; margin: -1px; padding: 0; height: 1px; width: 1px; border: 0; }

/* titlepages ---------------------------------------------------------------- */
.title { clear: both; margin-left: 1.639%; margin-right: 1.639%; font-size: 1.563em; line-height: 1.6em; margin-top: 2.4em; padding-top: 1.6em; padding-bottom: 1.6em; margin-bottom: 0.8em; position: relative; text-shadow: rgba(255, 255, 255, 0.64) 0 1px 0; text-align: center; }
.title:before, .title:after { position: absolute; top: 0; bottom: 0; content: " "; left: -300%; right: -300%; background: rgba(153, 153, 255, 0.41); z-index: -1; }
.title:before { -moz-transform: rotate(0.5deg); -webkit-transform: rotate(0.5deg); -o-transform: rotate(0.5deg); -ms-transform: rotate(0.5deg); transform: rotate(0.5deg); }
.title:after { -moz-transform: rotate(-0.5deg); -webkit-transform: rotate(-0.5deg); -o-transform: rotate(-0.5deg); -ms-transform: rotate(-0.5deg); transform: rotate(-0.5deg); }
.title b::after { content: ": "; }

.epigraph p, #epigraph p { font-size: 1.25em; line-height: 1.5em; }
.epigraph p:last-child, #epigraph p:last-child { font: inherit; font-style: normal; }

/* Links --------------------------------------------------------------------- */
/* Lists --------------------------------------------------------------------- */
@-webkit-keyframes titlebg { 0% { background-color: #ffccf2; }
  50% { background-color: #ccffcc; }
  100% { background-color: #ccffff; } }

@-moz-keyframes titlebg { 0% { background-color: #ffccf2; }
  50% { background-color: #ccffcc; }
  100% { background-color: #ccffff; } }

@-ms-keyframes titlebg { 0% { background-color: #ffccf2; }
  50% { background-color: #ccffcc; }
  100% { background-color: #ccffff; } }

@keyframes titlebg { 0% { background-color: #ffccf2; }
  50% { background-color: #ccffcc; }
  100% { background-color: #ccffff; } }

#titlepage { -moz-animation: titlebg 120s linear infinite both; -webkit-animation: titlebg 120s linear infinite both; -ms-animation: titlebg 120s linear infinite both; animation: titlebg 120s linear infinite both; }
#titlepage .content { -moz-animation: fadeIn 4s 7s both; -webkit-animation: fadeIn 4s 7s both; -ms-animation: fadeIn 4s 7s both; animation: fadeIn 4s 7s both; position: absolute; bottom: 0.625em; left: 0.625em; }
#titlepage p { margin-bottom: 0em; }

h2 { font-size: 1.25em; line-height: 1.25em; padding-top: 9em; padding-left: 430px; background: url('../../images/frontmatter/titlepage/titletree.png?1326358376') no-repeat scroll left top, url('../../images/frontmatter/titlepage/bird.png?1326356657') no-repeat scroll 90% top; text-transform: lowercase; }
h2 span { display: block; }
h2 span:nth-child(1) { -moz-animation: fadeIn 4s 1s both; -webkit-animation: fadeIn 4s 1s both; -ms-animation: fadeIn 4s 1s both; animation: fadeIn 4s 1s both; }
h2 span:nth-child(2) { -moz-animation: fadeIn 4s 2s both; -webkit-animation: fadeIn 4s 2s both; -ms-animation: fadeIn 4s 2s both; animation: fadeIn 4s 2s both; font-size: 1.41em; line-height: 0.887em; margin-left: 0.887em; }
h2 span:nth-child(3) { -moz-animation: fadeIn 4s 3s both; -webkit-animation: fadeIn 4s 3s both; -ms-animation: fadeIn 4s 3s both; animation: fadeIn 4s 3s both; font-size: 1.512em; line-height: 0.827em; margin-left: -0.413em; }
h2 span:nth-child(4) { -moz-animation: fadeIn 4s 4s both; -webkit-animation: fadeIn 4s 4s both; -ms-animation: fadeIn 4s 4s both; animation: fadeIn 4s 4s both; font-size: 1.64em; line-height: 0.762em; margin-left: 1.905em; }
h2 span:nth-child(5) { -moz-animation: fadeIn 4s 5s both; -webkit-animation: fadeIn 4s 5s both; -ms-animation: fadeIn 4s 5s both; animation: fadeIn 4s 5s both; font-size: 1.41em; line-height: 0.887em; margin-left: 3.547em; }
h2 span:nth-child(5)::after { content: "."; }

#contents .pagewrap { *zoom: 1; margin: auto; width: 36.5em; max-width: 100%; }
#contents .pagewrap:after { content: ""; display: table; clear: both; }
#contents .content { clear: both; margin-left: 1.37%; margin-right: 1.37%; padding-left: 8.451%; padding-right: 8.451%; }
#contents .contents { display: inline; float: left; width: 49.153%; margin-right: 1.695%; }
#contents .contents:last-child { display: inline; float: right; margin-right: 0; #margin-left: -0.5em; }
#contents ol { font-size: 0.8em; line-height: 1.562em; }

#epigraph .content { padding-left: 24.658%; }
