/* Typography ---------------------------------------------------------------- */
.jj, .susy, .narrator { font-family: "GreenMudJJRegular", Baskerville, Garamond, Palatino, "Palatino Linotype", "Hoefler Text", "Times New Roman", serif; }

.serif { font-family: Baskerville, Garamond, Palatino, "Palatino Linotype", "Hoefler Text", "Times New Roman", serif; }

.sans { font-family: sans-serif; }

.mono { font-family: monospace, sans-serif; }

.caps, .allcaps, .title i, #titlepage h2 i, #once-upon-a-sunday .pitpot { letter-spacing: 0.05em; }

.allcaps, .title i, #titlepage h2 i, #once-upon-a-sunday .pitpot { text-transform: uppercase; }

.smallcaps { font-variant: small-caps; }

.hidden { position: absolute; clip: rect(0 0 0 0); overflow: hidden; margin: -1px; padding: 0; height: 1px; width: 1px; border: 0; }

/* titlepages ---------------------------------------------------------------- */
.title, #titlepage h2 { clear: both; margin-left: 7.317%; margin-right: 7.317%; font-size: 1.563em; line-height: 0.8em; margin-top: 0em; padding-top: 0.8em; padding-bottom: 0.8em; margin-bottom: 0em; text-shadow: rgba(255, 255, 255, 0.64) 0 1px 0; -webkit-transition: all 300ms; -moz-transition: all 300ms; -ms-transition: all 300ms; -o-transition: all 300ms; transition: all 300ms; text-align: center; }
@media (min-width: 525px) { .title, #titlepage h2 { clear: both; margin-left: 4.615%; margin-right: 4.615%; } }
@media (min-width: 980px) { .title, #titlepage h2 { clear: both; margin-left: 3.896%; margin-right: 3.896%; } }
.title .wrap, #titlepage h2 .wrap { *zoom: 1; }
.title .wrap:after, #titlepage h2 .wrap:after { content: ""; display: table; clear: both; }
.title i, #titlepage h2 i { font-size: 0.64em; line-height: 1.25em; display: block; font-style: normal; }
@media (min-height: 350px) { .title, #titlepage h2 { margin-top: 1.6em; } }
@media (min-height: 490px) { .title, #titlepage h2 { margin-top: 3.2em; } }
@media (min-height: 700px) { .title, #titlepage h2 { margin-top: 4.8em; } }
@media (min-width: 525px) { .title i, #titlepage h2 i, .title .name, #titlepage h2 .name { display: inline; float: left; width: 49.153%; margin-right: 1.695%; }
  .title i, #titlepage h2 i { padding-top: 0.625em; font: inherit; }
  .title .name, #titlepage h2 .name { text-transform: uppercase; display: inline; float: right; margin-right: 0; #margin-left: -0.5em; }
  .title b, #titlepage h2 b { font-size: 0.64em; line-height: 1.875em; display: block; } }

@-webkit-keyframes rain { 0% { background-position: 0 -450px, 225px -450px; }
  100% { background-position: -450px 0, -675px 450px; } }

@-moz-keyframes rain { 0% { background-position: 0 -450px, 225px -450px; }
  100% { background-position: -450px 0, -675px 450px; } }

@-ms-keyframes rain { 0% { background-position: 0 -450px, 225px -450px; }
  100% { background-position: -450px 0, -675px 450px; } }

@keyframes rain { 0% { background-position: 0 -450px, 225px -450px; }
  100% { background-position: -450px 0, -675px 450px; } }

@-webkit-keyframes pitpotIn { 0% { -webkit-transform: translateY(100px) rotate(0deg); -moz-transform: translateY(100px) rotate(0deg); -ms-transform: translateY(100px) rotate(0deg); -o-transform: translateY(100px) rotate(0deg); transform: translateY(100px) rotate(0deg); opacity: 0; }
  100% { -webkit-transform: translateY(0) rotate(3deg); -moz-transform: translateY(0) rotate(3deg); -ms-transform: translateY(0) rotate(3deg); -o-transform: translateY(0) rotate(3deg); transform: translateY(0) rotate(3deg); opacity: 1; } }

@-moz-keyframes pitpotIn { 0% { -webkit-transform: translateY(100px) rotate(0deg); -moz-transform: translateY(100px) rotate(0deg); -ms-transform: translateY(100px) rotate(0deg); -o-transform: translateY(100px) rotate(0deg); transform: translateY(100px) rotate(0deg); opacity: 0; }
  100% { -webkit-transform: translateY(0) rotate(3deg); -moz-transform: translateY(0) rotate(3deg); -ms-transform: translateY(0) rotate(3deg); -o-transform: translateY(0) rotate(3deg); transform: translateY(0) rotate(3deg); opacity: 1; } }

@-ms-keyframes pitpotIn { 0% { -webkit-transform: translateY(100px) rotate(0deg); -moz-transform: translateY(100px) rotate(0deg); -ms-transform: translateY(100px) rotate(0deg); -o-transform: translateY(100px) rotate(0deg); transform: translateY(100px) rotate(0deg); opacity: 0; }
  100% { -webkit-transform: translateY(0) rotate(3deg); -moz-transform: translateY(0) rotate(3deg); -ms-transform: translateY(0) rotate(3deg); -o-transform: translateY(0) rotate(3deg); transform: translateY(0) rotate(3deg); opacity: 1; } }

@keyframes pitpotIn { 0% { -webkit-transform: translateY(100px) rotate(0deg); -moz-transform: translateY(100px) rotate(0deg); -ms-transform: translateY(100px) rotate(0deg); -o-transform: translateY(100px) rotate(0deg); transform: translateY(100px) rotate(0deg); opacity: 0; }
  100% { -webkit-transform: translateY(0) rotate(3deg); -moz-transform: translateY(0) rotate(3deg); -ms-transform: translateY(0) rotate(3deg); -o-transform: translateY(0) rotate(3deg); transform: translateY(0) rotate(3deg); opacity: 1; } }

@-webkit-keyframes pitpotOut { 0% { -webkit-transform: translateY(0) rotate(3deg); -moz-transform: translateY(0) rotate(3deg); -ms-transform: translateY(0) rotate(3deg); -o-transform: translateY(0) rotate(3deg); transform: translateY(0) rotate(3deg); opacity: 1; }
  100% { -webkit-transform: translateY(100px) rotate(0deg); -moz-transform: translateY(100px) rotate(0deg); -ms-transform: translateY(100px) rotate(0deg); -o-transform: translateY(100px) rotate(0deg); transform: translateY(100px) rotate(0deg); opacity: 0; } }

@-moz-keyframes pitpotOut { 0% { -webkit-transform: translateY(0) rotate(3deg); -moz-transform: translateY(0) rotate(3deg); -ms-transform: translateY(0) rotate(3deg); -o-transform: translateY(0) rotate(3deg); transform: translateY(0) rotate(3deg); opacity: 1; }
  100% { -webkit-transform: translateY(100px) rotate(0deg); -moz-transform: translateY(100px) rotate(0deg); -ms-transform: translateY(100px) rotate(0deg); -o-transform: translateY(100px) rotate(0deg); transform: translateY(100px) rotate(0deg); opacity: 0; } }

@-ms-keyframes pitpotOut { 0% { -webkit-transform: translateY(0) rotate(3deg); -moz-transform: translateY(0) rotate(3deg); -ms-transform: translateY(0) rotate(3deg); -o-transform: translateY(0) rotate(3deg); transform: translateY(0) rotate(3deg); opacity: 1; }
  100% { -webkit-transform: translateY(100px) rotate(0deg); -moz-transform: translateY(100px) rotate(0deg); -ms-transform: translateY(100px) rotate(0deg); -o-transform: translateY(100px) rotate(0deg); transform: translateY(100px) rotate(0deg); opacity: 0; } }

@keyframes pitpotOut { 0% { -webkit-transform: translateY(0) rotate(3deg); -moz-transform: translateY(0) rotate(3deg); -ms-transform: translateY(0) rotate(3deg); -o-transform: translateY(0) rotate(3deg); transform: translateY(0) rotate(3deg); opacity: 1; }
  100% { -webkit-transform: translateY(100px) rotate(0deg); -moz-transform: translateY(100px) rotate(0deg); -ms-transform: translateY(100px) rotate(0deg); -o-transform: translateY(100px) rotate(0deg); transform: translateY(100px) rotate(0deg); opacity: 0; } }

#once-upon-a-sunday { -webkit-animation: rain 45s 0.2s linear infinite both; -moz-animation: rain 45s 0.2s linear infinite both; -ms-animation: rain 45s 0.2s linear infinite both; animation: rain 45s 0.2s linear infinite both; background: url('../../images/ch01/once-upon-sunday/rain.png?1319146885') top left, #564029 url('../../images/ch01/once-upon-sunday/rain.png?1319146885') center; overflow: hidden; }
#once-upon-a-sunday .pagewrap { *zoom: 1; margin: auto; width: 20.5em; max-width: 100%; }
#once-upon-a-sunday .pagewrap:after { content: ""; display: table; clear: both; }
@media (min-width: 525px) { #once-upon-a-sunday .pagewrap { *zoom: 1; margin: auto; width: 32.5em; max-width: 100%; }
  #once-upon-a-sunday .pagewrap:after { content: ""; display: table; clear: both; } }
@media (min-width: 980px) { #once-upon-a-sunday .pagewrap { *zoom: 1; margin: auto; width: 38.5em; max-width: 100%; }
  #once-upon-a-sunday .pagewrap:after { content: ""; display: table; clear: both; } }
#once-upon-a-sunday .content { clear: both; margin-left: 7.317%; margin-right: 7.317%; position: relative; }
@media (min-width: 525px) { #once-upon-a-sunday .content { clear: both; margin-left: 4.615%; margin-right: 4.615%; } }
@media (min-width: 980px) { #once-upon-a-sunday .content { clear: both; margin-left: 3.896%; margin-right: 3.896%; } }
#once-upon-a-sunday blockquote { padding-top: 1.875em; position: relative; z-index: 5; }
#once-upon-a-sunday i { -webkit-animation: fadeIn 4s 3s both; -moz-animation: fadeIn 4s 3s both; -ms-animation: fadeIn 4s 3s both; animation: fadeIn 4s 3s both; background: rgba(255, 255, 191, 0.8); }
#once-upon-a-sunday .pitpot { -webkit-animation: pitpotIn 2s 2s both; -moz-animation: pitpotIn 2s 2s both; -ms-animation: pitpotIn 2s 2s both; animation: pitpotIn 2s 2s both; font-size: 0.8em; line-height: 1.562em; -webkit-transform: rotate(3deg); -moz-transform: rotate(3deg); -ms-transform: rotate(3deg); -o-transform: rotate(3deg); transform: rotate(3deg); -webkit-box-shadow: #202020 0 0 1.25em; -moz-box-shadow: #202020 0 0 1.25em; box-shadow: #202020 0 0 1.25em; position: absolute; top: 0; background: rgba(172, 128, 83, 0.8); margin: 0 -125em; padding: 0 62.5em; text-align: center; white-space: nowrap; }
@media (min-width: 525px) and (max-width: 979px) { #once-upon-a-sunday blockquote { font-size: 0.8em; line-height: 1.562em; } }
@media (min-width: 525px) { #once-upon-a-sunday blockquote { padding-left: 40.678%; }
  #once-upon-a-sunday .raindrop { text-indent: -119988px; overflow: hidden; text-align: left; background-image: url('../../images/ch01/once-upon-sunday/raindrop.png?1328435214'); background-repeat: no-repeat; background-position: 50% 50%; -webkit-background-size: contain; -moz-background-size: contain; -o-background-size: contain; background-size: contain; position: absolute; top: 0; bottom: 0; display: block; left: 0; width: 38.983%; z-index: 15; }
  #once-upon-a-sunday .raindrop { -webkit-animation: fadeInDownBig 6s 4s both; -moz-animation: fadeInDownBig 6s 4s both; -ms-animation: fadeInDownBig 6s 4s both; animation: fadeInDownBig 6s 4s both; }
  #once-upon-a-sunday i { -webkit-animation: fadeIn 4s 10s both; -moz-animation: fadeIn 4s 10s both; -ms-animation: fadeIn 4s 10s both; animation: fadeIn 4s 10s both; } }
@media (min-height: 350px) { #once-upon-a-sunday blockquote { padding-bottom: 1.25em; } }
@media (min-width: 980px) { #once-upon-a-sunday blockquote { padding-left: 42.254%; }
  #once-upon-a-sunday .raindrop { left: 7.042%; width: 32.394%; } }
@media (min-height: 490px) { #once-upon-a-sunday blockquote { padding-top: 2.5em; padding-bottom: 2.5em; }
  #once-upon-a-sunday .pitpot { top: auto; bottom: 2.5em; } }

#titlepage .pagewrap { *zoom: 1; margin: auto; width: 20.5em; max-width: 100%; }
#titlepage .pagewrap:after { content: ""; display: table; clear: both; }
@media (min-width: 525px) { #titlepage .pagewrap { *zoom: 1; margin: auto; width: 32.5em; max-width: 100%; }
  #titlepage .pagewrap:after { content: ""; display: table; clear: both; } }
@media (min-width: 980px) { #titlepage .pagewrap { *zoom: 1; margin: auto; width: 38.5em; max-width: 100%; }
  #titlepage .pagewrap:after { content: ""; display: table; clear: both; } }
#titlepage h2 { position: relative; z-index: 10; }
#titlepage h2:before, #titlepage h2:after { position: absolute; top: 0; bottom: 0; content: " "; left: -300%; right: -300%; background: rgba(255, 255, 153, 0.41); z-index: -1; }
#titlepage h2:before { -webkit-transform: rotate(-0.75deg); -moz-transform: rotate(-0.75deg); -ms-transform: rotate(-0.75deg); -o-transform: rotate(-0.75deg); transform: rotate(-0.75deg); }
#titlepage h2:after { -webkit-transform: rotate(0.75deg); -moz-transform: rotate(0.75deg); -ms-transform: rotate(0.75deg); -o-transform: rotate(0.75deg); transform: rotate(0.75deg); }
