@font-face { font-family: "GreenMudJJRegular"; src: url('../../fonts/jj/GreenMudJJ-Regular.otf') format('opentype'); font-weight: normal; font-style: normal; }

@font-face { font-family: "GreenMudJJRegular"; src: url('../../fonts/jj/GreenMudJJ-Italic.otf') format('opentype'); font-weight: normal; font-style: italic; }

/* Typography ---------------------------------------------------------------- */
.serif, .jj, .susy, .narrator { font-family: "GreenMudJJRegular", serif; }

.sans { font-family: sans-serif; }

.mono { font-family: monospace, sans-serif; }

.caps, .allcaps, .title b, #titlepage h2 b, #once-upon-sunday .pitpot { letter-spacing: 0.05em; }

.allcaps, .title b, #titlepage h2 b, #once-upon-sunday .pitpot { text-transform: uppercase; }

.smallcaps { font-variant: small-caps; }

/* Layout -------------------------------------------------------------------- */
.hidden { position: absolute; clip: rect(0 0 0 0); overflow: hidden; margin: -1px; padding: 0; height: 1px; width: 1px; border: 0; }

/* titlepages ---------------------------------------------------------------- */
.title, #titlepage h2 { clear: both; margin-left: 1.639%; margin-right: 1.639%; font-size: 1.563em; line-height: 1.6em; margin-top: 2.4em; padding-top: 1.6em; padding-bottom: 1.6em; margin-bottom: 0.8em; position: relative; text-shadow: rgba(255, 255, 255, 0.64) 0 1px 0; text-align: center; }
.title:before, #titlepage h2:before, .title:after, #titlepage h2:after { position: absolute; top: 0; bottom: 0; content: " "; left: -300%; right: -300%; background: rgba(153, 153, 255, 0.41); z-index: -1; }
.title:before, #titlepage h2:before { -moz-transform: rotate(0.5deg); -webkit-transform: rotate(0.5deg); -o-transform: rotate(0.5deg); -ms-transform: rotate(0.5deg); transform: rotate(0.5deg); }
.title:after, #titlepage h2:after { -moz-transform: rotate(-0.5deg); -webkit-transform: rotate(-0.5deg); -o-transform: rotate(-0.5deg); -ms-transform: rotate(-0.5deg); transform: rotate(-0.5deg); }
.title b::after, #titlepage h2 b::after { content: ": "; }

.epigraph p { font-size: 1.25em; line-height: 1.5em; }
.epigraph p:last-child { font: inherit; font-style: normal; }

/* Links --------------------------------------------------------------------- */
/* Lists --------------------------------------------------------------------- */
.pagewrap { *zoom: 1; margin: auto; width: 36.5em; max-width: 100%; }
.pagewrap:after { content: ""; display: table; clear: both; }

@-webkit-keyframes rain { 0% { background-position: 0 -450px, 225px -450px; }
  100% { background-position: -450px 0, -675px 450px; } }

@-moz-keyframes rain { 0% { background-position: 0 -450px, 225px -450px; }
  100% { background-position: -450px 0, -675px 450px; } }

@-ms-keyframes rain { 0% { background-position: 0 -450px, 225px -450px; }
  100% { background-position: -450px 0, -675px 450px; } }

@keyframes rain { 0% { background-position: 0 -450px, 225px -450px; }
  100% { background-position: -450px 0, -675px 450px; } }

@-webkit-keyframes pitpotIn { 0% { -moz-transform: translateY(100px) rotate(0deg); -webkit-transform: translateY(100px) rotate(0deg); -o-transform: translateY(100px) rotate(0deg); -ms-transform: translateY(100px) rotate(0deg); transform: translateY(100px) rotate(0deg); opacity: 0; }
  100% { -moz-transform: translateY(0) rotate(3deg); -webkit-transform: translateY(0) rotate(3deg); -o-transform: translateY(0) rotate(3deg); -ms-transform: translateY(0) rotate(3deg); transform: translateY(0) rotate(3deg); opacity: 1; } }

@-moz-keyframes pitpotIn { 0% { -moz-transform: translateY(100px) rotate(0deg); -webkit-transform: translateY(100px) rotate(0deg); -o-transform: translateY(100px) rotate(0deg); -ms-transform: translateY(100px) rotate(0deg); transform: translateY(100px) rotate(0deg); opacity: 0; }
  100% { -moz-transform: translateY(0) rotate(3deg); -webkit-transform: translateY(0) rotate(3deg); -o-transform: translateY(0) rotate(3deg); -ms-transform: translateY(0) rotate(3deg); transform: translateY(0) rotate(3deg); opacity: 1; } }

@-ms-keyframes pitpotIn { 0% { -moz-transform: translateY(100px) rotate(0deg); -webkit-transform: translateY(100px) rotate(0deg); -o-transform: translateY(100px) rotate(0deg); -ms-transform: translateY(100px) rotate(0deg); transform: translateY(100px) rotate(0deg); opacity: 0; }
  100% { -moz-transform: translateY(0) rotate(3deg); -webkit-transform: translateY(0) rotate(3deg); -o-transform: translateY(0) rotate(3deg); -ms-transform: translateY(0) rotate(3deg); transform: translateY(0) rotate(3deg); opacity: 1; } }

@keyframes pitpotIn { 0% { -moz-transform: translateY(100px) rotate(0deg); -webkit-transform: translateY(100px) rotate(0deg); -o-transform: translateY(100px) rotate(0deg); -ms-transform: translateY(100px) rotate(0deg); transform: translateY(100px) rotate(0deg); opacity: 0; }
  100% { -moz-transform: translateY(0) rotate(3deg); -webkit-transform: translateY(0) rotate(3deg); -o-transform: translateY(0) rotate(3deg); -ms-transform: translateY(0) rotate(3deg); transform: translateY(0) rotate(3deg); opacity: 1; } }

@-webkit-keyframes pitpotOut { 0% { -moz-transform: translateY(0) rotate(3deg); -webkit-transform: translateY(0) rotate(3deg); -o-transform: translateY(0) rotate(3deg); -ms-transform: translateY(0) rotate(3deg); transform: translateY(0) rotate(3deg); opacity: 1; }
  100% { -moz-transform: translateY(100px) rotate(0deg); -webkit-transform: translateY(100px) rotate(0deg); -o-transform: translateY(100px) rotate(0deg); -ms-transform: translateY(100px) rotate(0deg); transform: translateY(100px) rotate(0deg); opacity: 0; } }

@-moz-keyframes pitpotOut { 0% { -moz-transform: translateY(0) rotate(3deg); -webkit-transform: translateY(0) rotate(3deg); -o-transform: translateY(0) rotate(3deg); -ms-transform: translateY(0) rotate(3deg); transform: translateY(0) rotate(3deg); opacity: 1; }
  100% { -moz-transform: translateY(100px) rotate(0deg); -webkit-transform: translateY(100px) rotate(0deg); -o-transform: translateY(100px) rotate(0deg); -ms-transform: translateY(100px) rotate(0deg); transform: translateY(100px) rotate(0deg); opacity: 0; } }

@-ms-keyframes pitpotOut { 0% { -moz-transform: translateY(0) rotate(3deg); -webkit-transform: translateY(0) rotate(3deg); -o-transform: translateY(0) rotate(3deg); -ms-transform: translateY(0) rotate(3deg); transform: translateY(0) rotate(3deg); opacity: 1; }
  100% { -moz-transform: translateY(100px) rotate(0deg); -webkit-transform: translateY(100px) rotate(0deg); -o-transform: translateY(100px) rotate(0deg); -ms-transform: translateY(100px) rotate(0deg); transform: translateY(100px) rotate(0deg); opacity: 0; } }

@keyframes pitpotOut { 0% { -moz-transform: translateY(0) rotate(3deg); -webkit-transform: translateY(0) rotate(3deg); -o-transform: translateY(0) rotate(3deg); -ms-transform: translateY(0) rotate(3deg); transform: translateY(0) rotate(3deg); opacity: 1; }
  100% { -moz-transform: translateY(100px) rotate(0deg); -webkit-transform: translateY(100px) rotate(0deg); -o-transform: translateY(100px) rotate(0deg); -ms-transform: translateY(100px) rotate(0deg); transform: translateY(100px) rotate(0deg); opacity: 0; } }

#once-upon-sunday { -moz-animation: rain 45s 0.2s linear infinite both; -webkit-animation: rain 45s 0.2s linear infinite both; -ms-animation: rain 45s 0.2s linear infinite both; animation: rain 45s 0.2s linear infinite both; background: url('../../images/ch01/once-upon-sunday/rain.png?1319146885') top left, #8f7730 url('../../images/ch01/once-upon-sunday/rain.png?1319146885') center; }
#once-upon-sunday .content { position: relative; }
#once-upon-sunday blockquote { padding-left: 42.254%; padding-top: 2.5em; padding-bottom: 2.5em; position: relative; }
#once-upon-sunday .raindrop { text-indent: -119988px; overflow: hidden; text-align: left; background-image: url('../../images/ch01/once-upon-sunday/raindrop.png?1319065580'); background-repeat: no-repeat; background-position: 50% 50%; -moz-background-size: contain; -webkit-background-size: contain; -o-background-size: contain; background-size: contain; position: absolute; top: 0; bottom: 0; display: block; left: 7.042%; width: 32.394%; z-index: 15; }
#once-upon-sunday i { background: rgba(255, 229, 153, 0.8); }
#once-upon-sunday .pitpot { font-size: 0.8em; line-height: 1.562em; -moz-transform: rotate(3deg); -webkit-transform: rotate(3deg); -o-transform: rotate(3deg); -ms-transform: rotate(3deg); transform: rotate(3deg); -moz-box-shadow: #202020 0 0 1.25em; -webkit-box-shadow: #202020 0 0 1.25em; -o-box-shadow: #202020 0 0 1.25em; box-shadow: #202020 0 0 1.25em; position: absolute; bottom: 2.5em; background: rgba(255, 114, 114, 0.8); margin: 0 -125em; padding: 0 62.5em; text-align: center; }
#once-upon-sunday.active-page .raindrop { -moz-animation: fadeInDownBig 6s 2s both; -webkit-animation: fadeInDownBig 6s 2s both; -ms-animation: fadeInDownBig 6s 2s both; animation: fadeInDownBig 6s 2s both; }
#once-upon-sunday.active-page .pitpot { -moz-animation: pitpotIn 2s 8s both; -webkit-animation: pitpotIn 2s 8s both; -ms-animation: pitpotIn 2s 8s both; animation: pitpotIn 2s 8s both; }
#once-upon-sunday.active-page i { -moz-animation: fadeIn 4s 10s both; -webkit-animation: fadeIn 4s 10s both; -ms-animation: fadeIn 4s 10s both; animation: fadeIn 4s 10s both; }
