/* ----------------------------------------------------------------------------
   controls */

$total-columns: 8;

$control-icon: $xsmallpx;
$control-line: 1.5;
$control-padding: .25;

$control-text-color   : color($light);
$control-link-color   : color($lightest);
$control-focus-color  : $white;

%control-icon {
  @extend %icon;
  position: relative;
  width: rhythm($control-line);
  height: rhythm($control-line);
  overflow: hidden;
  &:before {
    @include adjust-font-size-to($control-icon,$control-line);
    display: inline-block;
    width: rhythm($control-line);
    margin-right: 1em;
    text-align: center;
    vertical-align: middle;
  }
}

%control-link {
  #{$link} { color: $control-link-color; }
  .no-touch & {
    #{$focus} { color: $control-text-color; }
    &[href] { #{$focus} { color: $control-focus-color; } }
  }
}

%control-select {
  @extend %control-link;
  @extend %ellipsis;
  @include trailing-border(1px,.25);
  display: block;
  padding: {
    top: rhythm($control-padding);
    right: rhythm($control-padding);
    left: rhythm($control-padding);
  }
  border-color: color(darkest,.5);
}

// ----------------------------------------------------------------------------
// toggle

#toggle {
  @extend %control-icon;
  @extend %icon-reorder;
  @include adjust-leading-to($control-line);
  @include text-shadow(color(darker) 0 0 rhythm(.125));
  position: absolute;
  top: 0;
  left: 0;
  color: $control-focus-color;
  cursor: pointer;
  z-index: 950;
  .no-touch & {
    #{$focus} { @include text-shadow(color($darkest) 0 0 3px); }
  }
}

// ----------------------------------------------------------------------------
// controls

.controls {
  @include clearfix;
  @include adjust-font-size-to($xsmallpx);
  @include text-shadow(color($darkest,.75) 0 1px 0);
  @include calc(width, "100% - #{rhythm($control-line)}", 80%);
  position: relative;
  float: left;
  height: 100%;
  margin-left: -100%;
  max-width: rhythm(12);
  background: color(darker);
  color: $control-text-color;
  font-family: $narrator-stack;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  z-index: 900;

  a {
    @extend %control-select;
    &:before {
      display: inline-block;
      min-width: rhythm(.75);
      margin-right: rhythm(.25);
      color: color(mid);
      text-align: right;
    }
  }

  // toggle controls ------//
  @include transition(margin-left 300ms ease);
  &.active, .showcontrols & {
    margin-left: 0;
    border-right: 1px solid color(dark);
    + .novel { margin-right: -100%; }
  }
}

.novel-title {
  background: color(darkest);
  [rel="home"] {
    @extend %icon;
    @extend %icon-home;
  }
}

.extras {
  background: color(darkest,.5);
  [href$='about.html'] {
    @extend %icon;
    @extend %icon-users;
  }
  [href='#instructions'] {
    @extend %icon;
    @extend %icon-help;
  }
}

// ----------------------------------------------------------------------------
// pagenav

.pagenav { @include gone; }
