/* ----------------------------------------------------------------------------
  controls */

$control-size: 1.5;

%control-icon {
  &:before {
    @include adjust-font-size-to($medpx,$control-size);
    right: 0;
    text-align: right;
  }
}

// ----------------------------------------------------------------------------
// toggle

#toggle {
  @extend %icon-replace;
  @extend %control-icon;
  @include adjust-leading-to($control-size);
  @include font-icon-image($icon-cog);
  @include text-shadow(rgba($darkest,$small) 0 0 1px);
  position: absolute;
  top: 0;
  right: 0;
  width: rhythm($control-size);
  color: $white;
  cursor: pointer;
  z-index: 950;
  #{$focus} { color: $white; }
}

// ----------------------------------------------------------------------------
// controls

.controls {
  @include clearfix;
  @include stretch-x;
  @include adjust-leading-to($control-size);
  @include text-shadow(rgba($darkest,$small) 0 1px 0);
  @include transition(all 200ms);
  @include translateY(rhythm(-3));
  padding: 0 rhythm($control-size) 0 $grid-padding;
  background: $darker;
  color: $mid;
  z-index: 900;
  a {
    #{$link} { color: $lightest; }
    #{$focus} { color: $white; }
    &:not([href]) { @include opacity(.5); }
  }
  &.active {
    @include translateY(0);
  }
}

// ----------------------------------------------------------------------------
// breadcrumb

.breadcrumb { 
  @extend %ellipsis;
  @include clearfix;
  max-height: rhythm(1.5);
}

[rel="contents"] {
  @extend %icon-replace;
  @extend %control-icon;
  @include font-icon-image($icon-list);
  @include float(left);
  width: rhythm($control-size);
}

.crumb-list {
  @include delimited-list("»");
}

// ----------------------------------------------------------------------------
// pagenav

.pagenav { 
  @include float(right);
  width: rhythm($control-size*2);
  a {
    #{$link} { 
      display: block;
      width: rhythm($control-size);
    }
  }
}
.prev { @include float(left); }
.next { @include float(right); }

[rel="prev"] {
  @extend %icon-replace;
  @extend %control-icon;
  @include font-icon-image($icon-arrow-left);
}

[rel="next"] {
  @extend %icon-replace;
  @extend %control-icon;
  @include font-icon-image($icon-arrow-right);
}
