/* ----------------------------------------------------------------------------
   instructions */

.instructions {
  display: none; // temporary hiding of instructions

  @include adjust-font-size-to($medpx);
  @include text-shadow(black 0 1px 0);
  @include stretch-x;
  @include padding-trailer;
  top: rhythm(3);
  max-width: 30rem;
  margin: 0 auto;
  color: color(lightest);
  text-align: center;
  z-index: 500;
  b {
    text-transform: uppercase;
    font-weight: bold;
  }
  &:before {
    @include stretch;
    position: fixed;
    content: " ";
    background: color(darkest,.9);
    z-index: -1;
  }
}

.extra-help {
  @include adjust-font-size-to($smallpx);
  display: block;
  color: $gray;
  i {
    @extend %icon;
    text-transform: uppercase;
    &:before {
      @include adjust-font-size-to($xsmallpx);
      margin-right: .4em;
    }
  }
}

// ----------------------------------------------------------------------------
// pageturn

.help-pageturn {
  @extend %icon;
  @extend %icon-swipe;
  &:before {
    @include transition(all 300ms);
    @include adjust-font-size-to($xxxlargepx);
    display: block;
    @include breakpoint(30em) { @include adjust-font-size-to($xxxlargepx*2); }
  }
  .gear { @extend %icon-reorder; }
}
