/* ----------------------------------------------------------------------------
   instructions */

.instructions {
  display: none;

  @include adjust-font-size-to($medpx);
  @include text-shadow(black 0 1px 0);
  @include stretch-x;
  @include padding-trailer;
  top: rhythm(3);
  max-width: 30rem;
  margin: 0 auto;
  color: color(lightest);
  text-align: center;
  z-index: 500;
  b {
    font-weight: bold;
    text-transform: uppercase;
  }
  &:before {
    @include stretch;
    position: fixed;
    content: " ";
    background: color($off $green darkest,.98);
    z-index: -1;
  }
}

// ----------------------------------------------------------------------------
// pageturn

%help-icon {
  @extend %icon;
  font-weight: bold;
  text-transform: uppercase;
  &:before {
    @include adjust-font-size-to($smallpx);
    margin-right: .4em;
  }
}

.help-pageturn {
  @extend %icon;
  @extend %icon-swipe;
  .no-touch & {
    @extend %icon-arrows;
    .swipe, .or { display: none; }
    .use { text-transform: capitalize; }
  }
  .touch & {
    .or, .use, .arrows { display: none; }
  }
  &:before {
    @include transition(all 300ms);
    @include adjust-font-size-to($xxxlargepx);
    display: block;
    @include breakpoint(30em) { @include adjust-font-size-to($xxxlargepx*2); }
  }
}

// ----------------------------------------------------------------------------
// extra help

.extra-help {
  @include adjust-font-size-to($smallpx);
  @include trailer;
  display: block;
  color: $gray;
  .menu {
    @extend %help-icon;
    @extend %icon-reorder;
    &:before { @include adjust-font-size-to($xsmallpx); }
  }
}

// ----------------------------------------------------------------------------
// try now

.try-now { @include animation(tada 1s 3s); }
