/* ----------------------------------------------------------------------------
  page */

.page { min-height: 100%; }

// ----------------------------------------------------------------------------
// temporary page styles

.demo {
  @include layout(6) {
    [role="main"] {
      @extend %type;
      @include container;
      @include padding-leader(2);
      position: relative;
    }
  }
}

// ----------------------------------------------------------------------------
// pageturn

$swipe-size     : $base-line-height*1.5;
$swipe-padding  : rhythm(1);
$swipe-radius   : rhythm(3);

.prevnext {
  @extend %icon;
  @include adjust-font-size-to($swipe-size,1.5);
  @include opacity(0);
  position: absolute;
  position: fixed;
  top: 50%;
  display: block;
  margin-top: - $swipe-padding*2.75;
  padding: $swipe-padding*2 $swipe-padding;
  color: color($hint,.75);
  background: color($darker,.25);
  z-index: -1;
  &::before { vertical-align: middle; }
}

@mixin show-prevnext($pos: left) {
  $opp: opposite-position($pos);
  $anim: if($pos == left, fadeInRight, fadeInLeft);
  .prevnext {
    @extend %icon-arrow-#{$opp};
    @include animation($anim 300ms 1 both);
    @if $pos == left { @include border-left-radius($swipe-radius); }
    @else { @include border-right-radius($swipe-radius); }
    #{$opp}: 0;
    padding-#{$opp}: $swipe-padding/2;
  }
}

.swiping-next, .swiping-prev {
  .prevnext {
    @include opacity(1);
    z-index: 900;
  }
}
.swiping-next { @include show-prevnext(left); }
.swiping-prev { @include show-prevnext(right); }

@include pageturn;
