/* ----------------------------------------------------------------------------
  page */

// ----------------------------------------------------------------------------
// temporary page styles

.demo {
  .page {
    background: $pink-hint image-url('noise.png');
  }
  .content {
    @extend %type;
    @include container;
    @include susy-grid-background;
    @include padding-leader(2);
    position: relative;
    &:before {
      @extend %allcaps;
      @include adjust-font-size-to($smallpx);
      @include trailer(1,$smallpx);
      @include border-radius($xxxsmallem);
      content: "This page has not been designed yet.";
      display: block;
      padding: 0 $grid-padding;
      background: $off-pink-lighter;
      color: $pink-hint;
      font-weight: bold;
    }
  }
}

// ----------------------------------------------------------------------------
// pageturn

.swiping-next { background: image-url('right.png') no-repeat fixed right; }
.swiping-prev { background: image-url('left.png') no-repeat fixed left; }

.page {
  @include transition(left 200ms ease-in-out);
  position: relative;
  left: 0;
  .swiping-next & { left: rhythm(-1.5); }
  .swiping-prev & { left: rhythm(1.5); }
  .swiping-next &, .swiping-prev & {
    * { @include animation-play-state(paused !important); }
  }
}

.enter-prev { @extend %fadeInLeft; }
.enter-next { @extend %fadeInRight; }
.exit-prev { @extend %fadeOutLeft; }
.exit-next { @extend %fadeOutRight; }

.enter-prev, .enter-next, .exit-prev, .exit-next {
  @include animation-duration(200ms);
  @include animation-timing-function(ease);
  @include animation-fill-mode(both);
}

.exit-prev, .exit-next {
  * { @include animation-play-state(paused !important); }
}
