/* ----------------------------------------------------------------------------
  page */

// ----------------------------------------------------------------------------
// temporary page styles

.demo {
  .page { background: $pink-hint image-url('noise.png'); }
  .content {
    @extend %type;
    @include container;
    @include susy-grid-background;
    @include padding-leader(2);
  }
}

// ----------------------------------------------------------------------------
// pageturn

.swiping-next { background: image-url('right.png') no-repeat scroll right; }
.swiping-prev { background: image-url('left.png') no-repeat scroll left; }

.page {
  @include transition(left 200ms ease-in-out);
  position: relative;
  left: 0;
  .swiping-next &, .swiping-prev & {
    * { @include animation-play-state(paused !important); }
  }
  .swiping-next & { left: rhythm(-1.5); }
  .swiping-prev & { left: rhythm(1.5); }
}

.enter-prev { @extend %fadeInLeft; }
.enter-next { @extend %fadeInRight; }
.exit-prev { @extend %fadeOutLeft; }
.exit-next { @extend %fadeOutRight; }

.enter-prev, .enter-next, .exit-prev, .exit-next {
  @include animation-duration(200ms);
  @include animation-timing-function(ease);
  @include animation-fill-mode(both);
}

