/* ----------------------------------------------------------------------------
   toc */

[class^="toc-"] {
  @include trailer;
  .book, li {
    @extend %ellipsis;
    @extend %shrink;
    @extend %transition;
  }
  @include breakpoint($toc-break) {
    @include span-columns($toc-cols,$total-columns);
    @include nth-omega(last);
  }
}


// ----------------------------------------------------------------------------
// header toc

#toc {
  @extend %toc-counter;
  @include clearfix;
  background: color($darkest);
  color: $control-text-color;
  a { @extend %control-link; }
  .wrap {
    @extend %transition;
    @include container;
    @include padding-leader($control-line+.5);
    margin-left: 0;
    @include breakpoint($breadcrumb-break) { margin-left: rhythm($control-line*2); }
  }

  // show and hide toc
  @include transition(max-height 600ms ease);
  max-height: 0;
  .active + &.active { max-height: 45em; }
}
