// ----------------------------------------------------------------------------
// contents

[class^="toc-"] {
  @include trailer;
  .book, li { @extend %ellipsis; }
  @include media(32em) {
    @include span-columns(4,$total-columns);
    &:last-child { @include omega; }
  }
}


// ----------------------------------------------------------------------------
// header toc

#toc {
  @extend %toc-counter;
  @include clearfix;
  background: $darkest;
  color: $control-text-color;
  a { @extend %control-link; }
  .wrap {
    @include container;
    @include padding-leader($control-line+.5);
    @include media($breadcrumb-break) { margin-left: rhythm($control-line*2); }
  }

  // show and hide toc
  @include transition(max-height 600ms ease);
  max-height: 0;
  &.active { max-height: 45em; }
}
