/* ----------------------------------------------------------------------------
   browser warning */

.warning {
  @include stretch;
  display: none;
  padding: 3em 1.5em;
  border: 3px solid $red;
  background: color($red lighter,.95);
  text-align: center;
  z-index: 900;
  h2, p {
    max-width: 800px;
    max-width: 30rem;
    margin: 0 auto;
  }
  h2 {
    margin-bottom: .25em;
    font-weight: bold;
  }
  p { @include adjust-font-size-to($smallpx); }
  .no-js &,
  .no-cssanimations &,
  .no-cssgradients &,
  .no-multiplebgs &,
  .no-backgroundsize & { display: block; }
}