/* ---------------------------------------------------------------------------- helpers */
[data-icon]:before { font-family: 'greenmud'; font-style: normal; speak: none; }

[data-icon]:before { content: attr(data-icon); }

#titlepage h2 { letter-spacing: .05em; }

#titlepage h2 { text-transform: uppercase; }

#once-upon-a-sunday-raining .pitpot { white-space: nowrap; overflow: hidden; -ms-text-overflow: ellipsis; -o-text-overflow: ellipsis; text-overflow: ellipsis; }

#once-upon-a-sunday-raining blockquote span { font-size: 0.79167rem; line-height: 1.25rem; }
@media (min-width: 35em) { #once-upon-a-sunday-raining blockquote span { font-size: inherit; line-height: inherit; } }

#his-shirt-is-wet-and [role="main"] h1 { font-size: 1.5rem; line-height: 1.875rem; }
#his-shirt-is-wet-and [role="main"] h1, #his-shirt-is-wet-and [role="main"] h2, #his-shirt-is-wet-and [role="main"] h3, #his-shirt-is-wet-and [role="main"] h4 { font-weight: bold; color: #404040; }
#his-shirt-is-wet-and [role="main"] h1:first-child, #his-shirt-is-wet-and [role="main"] h1 + h2, #his-shirt-is-wet-and [role="main"] h1 + h3, #his-shirt-is-wet-and [role="main"] h1 + h4, #his-shirt-is-wet-and [role="main"] h2:first-child, #his-shirt-is-wet-and [role="main"] h2 + h2, #his-shirt-is-wet-and [role="main"] h2 + h3, #his-shirt-is-wet-and [role="main"] h2 + h4, #his-shirt-is-wet-and [role="main"] h3:first-child, #his-shirt-is-wet-and [role="main"] h3 + h2, #his-shirt-is-wet-and [role="main"] h3 + h3, #his-shirt-is-wet-and [role="main"] h3 + h4, #his-shirt-is-wet-and [role="main"] h4:first-child, #his-shirt-is-wet-and [role="main"] h4 + h2, #his-shirt-is-wet-and [role="main"] h4 + h3, #his-shirt-is-wet-and [role="main"] h4 + h4 { margin-top: 0rem; }
#his-shirt-is-wet-and [role="main"] h2, #his-shirt-is-wet-and [role="main"] h3, #his-shirt-is-wet-and [role="main"] h4 { font-size: 1.25rem; line-height: 1.875rem; margin-top: 1.25rem; }
#his-shirt-is-wet-and [role="main"] p, #his-shirt-is-wet-and [role="main"] ol, #his-shirt-is-wet-and [role="main"] ul, #his-shirt-is-wet-and [role="main"] blockquote { margin-bottom: 1.25rem; }
#his-shirt-is-wet-and [role="main"] ol { list-style-type: decimal; }
#his-shirt-is-wet-and [role="main"] ul li { position: relative; }
#his-shirt-is-wet-and [role="main"] ul li:before { content: "•"; position: absolute; top: 0; right: 100%; margin-right: .2em; }
#his-shirt-is-wet-and [role="main"] em, #his-shirt-is-wet-and [role="main"] blockquote { font-style: italic; }
#his-shirt-is-wet-and [role="main"] blockquote cite { font-style: normal; }
#his-shirt-is-wet-and [role="main"] blockquote :last-child { margin-bottom: 0rem; }

#titlepage { overflow-x: hidden; }
#titlepage [role="main"] { max-width: 15rem; margin-top: 3.75rem; margin-bottom: 3.75rem; position: relative; margin-left: auto; margin-right: auto; padding: 1.875rem 1rem; text-align: center; }
#titlepage [role="main"]::before, #titlepage [role="main"]::after { position: absolute; top: 0; bottom: 0; -webkit-box-shadow: rgba(32, 32, 32, 0.25) 0 0 0.25em; -moz-box-shadow: rgba(32, 32, 32, 0.25) 0 0 0.25em; box-shadow: rgba(32, 32, 32, 0.25) 0 0 0.25em; border: 1px solid rgba(32, 32, 32, 0.25); content: " "; left: -200%; right: -200%; z-index: 0; }
#titlepage [role="main"]::before { -webkit-transform: rotate(-1deg); -moz-transform: rotate(-1deg); -ms-transform: rotate(-1deg); -o-transform: rotate(-1deg); transform: rotate(-1deg); }
#titlepage [role="main"]::after { -webkit-transform: rotate(1deg); -moz-transform: rotate(1deg); -ms-transform: rotate(1deg); -o-transform: rotate(1deg); transform: rotate(1deg); }
#titlepage [role="main"]:hover::before { -webkit-transform: rotate(0.5deg); -moz-transform: rotate(0.5deg); -ms-transform: rotate(0.5deg); -o-transform: rotate(0.5deg); transform: rotate(0.5deg); }
#titlepage [role="main"]:hover::after { -webkit-transform: rotate(-0.5deg); -moz-transform: rotate(-0.5deg); -ms-transform: rotate(-0.5deg); -o-transform: rotate(-0.5deg); transform: rotate(-0.5deg); }
#titlepage h1, #titlepage h2 { position: relative; display: inline-block; vertical-align: middle; z-index: 1; }
#titlepage h1 { font-size: 1.25rem; line-height: 1.875rem; }
#titlepage h2 { line-height: 1.875rem; }
#titlepage [role="main"] { text-shadow: rgba(242, 242, 242, 0.5) 0 1px 0; color: #404040; }
#titlepage [role="main"]::before { background-color: rgba(255, 255, 255, 0.675); }
#titlepage [role="main"]::after { background-color: rgba(255, 255, 255, 0.675); }
@media (min-width: 46.5em) { #titlepage [role="main"] { max-width: 47rem; }
  #titlepage h1, #titlepage h2 { width: 48.93617%; }
  #titlepage h1 { margin-right: -2.12766%; }
  #titlepage h2 { margin-right: 2.12766%; } }

#titlepage [role="main"]::before, #titlepage [role="main"]::after, #titlepage h1, #titlepage h2, #once-upon-a-sunday-raining blockquote, #once-upon-a-sunday-raining blockquote span, #johnny-john-goes-sitting-on-a .words, #shadow-shadow-park-and-shadow p { -webkit-transition: all 300ms; -moz-transition: all 300ms; -o-transition: all 300ms; transition: all 300ms; }

#titlepage [role="main"], #once-upon-a-sunday-raining [role="main"], #johnny-john-goes-sitting-on-a [role="main"], #shadow-shadow-park-and-shadow [role="main"] { -webkit-transition: padding 300ms, margin 300ms, font-size 300ms, line-height 300ms, width 300ms, background 300ms; -moz-transition: padding 300ms, margin 300ms, font-size 300ms, line-height 300ms, width 300ms, background 300ms; -o-transition: padding 300ms, margin 300ms, font-size 300ms, line-height 300ms, width 300ms, background 300ms; transition: padding 300ms, margin 300ms, font-size 300ms, line-height 300ms, width 300ms, background 300ms; }

.enter-prev, .enter-next { -webkit-animation-name: fadeIn; -moz-animation-name: fadeIn; -o-animation-name: fadeIn; animation-name: fadeIn; }

.exit-prev, .exit-next { -webkit-animation-name: fadeOut; -moz-animation-name: fadeOut; -o-animation-name: fadeOut; animation-name: fadeOut; }

/* ---------------------------------------------------------------------------- general */
html { background: #fafaea; }

.enter-prev, .enter-next { -webkit-animation-duration: 2s; -moz-animation-duration: 2s; -o-animation-duration: 2s; animation-duration: 2s; -webkit-animation-fill-mode: backwards; -moz-animation-fill-mode: backwards; -o-animation-fill-mode: backwards; animation-fill-mode: backwards; }

.exit-prev, .exit-next { -webkit-animation-duration: 600ms; -moz-animation-duration: 600ms; -o-animation-duration: 600ms; animation-duration: 600ms; -webkit-animation-fill-mode: forwards; -moz-animation-fill-mode: forwards; -o-animation-fill-mode: forwards; animation-fill-mode: forwards; }

.enter-prev, .enter-next, .exit-prev, .exit-next { -webkit-animation-timing-function: ease; -moz-animation-timing-function: ease; -o-animation-timing-function: ease; animation-timing-function: ease; }

@-moz-keyframes rain { 0% { background-position: 0 -850px, 425px -850px; }
  100% { background-position: -850px 0, -1275px 850px; } }

@-webkit-keyframes rain { 0% { background-position: 0 -850px, 425px -850px; }
  100% { background-position: -850px 0, -1275px 850px; } }

@-o-keyframes rain { 0% { background-position: 0 -850px, 425px -850px; }
  100% { background-position: -850px 0, -1275px 850px; } }

@keyframes rain { 0% { background-position: 0 -850px, 425px -850px; }
  100% { background-position: -850px 0, -1275px 850px; } }

@-moz-keyframes pitpotIn { 0% { -moz-transform: translateY(150px) rotate(16deg); transform: translateY(150px) rotate(16deg); }
  100% { -moz-transform: translateY(0) rotate(6deg); transform: translateY(0) rotate(6deg); } }

@-webkit-keyframes pitpotIn { 0% { -webkit-transform: translateY(150px) rotate(16deg); transform: translateY(150px) rotate(16deg); }
  100% { -webkit-transform: translateY(0) rotate(6deg); transform: translateY(0) rotate(6deg); } }

@-o-keyframes pitpotIn { 0% { -o-transform: translateY(150px) rotate(16deg); transform: translateY(150px) rotate(16deg); }
  100% { -o-transform: translateY(0) rotate(6deg); transform: translateY(0) rotate(6deg); } }

@keyframes pitpotIn { 0% { transform: translateY(150px) rotate(16deg); }
  100% { transform: translateY(0) rotate(6deg); } }

/* ---------------------------------------------------------------------------- once-upon-a-sunday-raining */
#once-upon-a-sunday-raining { -webkit-animation: rain 60s linear infinite both; -moz-animation: rain 60s linear infinite both; -o-animation: rain 60s linear infinite both; animation: rain 60s linear infinite both; background: url('../../../images/dancing/in-which-jj/once-upon-a-sunday/rain.png?1347221204') repeat scroll 0 -850px, url('../../../images/dancing/in-which-jj/once-upon-a-sunday/rain.png?1347221204') repeat scroll 425px -850px, url('../../../images/noise.png?1347221205') repeat #53402c; position: relative; }
#once-upon-a-sunday-raining.enter-prev { -webkit-animation: fadeIn 2s ease backwards, rain 60s linear infinite both; -moz-animation: fadeIn 2s ease backwards, rain 60s linear infinite both; -o-animation: fadeIn 2s ease backwards, rain 60s linear infinite both; animation: fadeIn 2s ease backwards, rain 60s linear infinite both; }
#once-upon-a-sunday-raining.enter-next { -webkit-animation: fadeIn 2s ease backwards, rain 60s linear infinite both; -moz-animation: fadeIn 2s ease backwards, rain 60s linear infinite both; -o-animation: fadeIn 2s ease backwards, rain 60s linear infinite both; animation: fadeIn 2s ease backwards, rain 60s linear infinite both; }
#once-upon-a-sunday-raining.exit-prev { -webkit-animation: fadeOut 600ms ease forwards, rain 60s linear infinite both; -moz-animation: fadeOut 600ms ease forwards, rain 60s linear infinite both; -o-animation: fadeOut 600ms ease forwards, rain 60s linear infinite both; animation: fadeOut 600ms ease forwards, rain 60s linear infinite both; }
#once-upon-a-sunday-raining.exit-next { -webkit-animation: fadeOut 600ms ease forwards, rain 60s linear infinite both; -moz-animation: fadeOut 600ms ease forwards, rain 60s linear infinite both; -o-animation: fadeOut 600ms ease forwards, rain 60s linear infinite both; animation: fadeOut 600ms ease forwards, rain 60s linear infinite both; }
#once-upon-a-sunday-raining [role="main"] { max-width: 23rem; padding-left: 1rem; padding-right: 1rem; margin-left: auto; margin-right: auto; padding-top: 3.75rem; padding-bottom: 3.75rem; position: relative; }
#once-upon-a-sunday-raining [role="main"]:after { content: ""; display: table; clear: both; }
@media (min-width: 46.5em) { #once-upon-a-sunday-raining [role="main"] { max-width: 47rem; } }
#once-upon-a-sunday-raining blockquote { font-style: italic; }
#once-upon-a-sunday-raining blockquote p { margin-bottom: 1.25rem; }
#once-upon-a-sunday-raining blockquote span { display: inline-block; padding: 0.15625rem 0.3125rem 0.15625rem; margin-bottom: -0.15625rem; background: rgba(255, 255, 191, 0.75); }
@media (min-width: 46.5em) { #once-upon-a-sunday-raining blockquote { padding-left: 51.06383%; } }
#once-upon-a-sunday-raining .pitpot { -webkit-transform: rotate(6deg); -moz-transform: rotate(6deg); -ms-transform: rotate(6deg); -o-transform: rotate(6deg); transform: rotate(6deg); margin: 0 -200%; background: rgba(166, 128, 89, 0.75); color: #202020; text-align: center; text-transform: uppercase; }
#once-upon-a-sunday-raining .pitpot::before { content: "pit pitpit pit pot pitpot pit pit potpit pit potpitpitpot pit pitpit pit pot pitpot pit pit potpit pit potpitpitpot pit pitpit pit pot pitpot pit pit potpit pit potpitpitpot pit pitpit pit pot pitpot pit pit potpit pit potpitpitpot "; }
#once-upon-a-sunday-raining .raindrop { display: none; }
@media (min-width: 46.5em) { #once-upon-a-sunday-raining .raindrop { background: url('../../../images/dancing/in-which-jj/once-upon-a-sunday/raindrop.png?1347221205') no-repeat scroll right; -webkit-background-size: contain; -moz-background-size: contain; -o-background-size: contain; background-size: contain; display: block; position: absolute; top: 1.25rem; bottom: -1.25rem; left: 0; width: 40.42553%; } }
#once-upon-a-sunday-raining.enter-prev blockquote p, #once-upon-a-sunday-raining.enter-next blockquote p { -webkit-animation: fadeIn 4s 3s backwards; -moz-animation: fadeIn 4s 3s backwards; -o-animation: fadeIn 4s 3s backwards; animation: fadeIn 4s 3s backwards; }
#once-upon-a-sunday-raining.enter-prev .pitpot, #once-upon-a-sunday-raining.enter-next .pitpot { -webkit-animation: pitpotIn 2s 2s backwards, fadeIn 2s 2s backwards; -moz-animation: pitpotIn 2s 2s backwards, fadeIn 2s 2s backwards; -o-animation: pitpotIn 2s 2s backwards, fadeIn 2s 2s backwards; animation: pitpotIn 2s 2s backwards, fadeIn 2s 2s backwards; }
#once-upon-a-sunday-raining.enter-prev .raindrop, #once-upon-a-sunday-raining.enter-next .raindrop { -webkit-animation: fadeInDownBig 6s 4s backwards; -moz-animation: fadeInDownBig 6s 4s backwards; -o-animation: fadeInDownBig 6s 4s backwards; animation: fadeInDownBig 6s 4s backwards; }
#once-upon-a-sunday-raining.exit-prev blockquote p, #once-upon-a-sunday-raining.exit-next blockquote p { -webkit-animation: fadeOut 400ms forwards; -moz-animation: fadeOut 400ms forwards; -o-animation: fadeOut 400ms forwards; animation: fadeOut 400ms forwards; }
#once-upon-a-sunday-raining.exit-prev .pitpot, #once-upon-a-sunday-raining.exit-next .pitpot { -webkit-animation: fadeOut 600ms forwards; -moz-animation: fadeOut 600ms forwards; -o-animation: fadeOut 600ms forwards; animation: fadeOut 600ms forwards; }
#once-upon-a-sunday-raining.exit-prev .raindrop, #once-upon-a-sunday-raining.exit-next .raindrop { -webkit-animation: fadeOutDownBig 1s forwards; -moz-animation: fadeOutDownBig 1s forwards; -o-animation: fadeOutDownBig 1s forwards; animation: fadeOutDownBig 1s forwards; }

#johnny-john-goes-sitting-on-a { background: url('../../../images/dancing/in-which-jj/johnny-john-goes-sitting-on-a/burst.svg?1360540162') no-repeat bottom, -webkit-linear-gradient(left, #f0f0c1, rgba(240, 240, 193, 0)); background: url('../../../images/dancing/in-which-jj/johnny-john-goes-sitting-on-a/burst.svg?1360540162') no-repeat bottom, -moz-linear-gradient(left, #f0f0c1, rgba(240, 240, 193, 0)); background: url('../../../images/dancing/in-which-jj/johnny-john-goes-sitting-on-a/burst.svg?1360540162') no-repeat bottom, -o-linear-gradient(left, #f0f0c1, rgba(240, 240, 193, 0)); background: url('../../../images/dancing/in-which-jj/johnny-john-goes-sitting-on-a/burst.svg?1360540162') no-repeat bottom, linear-gradient(to right, #f0f0c1, rgba(240, 240, 193, 0)); -webkit-background-size: cover, auto; -moz-background-size: cover, auto; -o-background-size: cover, auto; background-size: cover, auto; position: relative; }
#johnny-john-goes-sitting-on-a [role="main"] { max-width: 43rem; padding-left: 1rem; padding-right: 1rem; margin-left: auto; margin-right: auto; padding-top: 10rem; padding-bottom: 1.25rem; max-width: 100%; }
#johnny-john-goes-sitting-on-a [role="main"]:after { content: ""; display: table; clear: both; }
#johnny-john-goes-sitting-on-a .words { position: relative; float: right; padding-left: 5rem; text-align: right; z-index: 10; }
#johnny-john-goes-sitting-on-a span { display: block; }
#johnny-john-goes-sitting-on-a .swing { position: absolute; bottom: 5.625rem; left: 0; height: 30rem; width: 6.875rem; background: url('../../../images/dancing/in-which-jj/johnny-john-goes-sitting-on-a/swing.svg?1360532308') no-repeat scroll; z-index: 10; }
#johnny-john-goes-sitting-on-a .grass { position: absolute; left: 0; right: 0; bottom: 0; height: 6.25rem; background: url('../../../images/dancing/in-which-jj/johnny-john-goes-sitting-on-a/grass.svg?1362113036') no-repeat top right; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; }
#johnny-john-goes-sitting-on-a .rain { position: absolute; top: -27.90698%; bottom: 0; left: -27.90698%; right: 55.81395%; -webkit-transition: right 300ms; -moz-transition: right 300ms; -o-transition: right 300ms; transition: right 300ms; background: url('../../../images/dancing/in-which-jj/johnny-john-goes-sitting-on-a/rainish.svg?1360535294') no-repeat right; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; }
#johnny-john-goes-sitting-on-a .leaves { position: absolute; left: 0; right: 0; background: url('../../../images/dancing/in-which-jj/johnny-john-goes-sitting-on-a/leaves.svg?1360531609') no-repeat bottom; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; top: 0; height: 30%; }
#johnny-john-goes-sitting-on-a .trunk { position: absolute; top: 0; bottom: 0; -webkit-transition: left 300ms, right 300ms; -moz-transition: left 300ms, right 300ms; -o-transition: left 300ms, right 300ms; transition: left 300ms, right 300ms; background: url('../../../images/dancing/in-which-jj/johnny-john-goes-sitting-on-a/trunk.svg?1360537883') no-repeat right; -webkit-background-size: auto 100%; -moz-background-size: auto 100%; -o-background-size: auto 100%; background-size: auto 100%; left: 0; right: 46.51163%; }
@media (min-width: 40em) { #johnny-john-goes-sitting-on-a .words { padding-right: 9.30233%; }
  #johnny-john-goes-sitting-on-a .trunk { right: 37.2093%; }
  #johnny-john-goes-sitting-on-a .rain { right: 37.2093%; } }

@-moz-keyframes drops { 0%, 24% { top: -20%; }
  75%, 100% { top: 100%; } }

@-webkit-keyframes drops { 0%, 24% { top: -20%; }
  75%, 100% { top: 100%; } }

@-o-keyframes drops { 0%, 24% { top: -20%; }
  75%, 100% { top: 100%; } }

@keyframes drops { 0%, 24% { top: -20%; }
  75%, 100% { top: 100%; } }

@-moz-keyframes shadow { 0% { top: 80%; }
  100% { top: -20%; } }

@-webkit-keyframes shadow { 0% { top: 80%; }
  100% { top: -20%; } }

@-o-keyframes shadow { 0% { top: 80%; }
  100% { top: -20%; } }

@keyframes shadow { 0% { top: 80%; }
  100% { top: -20%; } }

/* ---------------------------------------------------------------------------- shadow-shadow-park-and-shadow */
#shadow-shadow-park-and-shadow { position: relative; overflow: hidden; }
#shadow-shadow-park-and-shadow [role="main"] { padding-top: 2.5rem; padding-bottom: 2.5rem; }
#shadow-shadow-park-and-shadow .shadow { position: absolute; left: 0; right: 0; -webkit-animation: shadow 30s linear infinite alternate both; -moz-animation: shadow 30s linear infinite alternate both; -o-animation: shadow 30s linear infinite alternate both; animation: shadow 30s linear infinite alternate both; background: url('../../../images/noise.png?1347221205') repeat, -webkit-linear-gradient(280deg, rgba(166, 128, 89, 0), rgba(166, 128, 89, 0) 60%, rgba(166, 128, 89, 0.25), rgba(166, 128, 89, 0.75)) bottom right no-repeat; background: url('../../../images/noise.png?1347221205') repeat, -moz-linear-gradient(280deg, rgba(166, 128, 89, 0), rgba(166, 128, 89, 0) 60%, rgba(166, 128, 89, 0.25), rgba(166, 128, 89, 0.75)) bottom right no-repeat; background: url('../../../images/noise.png?1347221205') repeat, -o-linear-gradient(280deg, rgba(166, 128, 89, 0), rgba(166, 128, 89, 0) 60%, rgba(166, 128, 89, 0.25), rgba(166, 128, 89, 0.75)) bottom right no-repeat; background: url('../../../images/noise.png?1347221205') repeat, linear-gradient(170deg, rgba(166, 128, 89, 0), rgba(166, 128, 89, 0) 60%, rgba(166, 128, 89, 0.25), rgba(166, 128, 89, 0.75)) bottom right no-repeat; bottom: 0; }
#shadow-shadow-park-and-shadow .puddle { max-width: 23rem; padding-left: 1rem; padding-right: 1rem; margin-left: auto; margin-right: auto; position: relative; padding-bottom: 5rem; background: url('../../../images/dancing/in-which-jj/shadow-shadow-park-and-shadow/puddle-far.png?1347255590') no-repeat bottom; }
#shadow-shadow-park-and-shadow .puddle:after { content: ""; display: table; clear: both; }
#shadow-shadow-park-and-shadow .puddle::before { position: absolute; left: 0; right: 0; bottom: 0; content: " "; height: 5rem; background: url('../../../images/dancing/in-which-jj/shadow-shadow-park-and-shadow/puddle-close.png?1347255570') no-repeat bottom; z-index: 500; }
#shadow-shadow-park-and-shadow p { padding-left: 17.3913%; padding-right: 17.3913%; }
@media (min-width: 22.5em) { #shadow-shadow-park-and-shadow p { padding-left: 34.28571%; padding-right: 34.28571%; } }

.-s-raindrops-sprite, .drop:nth-child(1), .drop:nth-child(2), .drop:nth-child(3), .drop:nth-child(4), .drop:nth-child(5), .drop:nth-child(6), .drop:nth-child(7) { background-image: url('../../../images/dancing/in-which-jj/shadow-shadow-park-and-shadow/-s-raindrops-sb157f1a851.png'); background-repeat: no-repeat; }

.drop { -webkit-animation: drops 15s linear infinite both; -moz-animation: drops 15s linear infinite both; -o-animation: drops 15s linear infinite both; animation: drops 15s linear infinite both; position: absolute; top: 0; }
.drop::before { font-size: 0.79167rem; line-height: 1.25rem; content: "pit"; padding: 0 0.3125rem; background: rgba(255, 0, 0, 0.25); }
.drop:last-child::before { content: "pot"; }
.drop:nth-child(1) { -webkit-animation-duration: 54s; -moz-animation-duration: 54s; -o-animation-duration: 54s; animation-duration: 54s; background-position: 100% -450px; right: 1.66667%; top: 10.41667%; padding-bottom: 2.5rem; padding-right: 1.25rem; }
.drop:nth-child(2) { -webkit-animation-duration: 48s; -moz-animation-duration: 48s; -o-animation-duration: 48s; animation-duration: 48s; background-position: 100% -270px; left: 6.66667%; top: 41.66667%; padding-top: 2.5rem; padding-right: 2.5rem; }
.drop:nth-child(3) { -webkit-animation-duration: 42s; -moz-animation-duration: 42s; -o-animation-duration: 42s; animation-duration: 42s; background-position: 100% -540px; right: 15%; top: 93.75%; padding-bottom: 2.5rem; padding-right: 1.25rem; }
.drop:nth-child(4) { -webkit-animation-duration: 36s; -moz-animation-duration: 36s; -o-animation-duration: 36s; animation-duration: 36s; background-position: 100% -180px; left: 26.66667%; top: 66.66667%; padding-top: 2.5rem; padding-right: 1.875rem; }
.drop:nth-child(5) { -webkit-animation-duration: 30s; -moz-animation-duration: 30s; -o-animation-duration: 30s; animation-duration: 30s; background-position: 100% -90px; right: 41.66667%; top: 60.41667%; padding-bottom: 2.5rem; padding-right: 1.875rem; }
.drop:nth-child(6) { -webkit-animation-duration: 24s; -moz-animation-duration: 24s; -o-animation-duration: 24s; animation-duration: 24s; background-position: 100% 0; left: 60%; top: 75%; padding-top: 2.5rem; padding-right: 1.875rem; }
.drop:nth-child(7) { -webkit-animation-duration: 18s; -moz-animation-duration: 18s; -o-animation-duration: 18s; animation-duration: 18s; background-position: 100% -360px; right: 81.66667%; top: 10.41667%; padding-bottom: 2.5rem; padding-right: 1.25rem; }

body.his-shirt-is-wet-and { -webkit-transition-duration: 3s; -moz-transition-duration: 3s; -o-transition-duration: 3s; transition-duration: 3s; -webkit-transition-delay: 600ms; -moz-transition-delay: 600ms; -o-transition-delay: 600ms; transition-delay: 600ms; background: #eaeafa url('../../../images/noise.png?1347221205'); }

@-moz-keyframes bigdrop { 0% { bottom: 100%; }
  100% { bottom: -20rem; } }

@-webkit-keyframes bigdrop { 0% { bottom: 100%; }
  100% { bottom: -20rem; } }

@-o-keyframes bigdrop { 0% { bottom: 100%; }
  100% { bottom: -20rem; } }

@keyframes bigdrop { 0% { bottom: 100%; }
  100% { bottom: -20rem; } }

@-moz-keyframes updrop { 0% { bottom: -20rem; }
  100% { bottom: 100%; } }

@-webkit-keyframes updrop { 0% { bottom: -20rem; }
  100% { bottom: 100%; } }

@-o-keyframes updrop { 0% { bottom: -20rem; }
  100% { bottom: 100%; } }

@keyframes updrop { 0% { bottom: -20rem; }
  100% { bottom: 100%; } }

#his-shirt-is-wet-and { position: relative; display: block; height: 100%; overflow: hidden; }
#his-shirt-is-wet-and [class~="pagewrap"], #his-shirt-is-wet-and [role="main"] { height: 100%; }
#his-shirt-is-wet-and [role="main"] { text-align: center; }
#his-shirt-is-wet-and .scribble { background: url('../../../images/frontmatter/scribble.png?1347221205') no-repeat center 80%; height: 60%; background-color: #fafaea; }
#his-shirt-is-wet-and p { padding-top: 1.25rem; padding-bottom: 1.25rem; -webkit-transition: opacity 1s; -moz-transition: opacity 1s; -o-transition: opacity 1s; transition: opacity 1s; position: relative; float: left; width: 100%; margin-right: -100%; opacity: 0; z-index: 10; }
#his-shirt-is-wet-and .raindrop, #his-shirt-is-wet-and .rainup { -webkit-transition: opacity 3s; -webkit-transition-delay: 1.5s; -moz-transition: opacity 3s 1.5s; -o-transition: opacity 3s 1.5s; transition: opacity 3s 1.5s; position: absolute; width: 15rem; height: 20rem; }
#his-shirt-is-wet-and .raindrop { -webkit-animation: bigdrop 90s linear infinite both; -moz-animation: bigdrop 90s linear infinite both; -o-animation: bigdrop 90s linear infinite both; animation: bigdrop 90s linear infinite both; right: 60%; background: rgba(255, 0, 0, 0.5); bottom: 100%; }
#his-shirt-is-wet-and .rainup { -webkit-animation: updrop 80s 8s linear infinite both; -moz-animation: updrop 80s 8s linear infinite both; -o-animation: updrop 80s 8s linear infinite both; animation: updrop 80s 8s linear infinite both; left: 60%; background: rgba(255, 255, 0, 0.5); bottom: -20rem; }
#his-shirt-is-wet-and[data-page-state="1"] p:first-of-type { -webkit-transition-delay: 1s; -moz-transition-delay: 1s; -o-transition-delay: 1s; transition-delay: 1s; opacity: 1; }
#his-shirt-is-wet-and[data-page-state="1"] .raindrop, #his-shirt-is-wet-and[data-page-state="1"] .rainup { opacity: 0; }
#his-shirt-is-wet-and[data-page-state="2"] p:last-of-type { -webkit-transition-delay: 1s; -moz-transition-delay: 1s; -o-transition-delay: 1s; transition-delay: 1s; opacity: 1; }
#his-shirt-is-wet-and[data-page-state="2"] .raindrop, #his-shirt-is-wet-and[data-page-state="2"] .rainup { opacity: 1; }

body.the-park-bench-sings-a { background: #eaeafa url('../../../images/noise.png?1347221205'); }

#the-park-bench-sings-a [role="main"] { padding-top: 2.5rem; padding-bottom: 2.5rem; overflow: hidden; }
#the-park-bench-sings-a p { -webkit-transition: all 1s; -moz-transition: all 1s; -o-transition: all 1s; transition: all 1s; }
#the-park-bench-sings-a p:first-child { width: 100%; padding: 0 0.625rem; }
#the-park-bench-sings-a p:last-child { overflow: hidden; float: left; width: 40%; margin-right: -100%; padding-left: 0.625rem; }
#the-park-bench-sings-a p:last-child span { display: block; }
#the-park-bench-sings-a .musicstaff { -webkit-transition: all 1s; -moz-transition: all 1s; -o-transition: all 1s; transition: all 1s; float: left; width: 158%; height: 7.5rem; background: rgba(185, 185, 185, 0.25); }
#the-park-bench-sings-a[data-page-state="2"] .musicstaff, #the-park-bench-sings-a[data-page-state="2"] p:first-child { margin-left: -100%; }

@-moz-keyframes sunset { 0% { background-position: 0 56.25rem; }
  100% { background-position: 0 0; } }

@-webkit-keyframes sunset { 0% { background-position: 0 56.25rem; }
  100% { background-position: 0 0; } }

@-o-keyframes sunset { 0% { background-position: 0 56.25rem; }
  100% { background-position: 0 0; } }

@keyframes sunset { 0% { background-position: 0 56.25rem; }
  100% { background-position: 0 0; } }

body.the-park { -webkit-animation: sunset 8s ease 1 both; -moz-animation: sunset 8s ease 1 both; -o-animation: sunset 8s ease 1 both; animation: sunset 8s ease 1 both; background: -webkit-linear-gradient(top, rgba(191, 96, 0, 0), #bf00bf) #cdcde4 no-repeat scroll; background: -moz-linear-gradient(top, rgba(191, 96, 0, 0), #bf00bf) #cdcde4 no-repeat scroll; background: -o-linear-gradient(top, rgba(191, 96, 0, 0), #bf00bf) #cdcde4 no-repeat scroll; background: linear-gradient(to bottom, rgba(191, 96, 0, 0), #bf00bf) #cdcde4 no-repeat scroll; }

#the-park { display: block; height: 100%; }
#the-park .pagewrap { -webkit-animation: rain 60s linear infinite both; -moz-animation: rain 60s linear infinite both; -o-animation: rain 60s linear infinite both; animation: rain 60s linear infinite both; background: url('../../../images/dancing/in-which-jj/once-upon-a-sunday/rain.png?1347221204') repeat scroll 0 -850px, url('../../../images/dancing/in-which-jj/once-upon-a-sunday/rain.png?1347221204') repeat scroll 425px -850px, url('../../../images/noise.png?1347221205') repeat; position: relative; display: block; height: 100%; text-align: center; }
#the-park [role="main"] { text-indent: -119988px; overflow: hidden; text-align: left; position: absolute; left: 0; right: 0; bottom: 0; height: 30%; max-height: 15rem; background: #334c33; }

body.monday-clear-skies-unearth-the { background-color: #eeeef6; }

#monday-clear-skies-unearth-the { display: block; height: 100%; }
#monday-clear-skies-unearth-the .pagewrap, #monday-clear-skies-unearth-the [role="main"] { height: 100%; display: block; }
#monday-clear-skies-unearth-the .monday, #monday-clear-skies-unearth-the .skies, #monday-clear-skies-unearth-the .bugger { padding-top: 2.5rem; padding-bottom: 2.5rem; width: 50%; text-align: center; }
#monday-clear-skies-unearth-the .monday { -webkit-animation: fadeInDownBig 500ms 300ms 1 linear backwards; -moz-animation: fadeInDownBig 500ms 300ms 1 linear backwards; -o-animation: fadeInDownBig 500ms 300ms 1 linear backwards; animation: fadeInDownBig 500ms 300ms 1 linear backwards; float: left; height: 100%; background: #f6f6ee; }
#monday-clear-skies-unearth-the .skies, #monday-clear-skies-unearth-the .bugger { -webkit-transition: all 200ms linear; -moz-transition: all 200ms linear; -o-transition: all 200ms linear; transition: all 200ms linear; overflow: hidden; height: 50%; }
#monday-clear-skies-unearth-the .skies { background: #cdcde4; }
#monday-clear-skies-unearth-the .bugger { background: #f6f2ee; }
#monday-clear-skies-unearth-the[data-page-state="1"] .skies, #monday-clear-skies-unearth-the[data-page-state="1"] .bugger { -webkit-transform: translateX(100%); -moz-transform: translateX(100%); -ms-transform: translateX(100%); -o-transform: translateX(100%); transform: translateX(100%); }
#monday-clear-skies-unearth-the[data-page-state="2"] .bugger { -webkit-transform: translateX(100%); -moz-transform: translateX(100%); -ms-transform: translateX(100%); -o-transform: translateX(100%); transform: translateX(100%); }

body.christmas-is-just-around-the { background-color: #eeeef6; }

#christmas-is-just-around-the .lights { -webkit-transition: margin 300ms; -moz-transition: margin 300ms; -o-transition: margin 300ms; transition: margin 300ms; position: absolute; left: 0; right: -100%; background: -webkit-linear-gradient(right, rgba(255, 0, 0, 0.25), rgba(255, 0, 0, 0.5)); background: -moz-linear-gradient(right, rgba(255, 0, 0, 0.25), rgba(255, 0, 0, 0.5)); background: -o-linear-gradient(right, rgba(255, 0, 0, 0.25), rgba(255, 0, 0, 0.5)); background: linear-gradient(to left, rgba(255, 0, 0, 0.25), rgba(255, 0, 0, 0.5)); top: 0; height: 6.25rem; }
#christmas-is-just-around-the [role="main"] { overflow: hidden; }
#christmas-is-just-around-the .p1, #christmas-is-just-around-the .p2 { -webkit-transition: margin 300ms; -moz-transition: margin 300ms; -o-transition: margin 300ms; transition: margin 300ms; float: left; width: 100%; }
[class~="no-flexbox"] #christmas-is-just-around-the .p1, [class~="no-flexbox"] #christmas-is-just-around-the .p2 { margin-top: 8.75rem; }
#christmas-is-just-around-the .pinner { max-width: 19rem; padding-left: 1rem; padding-right: 1rem; margin-left: auto; margin-right: auto; }
#christmas-is-just-around-the .pinner:after { content: ""; display: table; clear: both; }
#christmas-is-just-around-the p { margin-bottom: 1.25rem; }
#christmas-is-just-around-the .p2 .pinner { padding-top: 1.25rem; padding-bottom: 1.25rem; background: rgba(124, 96, 67, 0.5); }
#christmas-is-just-around-the .tv { margin-right: 21.05263%; padding: 0.625rem; background: white; }
#christmas-is-just-around-the[data-page-state="1"] .p2 { margin-right: -100%; }
#christmas-is-just-around-the[data-page-state="2"] .p1, #christmas-is-just-around-the[data-page-state="2"] .lights { margin-left: -100%; }

body.with-an-umbrella-this-time { background-color: #eeeef6; }

#with-an-umbrella-this-time { padding-top: 2.5rem; padding-bottom: 2.5rem; }
#with-an-umbrella-this-time [role="main"] { max-width: 15rem; padding-left: 1rem; padding-right: 1rem; margin-left: auto; margin-right: auto; position: relative; text-align: center; overflow: hidden; }
#with-an-umbrella-this-time [role="main"]:after { content: ""; display: table; clear: both; }
#with-an-umbrella-this-time .umbrella { position: relative; height: 0; padding-top: 133.33333%; width: 100%; background: rgba(206, 163, 206, 0.5); }
#with-an-umbrella-this-time .umbrella > * { display: block; position: absolute; width: 100%; height: 100%; top: 0; margin: 0; padding: 0; }

body.he-doesnt-buy-anything-in { background-color: #eeeef6; }

#he-doesnt-buy-anything-in { padding-top: 2.5rem; padding-bottom: 2.5rem; }
#he-doesnt-buy-anything-in [role="main"] { max-width: 27rem; padding-left: 1rem; padding-right: 1rem; margin-left: auto; margin-right: auto; }
#he-doesnt-buy-anything-in [role="main"]:after { content: ""; display: table; clear: both; }
#he-doesnt-buy-anything-in .icecream { width: 55.55556%; float: left; margin-right: 3.7037%; position: relative; height: 0; padding-top: 74.07407%; width: 55.55556%; background: rgba(206, 191, 163, 0.5); }
#he-doesnt-buy-anything-in .icecream > * { display: block; position: absolute; width: 100%; height: 100%; top: 0; margin: 0; padding: 0; }
#he-doesnt-buy-anything-in p { overflow: hidden; }

body.it-doesnt-rain-every-day { background-color: #eeeef6; }

#it-doesnt-rain-every-day { padding-top: 2.5rem; padding-bottom: 2.5rem; }
#it-doesnt-rain-every-day [role="main"] { max-width: 27rem; padding-left: 1rem; padding-right: 1rem; margin-left: auto; margin-right: auto; }
#it-doesnt-rain-every-day [role="main"]:after { content: ""; display: table; clear: both; }
#it-doesnt-rain-every-day .cloud { margin-bottom: 1.25rem; position: relative; height: 0; padding-top: 37.5%; width: 100%; background: rgba(255, 255, 255, 0.5); }
#it-doesnt-rain-every-day .cloud > * { display: block; position: absolute; width: 100%; height: 100%; top: 0; margin: 0; padding: 0; }

/* ---------------------------------------------------------------------------- titlepage */