#about
  background: $pink-hint

  .pagewrap
    +media-container
  .content
    +media-full
  .author
    +padding-leader(6.5)
    background: image-url('frontmatter/home/eric.png') no-repeat scroll top

  +small
    .author
      +pad(1,1,10)
      +padding-leader(6)
      +trailing-border(1px,1)
      +trailer
      background-image: image-url('frontmatter/home/faces.png')
      border-color: rgba($off-pink-light,$xxsmall)
      p
        margin: 0
    .oddbird, .teacupgorilla
      +pad(1,1,10)
      +adjust-font-size-to($smallpx)

  +medium
    .author
      +pad(2,1,12)
      +padding-leader(0)
      margin: 0 columns(1,12) + gutter(12) rhythm(1)
      background:
        image: image-url('frontmatter/home/eric.png')
        position: left top
    .oddbird, .teacupgorilla
      +columns(6,12)
      +pad(0,0,12)
    .teacupgorilla
      +omega(12)

  a, em
    @extend .allcaps
    font-style: normal