// ----------------------------------------------------------------------------
// settings

$total-columns  : 8;

$pg             : '#{$ch}about/';
$faces          : '#{$pg}faces.png';

// ----------------------------------------------------------------------------
// about

#about {

  [role="main"] {
    @include container;
    @include rhythm-padding(10,2);
    background: image-url($faces) no-repeat scroll center rhythm(2);
  }

  // --------------------------------------------------------------------------
  // elements

  .vcard {
    @extend %type;
    @include adjust-font-size-to($smallpx,1);
    :first-line { font-weight: bold; }

    @include breakpoint(40em) {
      &:nth-child(even) { @include span-columns(4); }
      &:nth-child(2n+3) { @include span-columns(4 omega); }
    }
  }
  .fn {
    @include adjust-font-size-to($normpx,1);
    text-transform: uppercase;
  }

}