// ----------------------------------------------------------------------------
// settings

$pg       : '#{$ch}about/';
$faces    : '#{$pg}faces.png';
$eric     : '#{$pg}eric.png';

/* ----------------------------------------------------------------------------
   about */

#about {

  // --------------------------------------------------------------------------
  // elements

  .vcard {
    @extend %type;
    @include adjust-font-size-to($smallpx,1);
    :first-line { font-weight: bold; }
  }
  .fn {
    @include adjust-font-size-to($normpx,1);
    text-transform: uppercase;
  }
  .eric {
    @include padding-leader(7);
    background: image-url($faces) no-repeat scroll top;
  }

  // --------------------------------------------------------------------------
  // breakpoints

  // @include at-breakpoint($template-break) {
  //   .eric {
  //     @include pad(3,1);
  //     @include padding-leader(2);
  //     @include padding-trailer(2);
  //     background: image-url($eric) no-repeat scroll top left;
  //   }
  //   .oddbird, .teacup { @include span-columns(5); }
  //   .teacup { @include omega; }
  // }
}