// contents ------------------------------------------------------------------

#contents
  +background-image(linear-gradient(top,$off-green-hint, $off-green-hint 49%, $red-hint 49%, $red-hint))
  +text-shadow($white 0 0 $xxsmallpx)
  overflow: hidden
  background-color: $off-green-hint

  h4
    @extend .allcaps
    +trailer(.5)

  ol
    +no-style-list
    +adjust-font-size-to($smallpx)
    +trailer(1,$smallpx)

  .pagewrap
    +media-container

  .content
    +media-full
    counter-reset: contents

  .contents
    +box-sizing('border-box')
    +hpadding(rhythm(1))
    &.everafter
      position: relative
      h4, ol
        position: relative
        z-index: 1

    li
      position: relative
      counter-increment: contents
      &::before
        +opacity(.5)
        position: absolute
        right: 100% + gutter()
        content: counter(contents,decimal) "."

  +small
    +background-image(linear-gradient(left,$off-green-hint, $off-green-hint 49%, $red-hint 49%, $red-hint))

    .pagewrap
      background-position: 45% rhythm(-2)

    .contents
      +columns(5,10)
      &.everafter
        +omega(10)

  +medium
    .contents
      +columns(6,12)
      &.everafter
        +omega(12)
