// ----------------------------------------------------------------------------
// settings

$total-columns: $toc-cols*2;

$bg           : color($yellow $hint);
$bg-angle     : 260deg;
$bg-details   : color($yellow $hint), color($yellow $hint), color($orange $lightest);
$bg-old       : linear-gradient($bg-angle, $bg-details);
$bg-new       : fix-linear($bg-angle, $bg-details);

/* ----------------------------------------------------------------------------
   contents */

#contents {
  @extend %toc-counter;
  @include back($bg);
  @include background($scribble-layer, $noise-layer, $bg-old, $bg);
  background: $scribble-layer, $noise-layer, $bg-new, $bg;

  [role="main"] {
    @extend %transition-main;
    @include container;
    @include padding-leader(2);
    @include pagepad(20 3 0);
  }

  // --------------------------------------------------------------------------
  // elements

  a {
    #{$link} { color: color($orange $darker); }
    #{$focus} { color: color($orange); }
  }

  li { &:before { color: color($off $yellow $dark); } }
}