// contents ------------------------------------------------------------------

#contents
  +text-shadow($white 0 0 $xxsmallpx)
  +background(linear-gradient(top, rgba($green-hint,$small), rgba($green-hint,$small) 50%, rgba($red-hint,$small) 50%))

  h4
    @extend .allcaps
    +trailer(.5)

  ol
    +no-style-list
    +adjust-font-size-to($smallpx)
    +trailer(1,$smallpx)

  .pagewrap
    +media-container

  .content
    +media-full
    counter-reset: contents

  .contents
    +box-sizing('border-box')
    +hpadding(rhythm(1))

    li
      position: relative
      counter-increment: contents
      &::before
        +opacity(.5)
        position: absolute
        right: 100% + gutter()
        content: counter(contents,decimal) "."

  +small
    +background(linear-gradient(left, rgba($green-hint,$small), rgba($green-hint,$small) 48%, rgba($red-hint,$small) 48%))

    .pagewrap
      background-position: 45% rhythm(-2)

    .contents
      +columns(5,10)
      &:last-child
        +omega(10)

  +medium
    .contents
      +columns(6,12)
      &:last-child
        +omega(12)
