// ----------------------------------------------------------------------------
// settings

$total-columns: $toc-cols*2;

$bg           : color($yellow $hint);
$bg-angle     : 260deg;
$bg-details   : color($yellow $hint), color($yellow $hint), color($orange $lightest);
$bg-old       : linear-gradient($bg-angle, $bg-details);
$bg-new       : convert-gradient($bg-angle, $bg-details);

// ----------------------------------------------------------------------------
// animation

@include keyframes(shadeIn) {
  0% { max-height: 0; }
  100% { max-height: rhythm(50); }
}

@include keyframes(shadeOut) {
  0% { max-height: rhythm(50); }
  100% { max-height: 0; }
}

// ----------------------------------------------------------------------------
// contents

#contents {
  @extend %toc-counter;
  @include back($bg);
  @include background($scribble-layer, $noise-layer, $bg-old, $bg);
  background: $scribble-layer, $noise-layer, $bg-new, $bg;

  [role="main"] {
    @extend %transition-main;
    @include container;
    @include padding-leader(2);
    @include pagepad(20 3 0);
  }

  // --------------------------------------------------------------------------
  // elements

  ol {
    max-height: rhythm(50);
    overflow: hidden;
  }

  a {
    #{$link} { color: color($orange $darker); }
    #{$focus} { color: color($orange); }
  }

  li { &:before { color: color($off $yellow $dark); } }

  // --------------------------------------------------------------------------
  // pageturn

  @include enter {
    @include animation(fadeIn 300ms 1 ease-out backwards);
    ol { @include animation(shadeIn 2s .5s 1 ease-out backwards); }
    .book { @include animation(fadeIn 2s 1 ease backwards); }
    .toc-everafter .book {
      @include animation-delay(.5s);
      + ol { @include animation-delay(1.5s); }
    }
  }

  @include exit {
    @include animation(fadeOut 300ms 300ms forwards);
    ol { @include animation(shadeOut 600ms ease-out forwards); }
  }
}