// ----------------------------------------------------------------------------
// settings

$total-columns  : 8;

$bg             : color($off $red $dark);
$highlight      : color($off $red $light);
$color          : color($off $red $hint);
$shadow-color   : color($red $darker);
$shadow         : $shadow-color 1px 1px 0;

$bg-angle       : to bottom;
$bg-details     : rgba($highlight,.375), rgba($highlight,0);
$bg-grad        : linear-gradient($bg-angle, $bg-details);

$scribble-pos   : rhythm(-3.5) rhythm(-3.5);
$scribble-layer : image-url($scribble) no-repeat $scribble-pos;

// ----------------------------------------------------------------------------
// copyright

#copyright {
  @extend %center-content;
  @include back($bg);
  @include background($scribble-layer, $noise-layer, $bg-grad, $bg);
  color: $color;
  border: 2px solid color(darkest);
  overflow: hidden;

  [role="main"] {
    @include container;
    @include rhythm-padding(2,0);
    @include text-shadow($shadow);
    @include animation(fadeIn 3s 1 ease backwards);
    text-align: center;
  }

  // --------------------------------------------------------------------------
  // elements

  h1 {
    @extend %allcaps;
    @extend %transition-main;
    @include trailer;
    @include border-radius(3em);
    @include box-shadow($shadow);
    @include text-shadow($shadow-color -1px -1px 0);
    @include animation(hinge 1s 20s linear both, shake 500ms 10s linear);
    // triggers chrome bug...
    // @include animation-play-state(paused);
    display: inline-block;
    padding: rhythm(.5,$largepx) rhythm(1,$largepx);
    background: $color $noise;
    color: mix($bg,$highlight);
    // &:hover { @include animation-play-state(running); }
    &:before, &:after { content: "•"; }

    @include breakpoint(40em) { @include adjust-font-size-to($largepx); }
  }

  p {
    @include adjust-font-size-to($smallpx);
    @include trailer;
    text-align: left;
  }

  a {
    #{$link} {
      @extend %allcaps;
      color: color($blue $lightest);
    }
    #{$focus} { color: color($pink $lightest); }
  }

  em { font-style: italic; }
  strong { @extend %allcaps; }

  // --------------------------------------------------------------------------
  // pageturn

  @include enter { @include animation(fadeInDownBig 600ms linear backwards); }
  @include exit { @include animation(fadeOutUpBig 800ms ease forwards); }
}
