/* ----------------------------------------------------------------------------
   copyright */

$total-columns  : 8;

$bg             : $off-red-dark;
$highlight      : $off-red-light;
$color          : $off-red-hint;
$shadow-color   : $red-darker;
$shadow         : $shadow-color 1px 1px 0;

$bg-angle       : top;
$bg-details     : rgba($highlight,.375), rgba($highlight,0);
$bg-old         : linear-gradient($bg-angle, $bg-details);
$bg-new         : fix-linear($bg-angle, $bg-details);

$scribble-pos   : rhythm(-3.5) rhythm(-3.5);
$scribble-layer : image-url($scribble) no-repeat $scribble-pos;

#copyright {
  @include background($scribble-layer, $noise-layer, $bg-old, $bg);
  background: $scribble-layer, $noise-layer, $bg-new, $bg;
  color: $color;
  overflow: hidden;

  [role="main"] {
    @include container;
    @include rhythm-padding(2,0);
    @include text-shadow($shadow);
    text-align: center;
  }

  a {
    #{$link} {
      @extend %allcaps;
      color: $blue-lightest;
    }
    #{$focus} { color: $pink-lightest; }
  }

  h1 {
    @extend %allcaps;
    @extend %transition;
    @include animation(hinge 1s 10s linear both, shake 500ms 3s linear);
    @include animation-play-state(paused, paused);
    @include trailer;
    @include border-radius(3em);
    @include box-shadow($shadow);
    @include text-shadow($shadow-color -1px -1px 0);
    display: inline-block;
    padding: rhythm(.5,$largepx) rhythm(1,$largepx);
    background: $color $noise;
    color: mix($bg,$highlight);
    &:hover { @include animation-play-state(running, running); }
    &:before, &:after { content: "•"; }

    @include breakpoint(31em) {
      @include adjust-font-size-to($largepx);
      @include trailer(1,$largepx);
    }
    @include breakpoint(44em) {
      @include adjust-font-size-to($xxlargepx);
      @include trailer(1,$xxlargepx);
    }
  }

  p {
    @include trailer;
    text-align: left;
  }
  em { font-style: italic; }
  strong { @extend %allcaps; }
}
