// ----------------------------------------------------------------------------
// copyright

$total-columns  : 10;

$bg             : $off-red-dark;
$highlight      : $off-red-light;
$color          : $off-red-hint;
$shadow-color   : $red-darker;
$shadow         : $shadow-color 1px 1px 0;

$bg-grad        : linear-gradient(top, rgba($highlight,.25), rgba($highlight,0));
$scribble-pos    : rhythm(-3) rhythm(-3);

#copyright {
  @include background($bg image-url($scribble) no-repeat $scribble-pos);
  @include background-image(image-url($scribble), $noise, $bg-grad);
  background-repeat: no-repeat, repeat;
  background-position: $scribble-pos, 0, 0;
  color: $color;

  [role="main"] {
    @include container;
    @include padding-leader(2);
    @include padding-trailer(2);
    @include text-shadow($shadow);
    text-align: center;
  }

  a {
    #{$link} {
      @extend %allcaps;
      color: $blue-lightest;
    }
    #{$focus} { color: $pink-lightest; }
  }

  h1 {
    @extend %allcaps;
    @include adjust-font-size-to($largepx);
    @include trailer(1,$largepx);
    @include border-radius(3em);
    @include box-shadow($shadow);
    @include text-shadow($shadow-color -1px -1px 0);
    display: inline-block;
    padding: rhythm(.5,$largepx) rhythm(1,$largepx);
    background: $color $noise;
    color: mix($bg,$highlight);

    &:before, &:after { content: "•"; }

    @include breakpoint(40em) {
      @include adjust-font-size-to($xxlargepx);
      @include trailer(1,$xxlargepx);
    }
  }

  p {
    @include trailer;
    text-align: left;
  }
  em { font-style: italic; }
  strong { @extend %allcaps; }
}
