// ----------------------------------------------------------------------------
// dedication

$total-columns: 4;
$break: 6;

$bg     : $orange-lighter;
$color  : $base;
$bg-grad   : radial-gradient(center rhythm(6), $orange-lightest, $orange-lighter, $orange-light);

#dedication {
  @include background($bg image-url($scribble) no-repeat $scribble-pos);
  @include background-image(image-url($scribble), $noise, $bg-grad);
  background-repeat: no-repeat, repeat;
  background-position: $scribble-pos, 0, 0;
  color: $color;

  [role="main"] {
    @include container($total-columns, $break);
    @include padding-leader(2);
    @include padding-trailer(.5);
    @include breakpoint(min-height 25em) { @include padding-leader(4); }
    @include breakpoint(min-height 35em) { @include padding-leader(6); }
  }

  h1 { font-weight: bold; }
  p { @include trailer; }

}
