/* ----------------------------------------------------------------------------
   dedication */

$total-columns    : 6;

$bg               : $orange-lighter;
$bg-grad          : radial-gradient(center rhythm(6), $orange-lightest, $orange-lighter, $orange-light);

#dedication {
  @include back($bg);
  @include background($scribble-layer, $noise-layer, $bg-grad, $bg);

  [role="main"] {
    @extend %transition-main;
    @include container($total-columns);
    @include rhythm-padding(2);
    @include pagepad(15 3);
  }

  h1, p {
    @extend %transition;
    @extend %shrink;
  }

  h1 { font-weight: bold; }
  p { @include trailer; }

}
