/* ----------------------------------------------------------------------------
   epigraph: cocorosie */

$trans: rgba(0,0,0,0);

@function grad() {
  $one    : $trans;
  $two    : rgba($darker,0);
  $three  : rgba($off-blue-hint,.9);
  $four   : $off-blue-light;
  $split  : 50%;
  $blur   : 0;
  $angle  : 320deg;

  @return linear-gradient($angle, $one, $two $split - $blur, $three $split + $blur, $four);
}

$bg           : $darkest;
$fg-grad      : grad();

$pg           : '#{$ch}epigraph/';
$lightning    : image-url('#{$pg}lightning.png') no-repeat scroll center rhythm(-1);
$default-pos  : top left;
$angle        : image-url('#{$pg}angle.svg') no-repeat center;

@include keyframes(lightning) {
  0%, 49%, 51%, 53%, 55%, 57%, 100% {
    background-position: $default-pos, $default-pos, center rhythm(-1);
  }
  50%{
    background-position: $default-pos, $default-pos, rhythm(-3) rhythm(-10);
  }
  52%, 56% {
    background-position: $default-pos, $default-pos, center rhythm(-3);
  }
  54% {
    background-position: $default-pos, $default-pos, rhythm(50) rhythm(-5);
  }
}

#epigraph {
  @extend %type;
  @include back($bg);
  $color: $mid;

  [role="main"] {
    @include padding-leader(2);
    @include breakpoint(min-height 25em) {
      @include padding-leader(5);
    }
  }

  .lightning {
    @include stretch;
    @include animation(lightning 10s infinite);
    @include background($noise, $fg-grad, $lightning);
    .no-cssgradients & {
      @include background($noise, $angle, $lightning);
      @include background-size(auto,cover,auto);
    }

  }

  blockquote {
    @include container;
    @include rhythm(0,.5,.5,2);
    @include border-radius(.5em);
    @include box-shadow($darker 0 0 .25em);
    position: relative;
    background: rgba($off-blue-hint,.95);
  }

  p { @extend %shrink; }

}
