/* ----------------------------------------------------------------------------
   404 */

$total-columns: 6;
$break        : 8;

$bgcolor    : $yellow-lighter;
$bggrad     : radial-gradient(25% top, circle,
                $yellow,
                $yellow           25%,
                rgba($yellow,0)   45%,
                rgba($yellow,0)   75%,
                $orange
              );

#fourohfour {
  @include background($bgcolor $noise);
  @include background($noise, $bggrad $bgcolor);

  [role="main"] {
    @extend %transition;
    @include container($total-columns, $break);
    @include padding-leader(2);
    @include padding-trailer(2);
    @include background(image-url($swing) no-repeat scroll 0 0 - image-height($swing));
  }

  h1 {
    @extend %transition;
    @include trailer;
    text-transform: uppercase;
    font-weight: bold;
    @include breakpoint(40em) {
      @include adjust-font-size-to($largepx);
      @include trailer(1, $largepx);
      a::after {
        @include animation(fadeIn 2s ease both infinite alternate);
        content: " »";
      }
    }
  }
  blockquote {
    @extend %shrink;
    @extend %transition;
    font-style: italic;
  }
  p { @include trailer; }
  a {
    #{$link} {
      @include transition(color 900ms);
      color: $green-dark;
    }
    #{$focus} { color: $pink; }
  }

  @include at-breakpoint($break) {
    [role="main"] { background-position: 0 0; }
    h1, p { @include pre(2); }
    h1 { @include trailer(3,$largepx); }
  }
}
