#fourohfour
  .pagewrap
    +padding-trailer(3)
  .error
    +clearfix
    +box-shadow(rgba($green-darker,$xxsmall) 0 0 $xxsmallpx inset)
    padding: rhythm(1) side-gutter()
    background: $green-hint
    background: rgba($green-hint,$small)
    +small
      +hpadding(side-gutter() + columns(1))
    +medium
      +hpadding(side-gutter() + columns(3))

  h2, a
    @extend .allcaps

  h2
    +trailer(.5)

  .home
    +float(right)
    &::after
      content: " »"