// ----------------------------------------------------------------------------
// home page

$total-columns: 6;
$minor-break: 24em;

$img      : 'frontmatter/';
$homeimg  : '#{$img}home/';
$swing    : '#{$homeimg}swing.png';
$scribble : '#{$img}scribble.png';

#home {
  @extend %template;

  [role="main"] {
    @include transition(background-position 300ms);
    background: image-url($swing) no-repeat scroll 0 0 - image-height($swing);
    background: image-url($swing) no-repeat scroll, image-url($scribble) no-repeat scroll;
    background-position: 0 0 - image-height($swing), right rhythm(40);
  }

  .intro, .actions, .instructions {
    @include clearfix;
  }

  .actions {
    .act {
      @include media($minor-break) {
        @include span-columns(3);
        &:last-child { @include omega; }
      }
    }
    a {
      #{$link} {
        @include border-radius;
        @include rhythm-borders($border-width,.5);
        @include transition(all 300ms);
        display: block;
        color: $base;
        text-align: center;
        &:after { content: " »"; @include opacity(0); }
        &[href*="about"] { background: $yellow-lightest; }
        &[href*="title"] { background: $green-lightest; }
      }
      .no-touch & {
        #{$focus} {
          &:after {
            @include opacity(1);
            @include animation(fadeIn 1.5s infinite alternate)
          }
          &[href*="about"] { background: $yellow-light; }
          &[href*="title"] { background: $green-light; }
        }
      }
    }
  }

  .inst {
    @extend %icon;
    text-align: center;
    &:before {
      @include adjust-font-size-to($xxlargepx);
      @include trailer(.25,$xxlargepx);
      @include transition(color 300ms);
      display: block;
      color: rgba($mid,$small);
    }
    &.turn { @extend %icon-swipe; }
    &.access { @extend %icon-cog; }
    @include media($minor-break) {
      @include span-columns(3);
      &:last-child { @include omega; }
    }
  }

  @include at-breakpoint($break) {
    [role="main"] {
      @include padding-leader(2);
      background-position: 0 0;
      background-position: 0 0, right rhythm(13);
    }
    .intro, .actions, .instructions {
      @include pad(2,2);
      clear: both;
    }
  }
}

.warning {
  @include border-radius;
  @include rhythm-borders(2px,.5);
  background: $red-lightest;
}
