// mixins --------------------------------------------------------------------

=button($c:$green,$i:false,$lines:.25,$context:$normpx)
  $high: tint($c,$hint-tint)
  $low: shade($c,$dark-shade)
  $border: shade($c,$darker-shade)
  $img: linear-gradient(top, rgba($high,$xsmall), rgba($c,0), rgba($low,$xsmall))
  $hov: linear-gradient(top, rgba($c,0), rgba($border,$xsmall))

  @if lightness($c) >= 50%
    +text-shadow(rgba($high,$xsmall) 0 1px 0)
    color: $base
  @else
    +text-shadow(rgba($low,$xsmall) 0 1px 0)
    color: $hint

  @if $i
    $img: image-url($i), $img
    $hov: image-url($i), $hov

  +border-radius
  +rhythm-borders(1px,$lines,$context)
  +background-image($img)
  background-color: $c
  border-color: $border
  text-align: center

  #{$focus}
    +background-image($hov)

  &:active
    +box-shadow($border 0 0 rhythm(.25) inset)

.check
  @extend .allcaps
  +adjust-font-size-to($xsmallpx,.75,$smallpx)
  a
    +leading-border(1px,.125,$xsmallpx)
    display: block
    color: $red-darkest
    border-color: $red-lightest
    background: rgba($red-light,$xxsmall)
    &::before
      +opacity(.75)
      content: image-url('ui/x.png')
      margin: 0 rhythm(.375)
    #{$focus}
      color: $red-darkest
      background: rgba($red-light,$xsmall)
      &::before
        +opacity(1)

.successful
  a
    color: $base
    background: none
    &::before
      content: image-url('ui/check.png')
    #{$focus}
      color: $green-darkest
      background: rgba($green-lighter,$xxxsmall)

// home page -----------------------------------------------------------------

#home
  +text-shadow($white 0 1px 0)
  +background($pink-hint linear-gradient(top, rgba($pink-lighter,$xxxsmall), rgba($pink-lighter,0) rhythm(12)))

  .pagewrap
    +media-container
    +background($pink-hint)
    +box-shadow(rgba($pink-lighter,$xsmall) 0 0 rhythm(1))
    background: $pink-hint
    overflow: hidden

  .novel-title
    +trailer(.25)
    +hpadding(side-gutter())
    text-align: center
    p
      +trailer(0)
    .name
      +adjust-font-size-to($largepx,1.5)
      +leader(1,$largepx)
    .tagline, .byline
      @extend .allcaps
      +adjust-font-size-to($smallpx)
      display: inline

  // Main Info ---------------------------------------------------------------
  .info
    +title($cyan-hint,$xsmall)
    +clearfix
    +padding-leader(1)
    +padding-trailer(1)
    +hpadding(side-gutter())

  .read
    em
      @extend .allcaps
      font-style: normal

  .good
    +button($green-lighter,false,.25,$smallpx)
    display: none
    em
      display: block

  .extra
    +adjust-font-size-to($smallpx)
    display: none

  .description
    +trailer(.5)
    clear: both
    h2
      @extend .allcaps
    p
      +adjust-font-size-to($smallpx,.75)
      +trailer(0)

  +small
    .info
      +hpadding(side-gutter())
    .extra
      display: block
    .description
      +pad(1,1,12)

  +small(height)
    .novel-title
      +animation(linetiny 75s infinite both)
      +padding-trailer(2.5)
      background: image-url($line) repeat-x scroll 0 bottom
      .name
        +leader(0)

  @media (min-width: 980px) and (min-height: 350px)
    .pagewrap
      background:
        image: image-url($strings-left), image-url($strings-right)
        position: left top, right top
        repeat: no-repeat, no-repeat

  +medium
    .info
      +hpadding(side-gutter())

    .read
      +columns(4,12)
      +omega(12)

    .description
      +columns(8,12)
      +hpadding(0)
      clear: none

  // Browser Support ---------------------------------------------------------
  .bad
    +adjust-font-size-to($smallpx,.75)
    +rhythm-borders(1px,.25,$smallpx)
    +border-radius
    +box-shadow(rgba($red-light,$small) 0 0 $xsmallem inset)
    +text-shadow(rgba($lightest,$xsmall) 0 1px 0)
    display: block
    background: rgba($red-lighter,$small)
    border-color: $off-red
    p
      @extend .allcaps
      +trailer(.125,$smallpx)

  .checklist
    +no-style-list

  @media all and (min-width: 0px)
    .media
      @extend .successful

  .fontface & .fontface, .opacity & .opacity, .rgba & .rgba,
  .cssgradients & .cssgradients, .multiplebgs & .multiplebgs,
  .backgroundsize & .backgroundsize
    @extend .successful

  +support
    .good
      display: block
    .bad
      display: none

  // Funding -----------------------------------------------------------------

  .support
    +media-full
    +leader

    p
      +adjust-font-size-to($smallpx)

  // Footer ------------------------------------------------------------------

  .pageinfo
    +clearfix
    +adjust-font-size-to($smallpx)
    background: $blue-hint

  .copyright, .colophon
    +media-full
    +leader
