// mixins --------------------------------------------------------------------

.check
  @extend .allcaps
  a
    display: block
    color: $red-darkest
    background: image-url('ui/x.png') no-repeat scroll $xxsmallpx/2
    padding-left: image-width('ui/x.png') + $xxsmallpx
    #{$focus}
      color: $red-darkest
      background-color: rgba($red-light,$xsmall)
      &::before
        +opacity(1)

.successful
  display: none

.checklist
  +no-style-list

  @media all and (min-width: 0px)
    .media
      @extend .successful

  // .fontface & .fontface, .opacity & .opacity, .rgba & .rgba,
  .cssgradients & .cssgradients, .multiplebgs & .multiplebgs,
  .backgroundsize & .backgroundsize
    @extend .successful

// home page -----------------------------------------------------------------

#home
  +background-image(linear-gradient(bottom, rgba($pink-lightest,$xxxsmall), rgba($pink-lightest,0) rhythm(12)))
  background-color: $pink-hint

  .pagewrap
    +media-container

  h2
    @extend .allcaps
    +adjust-font-size-to($medpx,1.5)

  .novel-title
    +media-full
    +trailer(.25)
    +transition(padding 300ms)
    text-align: center
    +small(height)
      +padding-leader(5,$smallpx)
      background: image-url('frontmatter/home/tree.png') no-repeat scroll top
    +small(both)
      +padding-leader(5)
    +medium
      +padding-leader(1.5)
      +padding-trailer(1.5)
      margin-left: columns(2,10) + gutter(10)
      padding-left: image-width('frontmatter/home/tree.png') + $normpx
      background: image-url('frontmatter/home/tree.png') no-repeat scroll left
      text-align: left
    p
      +trailer(0)
    .name
      +adjust-font-size-to($largepx,1.5)
      +small
        +adjust-font-size-to($xlargepx,1.5)
    .tagline, .byline
      +adjust-font-size-to($smallpx)
      display: inline

  // Main Info ---------------------------------------------------------------
  .info
    +media-full
    +title($cyan-hint,$xsmall)
    +padding-leader(1)
    +padding-trailer(.5)
    .wrap
      overflow: hidden
    +small
      +pad(0,0)
    +medium
      +pad(0,0)

  .read, .action
    +trailer(.5)
    em
      @extend .allcaps
      font-style: normal
      white-space: nowrap

  +small
    .read, .action
      +columns(5,10)
    .action
      +omega(10)
  +medium
    .description
      +columns(8,12)
    .read, .action
      +columns(4,12)
      +omega(12)
    .read
      +leader(.25)

  .good
    +button($green-lighter,false,.25,$smallpx)
    display: none
    em
      display: block

  .fund
    +button($pink-lighter,false,.25,$smallpx)
    display: block

  .extra
    +adjust-font-size-to($smallpx)
    display: none
    +small
      display: block

  .description
    +trailer(.5)
    clear: both
    p
      +trailer(0)

  // About -------------------------------------------------------------------
  .about
    +media-full
    +clearfix
    +padding-leader(5)
    +padding-trailer(1)
    +background-size(contain)
    background: image-url('frontmatter/home/faces.png') no-repeat scroll center rhythm(.5)
    h2
      +trailer(.5,$medpx)
      text-align: center

    +small
      +pad(1,1)
      +padding-leader(5.5)
      +background-size(auto)

  .music
    +box-sizing(border-box)
    border: 1px solid $pink-darker

  iframe
    vertical-align: top

  +medium
    .about
      +pad(0,0)
    .author, .music
      +columns(6,12)
    .music
      +omega(12)

  a
    @extend .allcaps
  p
    +trailer(.5)


  // Browser Support ---------------------------------------------------------
  .bad
    +adjust-font-size-to($xsmallpx,.75)
    +rhythm-borders(1px,.25,$xxsmallpx)
    +border-radius
    +box-shadow(rgba($red-light,$small) 0 0 $xsmallem inset)
    +text-shadow(rgba($lightest,$xsmall) 0 1px 0)
    display: block
    background: rgba($red-lighter,$small)
    border-color: $off-red
    p
      @extend .allcaps
      +adjust-font-size-to($smallpx,.75,$xsmallpx)
      +trailer(.125,$smallpx)
    +small
      +rhythm-borders(1px,.5,$xsmallpx)

  +support
    .good
      display: block
    .bad
      display: none

  // Footer ------------------------------------------------------------------

  .pageinfo
    +adjust-font-size-to($smallpx)
    +media-full
    +leading-border(1px,.5,$xsmallpx)
    border-color: rgba($off-pink-light,$xxsmall)
    +small
      +leading-border(1px,.5,$smallpx)

  .copyright, .colophon
    +trailer(.5,$smallpx)
    +small
      +columns(5,10)
    +medium
      +columns(6,12)

  .colophon
    +small
      +omega(8)

  .copyright, .colophon a
    text-transform: uppercase

