/* ----------------------------------------------------------------------------
   home page */

$total-columns: 6;
$minor-break: 24em;

$pg       : '#{$ch}home/';
$swing    : '#{$pg}swing.png';
$scribble : '#{$ch}scribble.png';

#home {
  @extend %template;

  [role="main"] {
    @extend %transition-main;
    background: image-url($swing) no-repeat scroll 0 0 - image-height($swing);
    background: image-url($swing) no-repeat scroll, image-url($scribble) no-repeat scroll;
    background-position: 0 0 - image-height($swing), right rhythm(25);
  }

  .intro, .instructions { @include clearfix; }
  .intro { @extend %type; }

  $inst-size      :$medpx ;
  $inst-ico-size  :$xxlargepx ;

  .inst {
    @extend %icon;
    @include adjust-font-size-to($inst-size);
    @include trailer(.5,$inst-size);
    @include pie-clearfix;
    &:before {
      @include adjust-font-size-to($inst-ico-size, $from-size: $inst-size);
      margin-right: rhythm(.25, $inst-ico-size);
      vertical-align: middle;
    }
    &.turn { @extend %icon-swipe; }
    &.access { @extend %icon-cog; }
  }

  @include at-breakpoint($template-break) {
    [role="banner"] { @include animation(template-burst 6s ease both); }
    [role="main"] {
      @include padding-leader(2);
      background-position: 0 0;
      background-position: 0 0, right rhythm(8);
    }
    .intro, .instructions {
      @include pad(2,2);
      clear: both;
    }
  }
}

.warning {
  @include border-radius;
  @include rhythm-borders(2px,.5);
  background: $red-lightest;
}
