// mixins --------------------------------------------------------------------

.check
  a
    display: block
    position: relative
    padding-left: rhythm(1,$smallpx)
    background: image-url('ui/x.png') no-repeat scroll rhythm(.25,$smallpx)

.successful
  @extend .check
  a
    background-image: image-url('ui/check.png')

.checklist
  .fontface & .fontface, .rgba & .rgba,
  .cssgradients & .cssgradients, .multiplebgs & .multiplebgs,
  .backgroundsize & .backgroundsize, .cssanimations & .cssanimations,
  .csstransforms & .csstransforms, .csstransitions & .csstransitions
    @extend .successful

// home page -----------------------------------------------------------------

#home
  +background-image(linear-gradient(bottom, rgba($pink-lightest,$xxxsmall), rgba($pink-lightest,0) rhythm(12)))
  background-color: $pink-hint

  .pagewrap
    +media-container
    +box-shadow(rgba($pink-dark,$xxxsmall) 0 0 rhythm(.5) inset)
    background: mix($pink-hint,$white)
    background: rgba($white,$xxsmall)
    overflow: hidden
    .ie &
      border: 1px solid $pink-lightest
        width: 0px 1px

    +medium(both)
      background: image-url($strings-left) no-repeat scroll left rhythm(-.5), rgba($white,$xxsmall) image-url($strings-right) no-repeat scroll right rhythm(-.5)

  .novel-title
    +clearfix
    +trailer(.25)
    +transition(padding 300ms)
    +hpadding(side-gutter())
    text-align: center
    p
      +trailer(0)
    +small(either)
      +padding-trailer(3)
      background: image-url($line) repeat-x scroll bottom
    +small(both)
      +padding-trailer(2)
    +medium
      +padding-trailer(2)

  .name
    @extend .allcaps
    +adjust-font-size-to($largepx,1.5)
  .byline
    +adjust-font-size-to($smallpx)

  .wrap
    +media-full
    +pie-clearfix

  // Main Info ---------------------------------------------------------------
  .info
    +leading-border(1px,1)
    +trailing-border(1px,.5)
    +box-shadow(rgba($blue-dark,$xxxsmall) 0 0 rhythm(.5) inset)
    background: $blue-hint
    background: rgba($blue-hint,.85)
    border-color: $blue-lighter
    border-color: rgba($base,$xxxsmall)

  .desc-head
    @extend .allcaps

  .read, .action
    +trailer(.5)
    em
      display: block
      font-style: normal
      white-space: nowrap

  .newsletter
    +pie-clearfix
    +rhythm-borders(1px,.5)
    +hpadding(rhythm(1.5))
    clear: both
    margin: 0 rhythm(-1.5) rhythm(-.5)
    background: $blue-lightest
    background: rgba($blue-lightest,$xxxsmall)
    border-color: $blue-lighter
    border-color: rgba($blue-lighter,$xxxsmall)
    .note
      +adjust-font-size-to($smallpx)
      +trailer(0)
    .formfield
      margin: 0
      overflow: visible
    .interest-field
      +gone
    .type
      +gone
    .value
      +rhythm-borders(1px,.25,$xsmallpx)
      +trailer(.25,$smallpx)
    .submit
      +box-sizing(border-box)
      +adjust-font-size-to($xsmallpx,1,$smallpx)
      +button($pink-hint,false,.125,$xxsmallpx)
      padding: rhythm(.125,$xxsmallpx) rhythm(.5,$xxsmallpx) 0

    +small(both)
      .value
        +rhythm-borders(1px,.25,$xsmallpx)
      .submit
        +button($pink-hint,false,.125,$xsmallpx)
        padding: rhythm(.125,$xsmallpx) rhythm(.5,$xsmallpx) 0
    +medium
      .value
        +rhythm-borders(1px,.25,$smallpx)
        +columns(8,12)
      .form-actions
        +columns(4,12)
        +omega(12)
        clear: none
      .submit
        +button($pink-hint,false,.125,$xsmallpx)
        padding: rhythm(.125,$xsmallpx) rhythm(.5,$xsmallpx) 0
        width: 100%

  +small
    .info
      +hpadding(0)
    .read, .action
      +columns(5,10)
    .action
      +omega(10)
  +medium
    .description
      +columns(8,12)
    .read, .action
      +columns(4,12)
      +omega(12)

  .good
    +button($green-lighter,false,.25,$smallpx)
    display: block

  .fund
    +button($pink-lightest,false,.25,$smallpx)
    display: block

  .extra
    +adjust-font-size-to($smallpx)
    display: none
    +small
      display: block

  .description
    +trailer(.5)
    clear: both
    p
      +trailer(0)

  // About -------------------------------------------------------------------
  .about
    +clearfix
    +padding-leader(6,$smallpx)
    +padding-trailer(.5)
    +hpadding(side-gutter())
    background: image-url('frontmatter/home/faces.png') no-repeat scroll center rhythm(.5)
    +small
      +padding-leader(6)
      +hpadding(side-gutter() + columns(1) + gutter())

  .about-head
    +gone

  .music
    +box-sizing(border-box)
    border: 1px solid $pink-darker

  iframe
    vertical-align: top

  +medium
    .about
      +hpadding(side-gutter())
    .author, .music
      +columns(6,12)
    .music
      +omega(12)

  a
    @extend .allcaps
  p
    +trailer(.5)

  // Support -----------------------------------------------------------------

  .support
    +h-borders(1px,1,$xxsmallpx)
    +box-shadow(rgba($green-darker,$xxsmall) 0 0 rhythm(.5) inset)
    background-color: $green-hint
    background-color: rgba($green-hint,$xsmall)
    border-color: $green-lighter
    border-color: rgba($base,$xxxsmall)
    .wrap
      +padding-leader(6,$smallpx)
      background: image-url('frontmatter/devices.png') no-repeat scroll center top
    h3
      @extend .allcaps

  .reqhead
    @extend .allcaps
    font-size: inherit
    line-height: inherit

  .checklist
    +no-style-list
    +adjust-font-size-to($xsmallpx,.75,$smallpx)

  +small
    .suggest
      +columns(6,10)
    .you
      +columns(4,10)
      +omega(10)

  +medium
    .support
      .wrap
        +padding-leader(0)
        background-position: columns(6.5,12) rhythm(1)
    .suggest
      +columns(4,12)
    .you
      +columns(3,12)
      +omega(12)

  +small(both)
    .support
      +adjust-font-size-to($smallpx)
      +h-borders(1px,1,$smallpx)
  +medium
    .support
      +adjust-font-size-to($smallpx)

  // Footer ------------------------------------------------------------------

  .pageinfo
    +adjust-font-size-to($smallpx)
    +media-full
    +padding-leader(1)

  .license, .colophon
    +trailer(.25,$smallpx)

  .license, .colophon a
    text-transform: uppercase

  +small
    .license, .colophon
      +columns(5,10)
    .colophon
      +omega(10)

  +medium
    .license, .colophon
      +columns(6,12)
    .colophon
      +omega(12)


