#instructions
  background: $off-yellow-hint
  text-align: center

  .pagewrap
    +media-container
  .content
    +media-full
    +leader(.5)

  strong
    display: block
  p
    +trailer(0)
  img
    +trailer(.5)