#instructions
  background: $off-yellow-hint

  .pagewrap
    +media-container

  h2
    @extend .allcaps
  p
    +trailer(0)

  .how
    +full
    +trailing-border(2px,.5,$smallpx)
    +trailer(.5)
    border:
      style: dashed
      color: $off-blue-lighter
    +small
      +full
      +pad(1,1)

  .nav-inst
    +full
    +trailer
    text-align: center
    img
      +trailer(.5)
    +small
      +full

  +medium
    .how
      +columns(7)
      +omega
      padding: 0
      margin: 0
      border: 0
      +leader(3.5)
    .nav-inst
      +box-sizing(border-box)
      +columns(5)
      clear: none
      border-right: 2px dashed $off-blue-lighter

  // Support -----------------------------------------------------------------
  .support
    +h-borders(1px,.5,$xxsmallpx)
    +box-shadow(rgba($off-blue-darker,$xxsmall) 0 0 rhythm(.5) inset)
    clear: both
    background-color: $off-blue-hint
    background-color: rgba($off-blue-hint,$xsmall)
    border:
      width: 1px
      style: solid
      color: $off-blue-lighter
      color: rgba($base,$xxxsmall)
    .wrap
      +media-full
      +pie-clearfix
      +padding-leader(6,$smallpx)
      background: image-url('frontmatter/devices.png') no-repeat scroll center top
    h3
      @extend .allcaps
    .note
      +adjust-font-size-to($smallpx)
      +padding-leader(.5,$smallpx)
      clear: both
      margin: 0

  .suggest
    +trailer(.5)

  .reqhead
    @extend .allcaps
    font-size: inherit
    line-height: inherit

  .checklist
    +no-style-list
    +adjust-font-size-to($xsmallpx,.75,$smallpx)

  +small
    .suggest
      +columns(6,10)
    .you
      +columns(4,10)
      +omega(10)

  +medium
    .support
      .wrap
        +padding-leader(0)
        background-position: columns(6.5,12) rhythm(1)
    .suggest
      +columns(4,12)
    .you
      +columns(3,12)
      +omega(12)

  +small(both)
    .support
      +adjust-font-size-to($smallpx)
      +h-borders(1px,.5,$smallpx)
  +medium
    .support
      +adjust-font-size-to($smallpx)
