// ----------------------------------------------------------------------------
// settings

$total-columns  : 6;

$bg           : $off-green-lightest;

$bg-angle     : top left;
$bg-details   : $yellow-hint, $off-green-lightest;
$bg-old       : linear-gradient($bg-angle, $bg-details);
$bg-new       : fix-linear($bg-angle, $bg-details);

$pg           : '#{$ch}thanks/';

// ----------------------------------------------------------------------------
// animations

@include keyframes(balloons) {
  0% {
    @include opacity(0);
    @include translateY(rhythm(12));
  }
  25% {
    @include opacity(1);
    @include translateY(0);
  }
  75% { @include opacity(1); }
  100% {
    @include opacity(0);
    @include translateY(rhythm(-36));
  }
}

/* ----------------------------------------------------------------------------
   thanks */

#thanks {
  @extend %type;
  @include background($scribble-layer, $noise-layer, $bg-old, $bg);
  background: $scribble-layer, $noise-layer, $bg-new, $bg;
  position: relative;
  overflow: hidden;

  [role="main"] {
    @include container;
    @include padding-leader(2);
    div { @include trailer; }
  }

  // --------------------------------------------------------------------------
  // elements

  h1, h2 { font-weight: bold; }
  h1 {
    @extend %allcaps;
    @include adjust-font-size-to($xxlargepx);
  }

  ul {
    @include delimited-list;
    li {
      &:before {
        position: relative;
        content: '';
        margin: 0;
        right: auto;
      }
      &:last-child {
        &:before { content: 'and '; }
        &:after { content: '.'; }
      }
    }
  }

  .collaborators {
    ul li {
      &:after { content: ';'; }
      &:last-child:after { content: '.'; }
    }
  }
}

// ----------------------------------------------------------------------------
// balloons

@import "frontmatter/thanks/-s-balloons/*.png";

$balloon-count  : 7;

.balloon {
  @for $i from 1 through $balloon-count {
    &:nth-child(#{$i}) {
      @include -s-balloons-sprite(balloon#{$i});

      @if $i == 1 { // RED
        @include animation-delay(2s);
        @include animation-duration(18s);
        top: rhythm(1);
        left: 80%;
      }
      @if $i == 2 { // ORANGE
        @include animation-delay(0s);
        @include animation-duration(10s);
        top: rhythm(8);
        right: 87%;
      }
      @if $i == 3 { // YELLOW
        @include animation-delay(6s);
        @include animation-duration(15s);
        top: rhythm(12);
        left: 75%;
      }
      @if $i == 4 { // GREEN
        @include animation-delay(3s);
        @include animation-duration(12s);
        top: rhythm(18);
        right: 79%;
      }
      @if $i == 5 { // CYAN
        @include animation-delay(8s);
        @include animation-duration(20s);
        top: rhythm(28);
        left: 90%;
      }
      @if $i == 6 { // BLUE
        @include animation-delay(10s);
        @include animation-duration(15s);
        top: rhythm(36);
        right: 92%;
      }
      @if $i == 7 { // PINK
        @include animation-delay(12s);
        @include animation-duration(10s);
        top: rhythm(42);
        left: 78%;
      }
    }
  }

  // --------------------------------------------------------------------------
  // breakpoints

  @include breakpoint(50em) {
    @include animation(balloons linear infinite both);
    display: block;
    position: absolute;
    width: -s-balloons-sprite-width(balloon1);
    height: -s-balloons-sprite-height(balloon1);
  }
}