// ----------------------------------------------------------------------------
// settings

$pg                 : '#{$ch}titlepage/';

// ----------------------------------------------------------------------------
// images

$scribble           : '#{$ch}scribble.png';
$line               : '#{$pg}line.png';
$left               : '#{$pg}strings_left.png';
$right              : '#{$pg}strings_right.png';

// ----------------------------------------------------------------------------
// background

$bg                 : color($pink $hint);

$bg-angle           : 120deg;
$bg-details         : color($off $green lightest, 0) 50%,
                      color($off $green lightest) 50%;
$bg-old             : convert-gradient($bg-angle, $bg-details);
$bg-grad            : linear-gradient($bg-angle, $bg-details);

$grad-hide          : 9999px 0;
$grad-pos           : center;

$bg-layer-old       : $bg $bg-old no-repeat $grad-pos;
$bg-layer           : $bg $bg-grad no-repeat $grad-pos;

// ----------------------------------------------------------------------------
// line

$line-pos           : 48%;
$line-break         : 53em;

$line-start         : image-width($line);
$line-end           : 0;

$line-layer         : image-url($line) repeat-x scroll $line-start $line-pos;

// ----------------------------------------------------------------------------
// animations

@include keyframes(gradientIn) {
  0% { background-position: center, $grad-hide; }
  100% { background-position: center, $grad-pos; }
}

/* ----------------------------------------------------------------------------
   title: Into the Green Green Mud */

#title {
  @include background($noise-layer, $bg-layer-old);
  background: $noise-layer, $bg-layer;


  // --------------------------------------------------------------------------
  // page turns

  @include enter { @include animation(gradientIn 3s 1s 1 backwards); }
}
