// ----------------------------------------------------------------------------
// settings

$img                : 'frontmatter/';
$scribble           : '#{$img}scribble.png';

$title-angle        : 330deg;
$title-details      : color($pink $hint),
                      color($pink $hint) 50%,
                      color($off $green $lightest) 50%,
                      color($off $green $lightest);
$title-old          : linear-gradient($title-angle, $title-details);
$title-new          : fix-linear($title-angle, $title-details);

$titleimg           : '#{$img}titlepage/';
$line               : '#{$titleimg}line.png';
$left               : '#{$titleimg}strings_left.png';
$right              : '#{$titleimg}strings_right.png';
$angle              : '#{$titleimg}angle.svg';

$angle-layer        : image-url($angle) no-repeat scroll center;

$bg                 : color($off $green $lightest);
$line-pos           : 52%;
$grad-pos           : center;
$line-break         : 53em;

$line-start         : image-width($line);
$line-end           : 0;

$line-layer         : image-url($line) repeat-x scroll $line-start $line-pos;

$string-pos         : top;
$show-left          : left $string-pos;
$show-right         : right $string-pos;
$string-left-layer  : image-url($left) no-repeat scroll $show-left;
$string-right-layer : image-url($right) no-repeat scroll $show-right;

// ----------------------------------------------------------------------------
// animations

@include keyframes(line) {
  0% { background-position: $show-left, $show-right, $line-start $line-pos; }
  100% { background-position: $show-left, $show-right, $line-end $line-pos; }
}

/* ----------------------------------------------------------------------------
   title: Into the Green Green Mud */

#title {
  @extend %transition;
  @include back($bg);
  @include background($noise-layer, $title-old, $bg);
  background: $noise-layer, $title-new, $bg;

  .no-cssgradients & {
    @include background($noise-layer, $angle-layer, $bg);
    @include background-size(auto, cover);
  }

  // --------------------------------------------------------------------------
  // structure

  [role="main"] {
    @include transition(padding 300ms);
    @include box-sizing(content-box);
    @include rhythm-padding;
    @include pagepad(15 1, 18 2);
    color: $darker;
    text-align: center;

    @include breakpoint($line-break) {
      @include animation(line 30s linear infinite both);
      @include background($string-left-layer, $string-right-layer, $line-layer);
      @include background-origin(content-box);
      height: rhythm-image($left);
    }
  }

  // ----------------------------------------------------------------------------
  // elements

  h1 {
    @include adjust-font-size-to($largepx);
    font-weight: bold;
  }
  h2 {
    @include padding-trailer(6.5);
    @include trailer(.5);
    background: image-url($scribble) no-repeat scroll center bottom;
  }

  a {
    #{$link} {
      @extend %allcaps;
      color: color($off $blue $dark);
    }
    #{$focus} { color: color($off $pink $dark); }
  }
}
