// epigraph ------------------------------------------------------------------

#epigraph
  background: $off-blue-lightest image-url('dancing/belonely.png') no-repeat scroll left 90%
  position: relative
  overflow: hidden
  .pagewrap
    +media-container
  .content
    +media-full
    +prefix(1)
    +adjust-font-size-to($smallpx)

  .tree
    +stretch(-50%,-50%,-50%,50%)
    +rotate(3deg)
    background: $off-orange-lighter
    background: rgba($off-orange-lighter,$small)
    border: 1px solid
    .no-rgba &
      +opacity($small)

  blockquote
    +border-radius
    +rhythm-borders(1px,.5,$xsmallpx)
    background: $off-orange-hint
    background: rgba($off-orange-hint,.95)
    position: relative
    z-index: 10
    .no-rgba &
      +opacity(.95)
    &:hover
      +animation(swing .3s)

  p
    &:last-child
      +trailer(0)
      font-style: normal

  +small
    .content
      +pad(3,1)

  +medium
    .content
      +pad(4,1)
      font: inherit
